[2015-05-22 08:43] tiborsimko commented on #1241
Good, please check if this is still wanted, and let's proceed from that.

[2015-05-22 09:21] tiborsimko commented on #1695
This was fixed in later releases (v1.1) by means of using `dateutil.relativedelta`.

[2015-05-22 09:21] #1695 closed

[2015-05-22 09:27] lnielsen commented on #1512
Yes, let's close it

[2015-05-22 10:35] tiborsimko commented on #1047
I've tested that this works now in maint-1.2 branch, so I'm closing this ticket.  (Fixed via #2908 and related earlier commits.)

[2015-05-22 10:35] #1047 closed

[2015-05-26 07:33] jmartinm opened #3157 "collections: collection: Vs cc="
Using latest `master` my understanding was that the following queries were going to be equivalent:

https://qa.inspirehep.net/search?p=collection:Institutions
https://qa.inspirehep.net/search?cc=Institutions

But does not seem to be happening. Is it a problem of our installation or `cc` is still supposed to be used?

@jirikuncar

[2015-05-26 07:49] jirikuncar commented on #3157
`cc` should be still used. `c` argument has been deprecated and one should use `p=collection:"Bar"` instead.

[2015-05-26 07:49] #3157 closed

[2015-05-26 08:31] hachreak commented on #3145
Ok, we need to discuss with @jirikuncar the best solution.
So, I think the behavior that you describe need a separate Issue.

To close this issue I propose to:
- [ ] Fix compatibility with PostgreSQL, making sure that SQLAlchemy will set NULL on user_id in oauth2CLIENT and oauth2TOKEN tables.
- [ ] Fix the testsuite to clean the tables after executing the tests.

[2015-05-26 14:45] jirikuncar commented on #3134
@nharraud what about calling it `-f/--force` or `--yes-i-know`?

[2015-05-26 14:56] #3115 closed

[2015-05-26 15:05] nharraud commented on #3134
@jirikuncar  good idea. More consistent with the rest.

[2015-05-26 18:25] jmartinm commented on #3138
Without yet looking into the code, I added this commit and I get in the console:

[code]

But `invenio.base.log` does not contain any reference to that error.

[2015-05-26 19:25] dset0x commented on #3138
@jmartinm There's a chance where we are accessing the said function but `app` is not yet initialize, in which case the code cowardly `pass`es. If

* your logfile has correct permissions and is otherwise written to by invenio, and
* nothing is logged even when the warning is raised while the webpage is loading

it will require investigation.

Sorry for the problems caused. I'm still struggling to c

[2015-05-26 19:44] kaplun opened #3159 "RFC Implement relations using PostgreSQL and triggers"
In #2573, a new module is proposed to centrally handle relations across `records`. This necessity stems from the fact that Invenio is built with the paradigm of representing records as blob which are not necessarily intelligible to a relational database.

This might lead somehow to reimplement the wheel, since relations is the core business of any relational database. However to natively profit fr

[2015-05-26 20:20] jmartinm opened #3160 "bibdocfile: 404 on file URLs"
How to reproduce
=============

For example, in the Invenio demo site, click on any file (with URL like `http://localhost:8888/record/59/files/0204143.pdf`)

to get:

![screenshot 2015-05-26 22 18 05](https://cloud.githubusercontent.com/assets/580727/7822346/2151b2fa-03f5-11e5-8190-19f35951ffd1.png)

Same happens if a new file is uploaded through FFT and then tries to be accessed. The metadata ref

[2015-05-26 20:35] jirikuncar commented on #3160
Probably `get_record(recid, reset_cache=True)` needs to be called.

[2015-05-26 20:49] jirikuncar commented on #3138
There are several points to clarify this issue:

- Flask-DebugToolbar should be used only for debugging and any log messages that originates there should be ignored as it's touching all variables in on all stack levels (see bellow)
[code]
- Deprecation message should be improved by adding the name of the variable and correct stack level.
- IMHO no other changes in logging needs to be done as the p

[2015-05-27 05:33] glouppe commented on #3159
+1 for deciding on a core dependency like PostgreSQL and leveraging its full potential.

[2015-05-27 07:12] blixhavn opened #3161 "template: make invenio_format_date filter more robust"
At the moment, the `invenio_format_date` filter defined [here](https://github.com/inveniosoftware/invenio/blob/master/invenio/ext/template/__init__.py#L188) requires a datetime string of the format `2005-11-16 15:11:57`. If given anything else, it prints "N/A".

As a way to make this filter more robust, and thus applicable to more use cases, I think that it should be expanded to accept other possi

[2015-05-27 07:25] dset0x commented on #3138
Can do.

Do you have any proposal as of how how to do that? This was part of "Solution 2", but it seems infeasible to me.

I'm not sure what you mean by this; what's the relationship between this and the removal of `invenio.config`?

[2015-05-27 07:39] #2040 closed

[2015-05-27 09:13] jirikuncar commented on #3089
@hachreak is there still something blocking 2.1 release related to this issue?

[2015-05-27 09:30] tiborsimko commented on #3159
Yes, we had decided many moons ago to move to PostgreSQL and use its JSON capabilities to the full; including for record storage. (BTW PostgreSQL 9.5 will bring nice [JSONB updating facilities](https://wiki.postgresql.org/wiki/What's_new_in_PostgreSQL_9.5#JSONB-modifying_operators_and_functions) that will be helpful in this respect.)   We are working full speed towards having Invenio  runnable on

[2015-05-27 09:54] #2772 closed

[2015-05-27 11:57] kaplun commented on #3159
No the RFC is about exploiting PostgreSQL to its lower level in terms of triggers and stored procedures (which are not natively wrapped into SQLAlchemy) in order to implement relations within JSON subfields.

[2015-05-27 12:27] jmartinm opened #3165 "collections: upgrade recipe for tag table"
`collections` module relies on `tag` table having:

[code]

Otherwise the `collection` index will not be correct and records not visible.

An upgrade recipe should be provided so that the site admin is alerted.

[2015-05-27 12:30] tiborsimko commented on #3159
I see, I commented mostly on the third "JSON column types" item.  Regarding SQL stored procedures and SQL triggers, wouldn't application-level before/after insert/update "triggers" be sufficient?  It seems advantageous not to go *too far* into a vendor lock-in kind of situation...

[2015-05-27 20:11] MSusik commented on #3159
+1 for finally deciding on a core dependency - whether it's PostgreSQL or not.

[2015-05-28 08:17] Eothred commented on #662
Cool to see that my reported issue is still being worked on several years later, I had no idea :)

Thought I'd point out that perhaps you may find some inspiration/ideas/solutions also by looking at how desktop applications such as [BibDesk](http://sourceforge.net/projects/bibdesk/) and [KBibtex](http://home.gna.org/kbibtex/) deal with similar issues.

[2015-05-28 08:30] lnielsen commented on #3159
I assume RFC will have changed somewhat after discussions yesterday?

[2015-05-28 08:45] lnielsen commented on #3161
Note https://github.com/inveniosoftware/invenio/blob/master/invenio/ext/babel/filters.py

[2015-05-28 11:19] jirikuncar commented on #3161
Can we deprecate `invenio_format_date` since we have *Babel* filters?

[2015-05-28 11:23] lnielsen commented on #3161
I think so.

[code]

[2015-05-28 11:44] kaplun commented on #3159
Yes. Can be closed for the time being. We really need to work on producing the final workflows of how relations are going to handled and exposed, but this would be out of this RFC.

[2015-05-28 11:44] #3159 closed

[2015-05-28 14:01] nharraud opened #3169 "accounts: send email validation when a User is inserted"
It would be cleaner to send the validation email when a new `User` is inserted in the database, using SQLAlchemy `after_insert` event. However sending the validation email modifies the database, which is not permitted in `after_insert` handlers.
An attempt at this can be found here: nharraud/invenio@1ada2fa1a0ef6d569b1d7c9621ea479d707a59b9
I tried to send the email using celery to avoid modifying

[2015-05-28 14:28] tiborsimko commented on #3146
@hachreak Can you please have a look?  "master" vs "root" sounds like a PostgreSQL vs MySQL thing...

[2015-05-28 14:35] nharraud commented on #3146
@tiborsimko The problem is not coming from the user name. As said by @jalavik, `'myuser'@'%'` does not include `'myuser'@'localhost'` on mysql. Thus we need to perform two grants.
https://www.stormconsultancy.co.uk/blog/development/bug-of-the-day/todays-gotcha-localhost-is-not-included-in-the-wildcard-when-granting-mysql-permissions/

[2015-05-28 15:04] tiborsimko commented on #3146
@nharraud Yes, and I also pointed out that "master" should not be really used as a default string if people don't have any `CFG_DATABASE_USER` defined?  (rather "root", although the regular user would be called "invenio", not "root", by default)

[2015-05-28 15:12] jirikuncar commented on #3146
@tiborsimko it comes from the installation guide when people call their database same as the branch they are working on ...

[2015-05-28 15:16] tiborsimko commented on #3146
@jirikuncar Aha, OK :smile: FWIW in `invenio-devscripts` I've been using "inveniomaster" DB userr and name, so that I could have "inspiremaster", etc, for all the overlays I may be working on.  (Naked "master" seems too short to me.)

[2015-05-28 16:13] #3080 closed

[2015-05-28 16:19] jirikuncar commented on #3165
Closed via #3170.

[2015-05-28 16:19] #3165 closed

[2015-05-28 16:21] jirikuncar commented on #2980
@jalavik any progress or PR? Shall we move it for 2.1.1?

[2015-05-28 16:22] jirikuncar commented on #3070
In reply to https://github.com/inveniosoftware/invenio/issues/3070#issuecomment-102351418: @lnielsen can we close it?

[2015-05-28 16:48] jalavik commented on #2980
@jirikuncar Actually this issue was fixed via https://github.com/inveniosoftware/invenio/commit/181fb0230bdd0433006434e7a4c5ad70501e7d46 and https://github.com/inveniosoftware/invenio/commit/4b56c071c54a0e1f1a86dca49fe455207d4148c7

[2015-05-28 16:48] #2980 closed

[2015-05-28 16:53] jalavik commented on #3089
There is a related issue with exception handling in `run_sql()`. I've been trying this patch out and it seems to work: https://github.com/inspirehep/invenio/commit/14baf35144eb269ce35f8be7a1310728586a0827

PR will be incoming tomorrow.

[2015-05-28 17:04] #3146 closed

[2015-05-28 19:15] lnielsen commented on #3070
No, it's a real issue. Previous Invenio versions stored empty passwords as empty strings in the database instead of hashing them as every other value, so the upgrade recipe needs to take this into account.

[2015-05-29 07:53] #2739 closed

[2015-05-29 08:51] #2724 closed

[2015-05-29 09:44] #3160 closed

[2015-05-29 12:14] #3070 closed

[2015-05-29 14:35] kaplun opened #3182 "document: Serving legacy BibDocFile issues"
The Invenio legacy BibDocFile handler supports URL of the form:
`http://localhost/record/123/foo.pdf?version=2&subformat=pdfa`

In particular the `version` argument is required to access previous versions of a BibDocFile, and the `subformat` argument is required in order to access specific subformats of a given document (e.g. necessary to access given resolution of documents in the contest of imag

[2015-05-29 15:54] jalavik opened #3184 "access: access control problems"
You cannot access Holding Pen as superadmin currently. Also, I've noticed a few problems in the access control module.

* `CFG_SUPERADMINROLE_ID`  is not set properly due to application context issue, but exception is masked by a classic `try..except: pass`.
* There is a quote too much in a SQL query.

~~I am submitting a PR shortly~~. Done

[2015-05-31 18:23] blixhavn opened #3187 "record: request_record decorator produces 500 error when primary collection can't be guessed"
`Collection.query.filter(Collection.name == guess_primary_collection_of_a_record(recid)).one()` generates an exception when the collection can't be guessed.

https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/records/views.py#L76

[2015-05-31 18:31] blixhavn commented on #3187
The problem was due to the main collection not being updated with new site name.

[2015-05-31 18:31] #3187 closed

[2015-05-31 21:15] #3184 closed

[2015-05-31 21:16] jirikuncar commented on #3184
@jalavik thanks

[2015-06-01 07:36] jirikuncar commented on #124
See https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-mlt-query.html

[2015-06-01 08:10] jirikuncar commented on #2179
Closed via 88fb1e0c333ec60c58d76e33488cd14fe3745ec3.

[2015-06-01 08:10] #2179 closed

[2015-06-02 07:05] jalavik opened #3192 "MySQL server has gone away"
Recently, on our Invenio master staging servers we have seen a rise in exceptions related to the database connection. So called, `MySQL server has gone away` exceptions. I believe @egabancho has seen the same on the CDS Labs instances.

After a lot of back and forth on tuning with timeout parameters, we seem to have found some compromise on INSPIRE QA (at least no errors in the last 24 hours). How

[2015-06-02 07:33] hachreak commented on #3089
Until now I didn't  heard anyone that have this kind of problems with quoting.
maybe @jalavik can say us something more... :)

[2015-06-02 09:16] lnielsen opened #3194 "docker: support for boot2docker"
In general the new docker+docker compose works very nicely. I've tested it on OS X with boot2docker and found some few issues.

**Problem 1**
Boot2docker creates a minimal VirtualBox VM with docker installed on it and pipes all docker commands to that VM.
Docker-compose bridges the containers ports to the localhost network interface on the docker host, which in case of boot2docker is localhost on

[2015-06-02 09:34] crepererum commented on #3194
See:
 - https://github.com/boot2docker/boot2docker/blob/master/doc/WORKAROUNDS.md#port-forwarding
 - `docker port`
 - https://github.com/docker/docker/issues/4007

[2015-06-02 10:45] jacquerie commented on #3079
Hey @hachreak!

Are you working on
* equivalent function get_table_update_time() and get_table_status_info() for postgresql
?

If not, I'd like to tackle it.

[2015-06-02 10:58] hachreak commented on #3079
Have you some idea how do easily?

[2015-06-02 11:24] blixhavn opened #3199 "BibCirc: Inserted JS redirects user on key press when a book is returned"
This was [added intentionally in 2010](https://github.com/inveniosoftware/invenio/commit/388d4d6f2ff5c7658b18875ba9029df1e00feacc), but it disables effective return of several books. I propose that we remove this.

[2015-06-02 11:39] jacquerie commented on #3079
No, not really. In fact, from what I see, there's no way to do it easily: http://stackoverflow.com/a/12755522/374865. The other thing I'm seeing is that `get_table_status_info` only returns the status information from the last table it selected: https://github.com/inveniosoftware/invenio/blob/e9ff05f713c2e43bf8b2da1771868a5f1dc0e063/invenio/legacy/dbquery_mysql.py#L481-L511, probably not what was

[2015-06-02 11:44] jirikuncar commented on #3079
@jacquerie can you try to replace the usage of `get_table_update_time` by something like `MAX(update_time)` if exists in the table?

[2015-06-02 13:41] blixhavn commented on #3199
Since this got an RFC tag, I'll elaborate:  We got a request issue on this. The librarian uses a barcode scanner which inputs a sequence of numbers followed by <enter>. Because of this JS code, the second book scanning prompts the redirect to `/loan_return`, and she has to use the mouse to focus on the text input before scanning the next book.
If we remove this JS, she will be able to use the scan

[2015-06-02 14:42] jacquerie commented on #3079
Unfortunately, not all tables on which the `get_table_update_time` function is called have an `update_time` field, and when they a similar field it might have a different name.

For example:
[code]
where I'm guessing that `md` stands for `modification_date`. So one could write a function that uses the right column name and uses `MAX` on that, but it looks like a terrible hack on top of another hac

[2015-06-02 15:55] blixhavn commented on #2876
Would this mean that relatively small PRs (small additions and bug fixes) would also need some accompanying (and somewhat unrelated) tests for it to be accepted?
It sounds nice, but I can absolutely see this increasing the threshold for contributing.

[2015-06-03 06:47] jirikuncar commented on #2876
Should come with tests where it makes sense.

For typos or wrong imports it's not necessary, however it shows that that piece of code is not covered by tests, hence adding simple test case would be very welcome. On the other hand we should not make any exception for bug fixes in "business logic".

[2015-06-03 07:43] egabancho commented on #2876
I'm @jirikuncar, if you have a __valid__ use case that should be properly handled but it is not, IMHO together with the bug fix must come a test to cover your use case.

[2015-06-03 07:47] nharraud opened #3205 "session: missing session table makes inveniogc fail"
This was first reported in EUDAT-B2SHARE/b2share#663

SCENARIO:
- install invenio and invenio-demosite from branch maint-2.0
- `$ inveniomanage runserver`
- `$ inveniogc` (in another shell)

Bibsched log:
[code]

As we now use redis to store sessions, the session table is not created.

[2015-06-03 09:54] jacquerie commented on #3079
@hachreak: I'm also having a look at
* legacy: remove mysql specific codes (see git grep MySQLdb, git grep "SHOW TABLES", git grep "CHECK TABLE", git grep "RLIKE", git grep "PRIORITY", git grep DATE_FORMAT, regexp)

In particular, `CHECK TABLE` is only used once in `invenio/legacy/websession/inveniogc.py` as:
[code]

I think this can be safely dropped. In fact, what about dropping the entire `inve

[2015-06-03 09:58] jirikuncar commented on #3079
@jacquerie Create separate RFC. IMHO it is still used.

[2015-06-03 10:45] jacquerie opened #3209 "RFC: kill (or maim) invenio/legacy/websession/inveniogc.py?"
While working on #3079 I stumbled on `invenio/legacy/websession/inveniogc.py`, which uses a few MySQL-only constructs.

One option I see is killing the entire script: the parts that are still needed can be implemented as cron jobs or fab tasks, the rest of the cruft can be trashed.

In alternative, we can wrap any code that uses MySQL-specific syntax with a:
[code]
This is still a backwards-breaki

[2015-06-03 11:16] tiborsimko opened #3211 "PostgreSQL: create equivalent function get_table_update_time() and get_table_status_info()"
- stems from #3079 roadmap issue

[2015-06-03 11:18] tiborsimko opened #3212 "bibsort: fix `database create` error (`bibsort -u admin --load-config` return error) for PostgreSQL"
- stems from #3079 roadmap issue

[2015-06-03 11:18] jalavik commented on #3209
:+1: On splitting these up to (a) existing scripts (for example some database operations can live under `inveniomanage database ...`).

We could list the various tasks that inveniogc is doing and evaluate which ones are worth migrating/keeping/killing.

[2015-06-03 11:19] tiborsimko opened #3213 "travis: add PostgreSQL to test matrix"
- stems from #3079 roadmap issue

[2015-06-03 11:20] tiborsimko opened #3214 "global: remove MySQL specific legacy code"
- legacy: remove mysql specific codes (see `git grep MySQLdb`, `git grep "SHOW TABLES"`, `git grep "CHECK TABLE"`, `git grep "RLIKE"`, `git grep "PRIORITY"`, `git grep DATE_FORMAT`, `regexp`)

- stems from #3079 roadmap issue

[2015-06-03 11:31] tiborsimko commented on #3079
Note that I've created a separate issue for every item listed in the original ticket description that was not having one yet.

In this way we can discuss specific points in their own issues, and keep this meta-issue very slim here, basically for overview purposes.  If something new pops out, let's always open a new issue and let's reference it in the original description here. In this way people c

[2015-06-03 11:55] hachreak opened #3215 "SQLAlchemy: boolean value on PostgreSQL"
A Boolean column on PostgreSQL doesn't accept as True/False value as 1/0.

[2015-06-03 12:00] jirikuncar commented on #3215
@hachreak can you try to modify our `Boolean` column using http://docs.sqlalchemy.org/en/latest/core/custom_types.html#augmenting-existing-types?

[2015-06-03 12:01] hachreak opened #3216 "PostgreSQL: serial id is not update after manually creation a admin user"
I have not exactly undestand why, but tests fails when try to create a new user, because PostgreSQL try to assign id = 1 (that already exists in database).
I found a solution moving [this code](https://github.com/inveniosoftware/invenio/blob/master/invenio/ext/legacy/__init__.py#L50-L54) inside a fixture.

[2015-06-03 12:06] hachreak commented on #3215
I already resolved the issue with: https://github.com/hachreak/invenio/commit/9888fb24e85734397124d1e3dc40722e8c2ef6c1

[2015-06-03 12:10] hachreak opened #3217 "SQLAlchemy: UUID value on PostgreSQL"
I had some issue with UUID column on PostgreSQL because in models we mix String column with UUID.
It worked with mysql because of [this](https://github.com/hachreak/invenio/blob/master/invenio/ext/sqlalchemy/types/guid.py#L38) where UUID was "casted" as chars.
But it's not the same for any other database server.

[2015-06-03 12:12] #3194 closed

[2015-06-03 12:14] jirikuncar commented on #3215
:+1:

[2015-06-03 12:17] jacquerie commented on #3216
Maybe I'm misunderstanding something, but isn't this expected? You try to create a user with `id = 1`, which is impossibile, since there's already one. Here's what I see in an `inveniomanage shell` session:
[code]

[2015-06-03 12:17] hachreak opened #3218 "PostgreSQL: foreign key problems when delete records"
In MySQL the problem does not occur because the engine MyISAM doesn't support foreign keys.

[2015-06-03 12:26] jirikuncar commented on #3218
Do you have a traceback?

[2015-06-03 12:28] hachreak opened #3219 "PostgreSQL: use a passlib to create cookie instead of internal AES function"
With PostgreSQL could be a problem the use of AES internal function of SQLAlchemy.
I'll replace it with the use of passlib.

[2015-06-03 12:39] jacquerie commented on #3214
There's also `SHOW CREATE TABLE`, which was used in the past in `invenio/modules/upgrader` to build the upgrade recipe. Should these be migrated as well?

[2015-06-03 12:43] hachreak commented on #3216
The [code](https://github.com/inveniosoftware/invenio/blob/master/invenio/ext/legacy/__init__.py#L50-L54) is called after database creation to fill the database with some records.
One of this record is the admin user in User table.
And it's ok.
The problem is when in a testsuite I try to create a temporary user useful for some test.
In those cases, I received the `Duplicate` error as if the curren

[2015-06-03 13:31] hachreak opened #3221 "global: fix CFG_TMPSHAREDIR with correct name CFG_TMPSHAREDDIR"
- [ ] In module workflows and plotextractor there are 3 points where the variable's name is wrong.

`git grep CFG_TMPSHAREDIR`

[code]

- [ ] The variable `direct_xml_output` in `invenio/utils/plotextractor/cli.py` is not defined. After the commit https://github.com/inveniosoftware/invenio/commit/e79c44ffe37371a13825ca24f6e5c6e46da9a82b it disappears.

[2015-06-03 13:53] jirikuncar commented on #3214
@jacquerie IMHO you can ignore old upgrade recipes.

[2015-06-03 13:56] hachreak opened #3222 "RFC plotextractor Vs Flask-IIIF"
I'm reading the code inside plotextractor cli and I found function like [rotate_image](https://github.com/inveniosoftware/invenio/blob/master/invenio/utils/plotextractor/cli.py#L421).
It's still necessary or we can deprecate it in favor of Flask-IIIF?

@drjova @jirikuncar

[2015-06-03 14:01] jalavik commented on #3222
I think plotextractor probably can be deprecated from Invenio as it is only used by INSPIRE since it is directly tied with arXiv.org and the processing of tarballs from arXiv. It could either live on the INSPIRE overlay or separate package. Personally I favor the former.

Furthermore, this utility is "stable" and will probably not be touched much in the near future.

@kaplun @jirikuncar

[2015-06-03 14:13] jacquerie commented on #3214
Ok! :+1:

[2015-06-03 14:24] Kennethhole opened #3224 "BibIndex: incremental indexing leak?"
When an index is defined like this:

[code]

and you change title having indicators:

[code]

then `affected_fields` says:

[code]

but regular indexer does not see the need to index this record.

Perhaps due to `2451_%`not being seen as part of `245%a`?

[2015-06-03 14:41] tiborsimko commented on #3224
Seems related to #2696.

[2015-06-03 15:40] kaplun commented on #3222
Yes, see also: #2853. We should add there plotextractor.

[2015-06-03 15:56] jalavik commented on #2853
I can volunteer for the pdfchecker and plotextractor. Anything HepData we can just kill outright as it is re-implemented by @eamonnmag and on INSPIRE Labs we'll reuse any widgets from there.

[2015-06-04 12:18] nharraud opened #3226 "deposit: improve file upload workflow"
(this issue was previously there: inveniosoftware/invenio-demosite#63)

SCENARIO:
- user creates a new submission and fill mandatory fields
- user clicks on `choose files` and choose a file
- user click on `submit`

RESULT:
The new created submission does not have any document even though the user chose a document.

PROPOSED SOLUTIONS:
1. Display a popup warning if the user chose a file without up

[2015-06-05 14:22] jacquerie commented on #3089
The following `ag` reveals a few more instances of unquoted table names (with some false positives): `$ ag --python -i "run_sql\(.*\s+from\s+[^\"]"`. In particular we have:
[code]

[2015-06-05 14:26] hachreak commented on #3089
Only names with uppercase inside explicitly require quoting.

e.g.
[code]
Doesn't require.
[code]
It requires quoting as `SELECT * FROM fuuBar`.

[2015-06-05 14:29] jacquerie commented on #3089
Yes, that query has a lot of false positives, but a few hits as well: https://github.com/inveniosoftware/invenio/blob/0127513fd85bf5e9eeb8281957e10e2bb343ba10/invenio/modules/sequencegenerator/backend.py#L50

[2015-06-05 14:35] hachreak commented on #3089
:+1: can you catch with `ag` only which contain at least one uppercase char? :)

[2015-06-05 14:46] jacquerie commented on #3089
Maybe this? `ag --python "run_sql\(.*\s+(from|FROM)\s+[^\"][a-z]+[A-Z]+"` (63 results)

[2015-06-05 14:52] hachreak commented on #3089
Thanks! I'm fixing now this results... ;)

[2015-06-05 15:00] hachreak commented on #3214
We need also find a equivalent for postgresql of `git grep "ON DUPLICATE KEY UPDATE"`

[2015-06-05 15:00] jacquerie commented on #3089
BTW: @jirikuncar told me that migrating the various upgrade recipes isn't important, so we don't need to care about those.

[2015-06-05 15:03] crepererum commented on #2854
I start to using this approach for deposit forms in the analysis preservation project. It won't cover all the mentioned features, but the first results look very very promising. My current plan is to create a special `JsonField` field for the deposit, which uses the json-editor as a frontend and validates the schema in the editor (for convenience) and on the server side (for security). So if someo

[2015-06-05 15:06] hachreak commented on #3089
yes! :dancer:

[2015-06-05 20:00] kaplun commented on #3099
I am not sure if `accROLE_accACTION_accARGUMENT.id_accARGUMENT` should a foreign key at all. `id_accARGUMENT` identifies a possible group or rows within `accARGUMENT` having the same `id` (hence the `id` is not even a primary key). Additionally it has the special value `-1` to mean no argument.

So we could simply drop the `foreign key` property, or transform the code so that whenever `-1` is used

[2015-06-05 20:01] kaplun commented on #3209
:+1:

[2015-06-06 08:23] blixhavn opened #3227 "template: jinja2 is missing a simple test for lists"
As long as this is lacking from the official jinja2 tests, we should add one to our own filters and tests.

[2015-06-08 07:26] jirikuncar commented on #3209
Hopefully some of the GC tasks can be removed by using `ON DELETE CASCADE` on foreign keys.

[2015-06-08 09:21] jacquerie commented on #3089
Just noticed that this affects column names as well, for example: https://github.com/inveniosoftware/invenio/blob/0127513fd85bf5e9eeb8281957e10e2bb343ba10/invenio/legacy/oairepository/updater.py#L76.

A simple regex to find some of these: `ag --python "run_sql\(\s*.*\s+(where|WHERE)\s+[^\"][a-z\_]+[A-Z]+"`.

BTW, I'm using `inveniomanage demosite populate --packages=invenio_demosite.base --yes-i-k

[2015-06-08 09:31] hachreak commented on #3089
yes, I wrote all incompatibilities here: https://github.com/inveniosoftware/invenio/issues/3079

[code]

[2015-06-08 12:02] kaplun opened #3230 "WebSearch: Solr-based fulltext search does not work for single letters"
Currently when searching for fulltext using Solr, searching single letters does not return any result. This has in impact on HEP papers, where particles are often referred by single letters.

[2015-06-08 12:50] kaplun commented on #3209
Note that @switowski worked on several more improvements to GC (driven by CDS) that needs to be considered for this exercise (#2959)

[2015-06-08 12:58] kaplun commented on #3209
Added to the initial RFC

[2015-06-08 13:46] tiborsimko opened #3232 "roadmap: fully functional Elasticsearch IR"
- [ ] #2657 finish initial elasticsearch IR implementation
  -  initialise Elasticsearch
  - `invenio.ext.elasticsearch`
  - query parser to Elasticsearch
  - remove json_producer and friends that are not needed anymore
- [ ] #2718 introduce index configurations
  - first with native analysers
- [ ] pluggable Pythonic value enhancers (custom tokenisers)
  - e.g. name permutations
- [ ] remove depr

[2015-06-08 15:08] lnielsen opened #3233 "roadmap: legacy removal"
These modules are going to disappear/be reimplemented by v2.2.0 (see also: http://simko.home.cern.ch/simko/tmp/invenio-3-roadmap-2015-04-01/invenio-3-legacy-renaissance.png)

This would accelerate achievement of parallel roadmap #3079.
An orthogonal roadmap related to simplifying the code base is #3126.

- [x] WebAlert (@egabancho)
- [x] WebBasket (@egabancho)
- [x] WebComment (@hachreak)
- [x] We

[2015-06-08 19:13] kaplun commented on #2573
After several discussions, parallel meeting, forums... :smile: we came to the current conclusion that relations are going to be implemented in the most naïf way, i.e. by simply storing in a given subfield within the JSON representation of a record (see #2854) the identifier of an other record.

Resolving the external record has to be implemented on a case by case. E.g. elasticsearch will have dedi

[2015-06-08 19:16] #2573 closed

[2015-06-09 05:22] Kennethhole opened #3234 "BibSort: Non-consistent sort by author for records without author"
Two related bugs:

1. Records without an author are not displayed when sorting by author (unless the complete search result is shown on first page).
2. Records without an author are displayed on top instead of on the button (when you manage to avoid the bug in point one).

Example from the Invenio demo site:

The book collection contains 14 records, whereas 12 have an author. When you choose to di

[2015-06-09 11:13] aw-bib commented on #2573
@kaplun is `recid` refering to the _record id_ of the instance in question?

This will run into trouble once linked records get interchanged between several instances. (Something we do all the time at join2.)

In your author's use case I may have "Doe, John" as 234 on instance a while it is 12345 on instance b while something more abstract like his orcid would stay the same across instances (as do

[2015-06-09 11:45] kaplun commented on #2573
In the big picture of things you should not imagine you are going to expose exactly the low-level JSON you store inside Invenio as such. When exposing records via API, when sending them to elasticsearch etc. ideally there is going to be some transformation process that will enrich the exposed records (e.g. by borrowing parts of the referred records inline into the referring one)

[2015-06-09 11:57] #3205 closed

[2015-06-09 11:57] #3221 closed

[2015-06-09 15:06] dset0x commented on #2419
I could be misinterpreting the issue here, but I am not sure if the correct approach was taken in #3239.
The problem with `cascade` (as quoted in https://github.com/inveniosoftware/invenio/issues/2419#issuecomment-59476170) is that the backend is unaware of this SQLAlchemy construct. One has to inform the model of this explicitly. Here is an example:

[code]

In fact, `ondelete='CASCADE'` is necce

[2015-06-09 15:12] hachreak commented on #2419
We use the `MyISAM` engine that doesn't support the cascade action:

[2015-06-09 15:18] dset0x commented on #2419
I see. It was on `InnoDB` which we use at INSPIRE that this appeared and fixed as above. This is going to get messy when #3243 and my patches land since I would rather stick to `ondelete`.

Either way, #3239 is probably fine in that case.

[2015-06-09 15:18] jirikuncar opened #3244 "formatter: replace missing bfe_* with macros, filters and blocks"
- [ ] invenio/modules/formatter/templates/format/record/Default_HTML_BibTeX.tpl (this one will be tricky - cc @lnielsen)
- [ ] invenio/modules/formatter/templates/format/record/Default_HTML_brief.tpl
- [ ] invenio/modules/formatter/templates/format/record/Default_HTML_brief_macros.tpl
- [ ] invenio/modules/formatter/templates/format/record/Default_HTML_detailed.tpl
- [ ] invenio/modules/formatter/

[2015-06-09 15:24] #3216 closed

[2015-06-09 15:33] #3215 closed

[2015-06-10 07:37] hachreak opened #3246 "tags: assignes 0 on foreign keys"
The module permits to set 0 as valid value on foreign keys id_usergroup and id_user.
On PostgreSQL, this generate an error.

See https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/tags/models.py#L145

[2015-06-10 07:45] PXke commented on #2904
Any news about this one ?

Do you have an idea of why there is this bad behaviour ?

cc @audub

[2015-06-10 08:05] #3219 closed

[2015-06-10 08:16] jirikuncar commented on #3246
Can you move the issue to `invenio-tags` repo?

[2015-06-10 08:33] lnielsen commented on #2022
Fixed by 2d4a028809a8ea07808cc451e3bc67daef8baa32

[2015-06-10 08:33] #2022 closed

[2015-06-10 08:34] lnielsen commented on #151
@kaplun: I think this issue has been solved in master by allowing to change the email address. Can I close it?

[2015-06-10 08:36] lnielsen opened #3248 "RFC accounts: multiple email addresses (primary/secondary)"
**Proposal**

Add support in Invenio for associating multiple email addresses with an account. I would propose one email address to always be the primary one, and have secondary email addresses.

The secondary email addresses could be used for:

1. Login
2. Resetting passwords.

This was suggested by a Zenodo user.

[2015-06-10 09:06] kaplun commented on #151
Oh sure :smile:

[2015-06-10 09:06] #151 closed

[2015-06-10 12:28] kaplun commented on #3233
Suppose I would like to contribute removal of BibClassify. This module has been partially ported (in the sense that there are wrapping views, models and CLI in `invenio.modules.classifier`. What shall I do there? Shall we simply preserve the models so that at least the DB table contents are not lost in case one day the module is reimplemented?

cc: @tiborsimko, @jirikuncar.

[2015-06-10 12:44] jirikuncar commented on #3233
Probably remove `invenio/legacy/bibclassify` and moving needed functionality to `invenio.modules.classifier`.

According to http://simko.home.cern.ch/simko/tmp/invenio-3-roadmap-2015-04-01/invenio-3-legacy-renaissance.png INSPIRE is leading the effort, hence I don't know how much resources you have and when new `invenio-classifier` module will be ready including upgrade recipes.

[2015-06-10 13:43] kaplun commented on #3233
That's the thing. Supposed we are going to tackle this in the far future (e.g. three months or so) and that is going to use a completely different approach, I guess it's not worth saving even the code under `invenio.modules.classifier`. Maybe indeed just the models, to allow at some point to implement a migration recipe (if needed).

Same thing for e.g. `refextract`. The source code could disappea

[2015-06-10 13:49] jirikuncar commented on #3233
You can delete the models, but don't create an upgrade recipe that removes the data.

[2015-06-10 14:05] kaplun commented on #3233
Further question: `(doc|ref|author)extract` *is* used by `BibCatalog` which is used by `BibEdit` which is due for 2.3. I might try to drop `BibCatalog` in a way that `BibEdit` survive. OK?

[2015-06-10 14:21] egabancho commented on #3111
Each module will provide its own API and storage for the settings (even if related with a user account)

[2015-06-10 14:21] #3111 closed

[2015-06-10 14:23] jirikuncar commented on #3111
:+1:

[2015-06-11 06:55] crepererum commented on #2904
Seems that we use an `affix` element here but that it is somehow broken. If someone wants to pick it up: I introduced a general affix helper in 539e6c5a9d056bfb0efde2664e4f2d159c4716da. See https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/deposit/templates/deposit/run_base.html#L54-L67 for a usage example. Ignore the `scrollspy-target` because this is for another feature.

[2015-06-11 09:38] hachreak commented on #3246
Closed by inveniosoftware/invenio-tags#4

[2015-06-11 09:38] #3246 closed

[2015-06-11 11:27] kaplun commented on #3230
cc @egabancho, @kasioumis, @ludmilamarian this is also on CDS:
http://cds.cern.ch/search?p=fulltext:of Vs http://cds.cern.ch/search?p=fulltext:b

[2015-06-11 12:22] kaplun commented on #2854
Hi @crepererum, will you attack at the same time some of the points listed in the beginning of this RFC? (e.g. autocompletion from KBs)

[2015-06-11 12:29] crepererum commented on #2854
@kaplun that's low priority, because I don't need that for the deposition part.

[2015-06-12 13:05] lnielsen commented on #3233
Note, ``bibcheck`` is used by ``bibmatch`` which isn't schedule for removal until 2.3.

**Proposal:**
1) Remove bibmatch in 2.2
or
2) Remove bibcheck in 2.3

Ping @kaplun

[2015-06-12 13:17] kaplun commented on #3233
I start to think we should rather kill everything and good night. We are not going to use release 2.2 anytime for our production or labs services, after all.
For 2.2 the foreseen existing modules are: `oairepository`, `search_engine`, `websearch`, `webdoc`, `webstat`, `bibindex`, `bibrank`, `bibsort`, `bibsched`, `webaccess`, `bibexport`, `bibformat`(?), `bibedit`, `bibmatch`, `bibrecord`, `bibupl

[2015-06-12 13:18] jirikuncar commented on #3233
`bibformat` is already out

[2015-06-12 13:30] jirikuncar commented on #1973
Can we agree on: *sign-in* and *create-an-account*?

[2015-06-12 13:42] jirikuncar commented on #662
### Proposal

**Step 1**

+ customizable type detection
  - custom field in record metadata
  - collection definition
  - non-empty required fields

**Step 2**

+ mappings (JSON-to-JSON) for generating BibTeX based on detected/given type

**Step 3**

+ simple rendering
  - optional caching

--
http://nwalsh.com/tex/texhelp/bibtx-7.html

[2015-06-12 13:45] jirikuncar commented on #2379
Solution will be based on SQLAlchemy support for PostgreSQL JSONB field and ElasticSearch.

[2015-06-12 13:45] #2379 closed

[2015-06-12 14:22] #3145 closed

[2015-06-12 15:12] kaplun commented on #1973
:+1:

[2015-06-15 07:01] #3147 closed

[2015-06-15 07:01] #3217 closed

[2015-06-15 13:37] crepererum opened #3271 "NameError: global name 'get_nearest_terms_in_idxphrase_with_collection' is not defined"
## Affected versions
Everything since 4b95199889cbf814a2ef134cb149946f44a58d1e, so `maint-2.1` and `master`.

## Error

[code]

## Steps to reproduce
Method a:
 1. Go to the landing page `/`
 2. Click on the `+`-Party near the search field,
 3. Click on `Browse` at the bottom right in the option field that appears

Method b:
 1. Go to `/search?action_browse=`

## Cause
4b95199889cbf814a2ef134cb149

[2015-06-15 13:55] jmartinm opened #3272 "profile: nickname in profile form should not be mandatory ?"
Currently in the user profile form https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/accounts/forms.py#L183 the nickname is required.

This is somehow inconsistent with the way oauth authentication is working. If a site (like us on INSPIRE Labs) wants to rely fully on external authentication then all users have empty username.

If we enable the settings page and want to hide t

[2015-06-15 15:26] lnielsen commented on #3272
We currently have two attributes for identifying a user (if they decide to login via the normal login form):
- ``email``
- ``nickname``

I assume the underlying assumption is that ``email`` is a better attribute because it's very practical for many other purposes than a nickname (e.g. password recovery just to mention one).

It however also means that ``nickname`` falls in the category that I woul

[2015-06-15 15:33] jmartinm opened #3273 "global: CFG_SITE_NAME and root collection dependency ?"
Related to https://github.com/inspirehep/inspire-next/issues/248

on INSPIRE we are wondering if `CFG_SITE_NAME` has still to be named in the same way as the default collection. In the past that was the case e.g. so that empty search queries would find the records in the Default collection.

That is a problem as some code uses `CFG_SITE_NAME` when sending emails to users so we are limited by the w

[2015-06-15 15:35] lnielsen commented on #3272
I believe it still has to be mandatory, until we remove nickname as way to identify a user otherwise it may break other sites that users suddenly can remove their nickname. I might be wrong though, but at least I think it has to be thought through carefully.

I'm all in for simplifying this in the future. We currently have two attributes for identifying a user (if they decide to login via the norm

[2015-06-15 17:42] jirikuncar commented on #3272
In case of external authentication methods, I would go for `nickname=email` (see https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/oauthclient/contrib/cern.py#L199).

[2015-06-16 06:44] jmartinm commented on #3272
That seems like like a good idea. I am going to give it a try adding it here https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/oauthclient/contrib/orcid.py#L124

If that works fine, is it ok for you @lnielsen that in orcid contrib we give as default ```nickname=email``` ?

[2015-06-16 06:53] jmartinm commented on #3272
I just realised that does not work for ORCID as in ```account_info``` we don't have the email address yet (ORCID does not provide it).

Possible solutions:

1) Set ORCID id as nickname in ```account_info```

2) Change in https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/oauthclient/utils.py#L94 ```nickname=account_info.get('nickname', '')``` by ```nickname=account_info.get('ni

[2015-06-16 06:57] lnielsen commented on #3272
Hm, I'm not sure that will work either as you'll likely be exposing email addresses then (e.g. in messages, showing where a record comes from etc).

[2015-06-16 06:59] lnielsen commented on #3272
What about:

and perhaps modify add custom validator on nickname that checks a CFG variable to see if nickname is required....

[2015-06-16 07:20] jmartinm commented on #3272
https://github.com/jmartinm/invenio/commit/3ad8795485e10ce690221233905bd13e90f34722

Please, have a look at that commit. If it looks good I will do some more testing and create a PR against master.

[2015-06-16 09:12] hachreak commented on #3272
I'm working on [removing webuser](https://github.com/inveniosoftware/invenio/pull/3267) module and I found the following situation:

In webuser, exists a function [nickname_valid_p(nickname)](https://github.com/hachreak/invenio/blob/master/invenio/legacy/webuser.py#L378) to check nickname.
The function **doesn't** consider valid:
 - empty nickname
 - with space before and/or after
 - if it contain

[2015-06-16 09:26] jmartinm commented on #1973
Sign in/Register seem to be quite standard:

http://blog.codinghorror.com/the-god-login/#pickcommonwords

 sign-in and create-an-account are clear too imo

[2015-06-16 19:09] tiborsimko commented on #3272
Some comments:

- Nickname was made mandatory so that we could display *some* user name without having to reveal his/her email identity.

- Nickname couldn't contain `@` because the login form was accepting either email address or nickname of users (that was functioning as a user name or sorts).  If nickname were allowed to contain `@`, you could imagine situations where `john.doe@cern.ch` email a

[2015-06-17 06:51] jirikuncar commented on #3273
Can we consider that *root* collection has `id` equal 1 or we have special configuration option `COLLECTION_ROOT(S)`?

[2015-06-17 07:33] kaplun commented on #3273
Indeed so far the convention was that root collection is simply the collection from which a search would start if no collection is defined. Otherwise Invenio always supported forests of collections.

Somehow what is needed is to be able to define a default collection. Root collections could be simply defined as collections not having any parent.

[2015-06-17 12:26] jirikuncar opened #3283 "roadmap: simplified records module"
- [x] **storage**
  - [x] removal of `invenio.modules.records`
  - SQLAlchemy model - PostgreSQL JSONB field if available (see "[invenio-records](https://github.com/jirikuncar/invenio-records)")
  - [x] release *Invenio-Records*
  - [x] ~~create an upgrade recipe to migrate to new *Invenio-Records* storage (added column with version, re-submit data)~~ recommended way is to re-upload data to new in

[2015-06-17 12:27] jmartinm commented on #3272
Any comments on https://github.com/jmartinm/invenio/commit/3ad8795485e10ce690221233905bd13e90f34722 , shall I create a PR to master with it?

[2015-06-17 12:34] hachreak commented on #3272
@jmartinm have you see my PR? :)
What do you think if we move the check of nickname from access to User model?
Or, at least, in `invenio.modules.account.helpers`.
To avoid to have the validation checks spread in many place.

[2015-06-17 12:35] jirikuncar commented on #3272
@hachreak we need both checks - Form and Model, but they should be more or less in sync.

[2015-06-17 12:44] hachreak commented on #3272
I'm talking [about this](https://github.com/jmartinm/invenio/blob/3ad8795485e10ce690221233905bd13e90f34722/invenio/modules/accounts/forms.py#L45)
We can create a validation function inside the model User and the validation function for the form simply will be a call to this function with exceptions's catching.

[2015-06-17 13:38] lnielsen commented on #1973
Whatever we choose just ensure it's easy to override the names.

[2015-06-17 14:22] jacquerie commented on #3079
Yet another (small) issue: we can't pass a `LocalProxy` as an argument to a query. To see the full error run `$ py.test invenio/testsuite/test_restful.py` as there's lots of output. Now, this problem can be solved by converting the content of the `LocalProxy` to the right type, but I'm not sure if that is the right solution.

[2015-06-17 14:34] tiborsimko opened #3286 "docker: common/dev/debug/prod configurations"
Currently, we advertise how to develop Invenio 2.x via Docker in our documentation, using DEV configuration. However, when somebody goes that way, he/she would find that running test suite reports many failures due to HTTP redirection associated with debugging mode.  This may be a rather surprising default...

I'd rather propose to strive at the defaults whether the following would hold true:

[co

[2015-06-17 14:37] lnielsen commented on #3286
Could be useful to have a full prod setup (haproxy, 2 web nodes, cache, mq, db master, db slave, task node).

[2015-06-17 14:38] jirikuncar commented on #3286
Can we just improve our testing suite that checks during `setUp` that `current_app.debug` is `False` and if it's not it warns user and set `current_app.debug = False`.

[2015-06-17 14:41] tiborsimko commented on #3286
@jirikuncar This would indeed take care of separate DEV/DEBUG profiles, so that only one configuration is sufficient.  And if we switch defaults to DEV mode, leaving PROD mode aside, then this should do, I think.

[2015-06-17 15:02] crepererum commented on #3286
For the link that Tibor mentioned in the issue description: `extend` does not work with `link`, see:
 - https://github.com/docker/compose/pull/1088
 - https://github.com/docker/compose/issues/1495

For `prod`:
 - do we really want a full-setup here, because this would involve that we need to extend the `mysql` and `redis` base images as well to insure a proper security setup. otherwise, all deploy

[2015-06-18 07:24] kaplun commented on #3283
Thanks @jirikuncar for having initiated this roadmap-issue.

I believe we should also consider as part of this roadmap:
* Handling of documents (especially since JSONAlchemy disappears)
* Handling of pidstore (in particular documentation with tutorial/patterns): http://invenio.readthedocs.org/en/latest/search.html?q=pidstore&check_keywords=yes&area=default is currently empty
* Handling of signals

[2015-06-18 07:25] kaplun commented on #3283
* Handling of conflicts when two records are being touched at the same time

[2015-06-18 11:21] jalavik opened #3288 "workflows: UUID upgrade problem"
The change to using UUID type and the following upgrade script introduced in https://github.com/inveniosoftware/invenio/commit/e8f6551d9787ceec99248b2b0ad04b8f22a0d8b4 causes a problem with truncated values for the existing values - essentially corrupting the data (observed locally):
[code]
Before the uuid column was `db.String(36)` and a value included hyphens `00011d78-fd76-11e4-b9a6-ecf4bb24`.

[2015-06-18 11:53] hachreak commented on #3288
I changed because sometimes it's used `string` and sometimes it's used `UUID` object to represent a uuid.
It's ok for mysql, because we represent a uuid as a [CHAR](https://github.com/inveniosoftware/invenio/blob/master/invenio/ext/sqlalchemy/types/guid.py#L36).
But, with PostgreSQL is a problem to mix UUID and strings.

[2015-06-18 12:19] jalavik commented on #3288
Yeah, except now on MySQL the length of the uuid column CHAR is 32 instead of 36 which truncates existing data.

What do you think about changing the GUID type to have an hyphenate option similar to https://github.com/dcramer/django-uuidfield/blob/master/uuidfield/fields.py#L54-L59

Then for workflows models, we enable this hyphenate option but it is `False` by default.

[code]

[2015-06-18 12:27] jirikuncar commented on #3288
IMHO we should fix the upgrade recipe to process the string UUID to hex version.

[2015-06-18 12:45] jalavik commented on #3288
@jirikuncar We could, but it may be potentially risky data migration (for MySQL only) since changing the primary key is non-trivial. Either by removing and re-adding all rows in the bwlWORKFLOW table and then update any related tables (bwlOBJECT, bwlWORKFLOWLOGGING). Or do a series of steps to remove primary key index, update values, and re-add primary key index, in addition to updating related ta

[2015-06-18 12:47] hachreak commented on #3288
Currently, the GUID (UUID) field is used by 2 modules:
 - documents
 - workflows

[2015-06-18 12:56] hachreak commented on #3288
Or, another solution can be (maybe more easy):
- revert uuid and id_worflow fields as string(XX)
- take care to translate python UUID object to strings (e.g. in this [testsuite](https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/workflows/testsuite/test_workflows.py#L233))

[2015-06-18 13:06] hachreak commented on #3288
This is a error if I run tests using uuid as string with postgresql:

[code]

[2015-06-18 13:08] jirikuncar commented on #3288
I would go for this fast solution and prepare better upgrade recipe together with @lnielsen and @jalavik.

[2015-06-18 13:41] lnielsen commented on #3288
I agree with @jalavik that the risk of data loss is too big without extensive testing on real data, so I prefer reverting to string(36) and let workflows module stay with that.

[2015-06-18 13:44] lnielsen commented on #3217
Sorry another question, why are the log entries removed when removing the workflow/bibworkflowobject?   Aren't they useful even after an object has been removed? Some of these logs should be stored in an audit log instead, but we don't have that yet.

[2015-06-18 13:58] hachreak commented on #3217
Are you talking about the cascade deletion introduced here https://github.com/inveniosoftware/invenio/commit/ac2bd1fa67d73f1c0d0ff0d649966b850e878a00 ? :)

[2015-06-18 14:06] hachreak commented on #3288
@jirikuncar @jalavik there is some reason why it's a String(255) instead of String(36) [here](https://github.com/inveniosoftware/invenio/blob/9562937188cd2181e4b971a137ad56f01c33c414/invenio/modules/workflows/models.py#L903) ?

[2015-06-18 14:23] jalavik commented on #3288
@hachreak No, I don't think so. Indeed this should be String(36).

[2015-06-18 14:29] jalavik commented on #3217
@lnielsen Thats a good point. Indeed we should probably amend that to not delete the logs.

[2015-06-18 14:32] lnielsen commented on #3217
@hachreak I just noticed the commit message:

[code]

[2015-06-18 15:03] hachreak commented on #3217
The cascade for BibWorkflowObjectLog was introduced by https://github.com/inveniosoftware/invenio/commit/ac2bd1fa67d73f1c0d0ff0d649966b850e878a00
Sorry, the commit message is not completely correct.

[2015-06-19 07:25] tiborsimko commented on #3286
Oops!

Yes, I also see compose configurations as primarily targeted to single-machine systems and  developer-friendly or demo-friendly use cases.  For *real* scalable production, with haproxy and whatnot, Swarm may come handy. It plays nicely with CERN OpenStack, @jirikuncar tested it.  But when I looked last time at Swarm, only Ubuntu was supported.  Hopefully the support for CC7 is either alread

[2015-06-19 07:34] jirikuncar commented on #3286
Can we then change default of `DEBUG_TB_INTERCEPT_REDIRECTS` to `False`?

[2015-06-19 07:37] tiborsimko commented on #3286
@crepererum Please make any changes for `maint-2.0`, so that we can have the same Docker setup for all our v2.x branches.  Developer-oriented changes of this kind can go to past maintenance branches.

[2015-06-19 08:20] jmartinm opened #3290 "accounts: userEXT id as VARBINARY"
In the userEXT table, the ```id``` is created as ```db.VARBINARY```

https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/accounts/models.py#L426

That seems to be the only occurrence of ```db.VARBINARY``` in Invenio and does not make much sense as that column holds ```Strings```. I just realised about it because I am having problems interacting with that column with an external

[2015-06-19 09:12] #3288 closed

[2015-06-19 09:23] jirikuncar commented on #3290
:+1:

[2015-06-19 09:47] jmartinm commented on #3290
How are we using ```alembic``` at the moment?

Is it possible to change the model from:

[code]

to

[code]

And have the migration recipe be generated for me?

[2015-06-19 10:23] jirikuncar commented on #3290
@jmartinm `inveniomanage upgrader create recipe -a` might help a bit ...

[2015-06-22 08:21] dset0x opened #3295 "RFC celery: msgpack could support custom types"
### Intro
In Invenio we use `Celery`, which uses `kombu` to serialize messages. `kombu` supports a number of backends, of which we use `msgpack`.

### Issue
`msgpack` supports many native types (strings, lists, etc), but has no support for more complex types such as `datetime` and `enum`, or, naturally, any custom types we define in our code. This is an issue because business logic should not cont

[2015-06-22 08:22] jirikuncar commented on #3295
cc @crepererum

[2015-06-22 08:42] crepererum commented on #3295
I did that for another project before and it worked fine. There are some things to keep in mind when doing this:
 1. **Performance:** Avoid nested/hijacked serialization methods. Bad example: Serialize your custom type to a Python dict and that one to JSON and that one to a string (which then is msgpack compatible).
 2. **Security:** whatever you do, **do NOT use (c)Pickle or marshal** to serializ

[2015-06-22 08:56] dset0x commented on #3295
@crepererum
Thanks for your very useful input.

5. That's a very good question. In fact it hints to do this instead: Do to not allow modules to define types, but only serialization/de-serialization methods on their classes (which reduce them to relatively basic types that we support in the core of Invenio, as you describe in (4)).

3. It seems to me that defining only types that are generic enough

[2015-06-22 09:06] crepererum commented on #3295
@dset0x can you provide a number mapping of your answer, because GitHub Markdown does not process numbered lists which do not follow the `1,2,...` pattern :disappointed:

[2015-06-22 09:29] dset0x commented on #3295
@crepererum Woops, updated!

[2015-06-22 09:43] crepererum commented on #3295
+5. What about an `invenio/ext/msgpack` module which introduces some commonly used types?

+3. 10y was not meant to be a standard. It was more meant to be like "do not alter the format on every update". About the update procedure: As far as I know we only use msgpack for the broker and celery results (not for the session storage, because that one uses pickle which is assumed to be fine in that cas

[2015-06-22 10:38] lnielsen commented on #3295
Other things to consider is Flower support (i.e. can you inspect the message).

Besides ``datetime`` and/or ``enum`` what else do you need now? And how does Celery know how to deserialise a type?

I would be very careful to introduce new serializers (i.e goes with "3. stability"). Datetime is one of the few I do see could be very useful.

[2015-06-22 11:35] dset0x commented on #3295
\`5. It may belong out of the celery module, although if its scope is solely celery, we could be littering the `invenio/` directory for no good reason).

\`3. There is also the problem that there may be items in the queue that should not be ran until a specific point in time. I like the alternative more.

* Assuming an upgrade with no type deletions or changes, but only additions:
[code]
Version2

[2015-06-22 12:16] PXke opened #3296 "search: Search is not working with special character."
It is impossible to do search with 2.1 with special character like in "Gård"

Stacktrace is :
[code]

Some pointers for the resolution:

[code]

From the pypeg documentation :

Caveat: pyPEG 2.x is written for Python 3. You can use it with Python 2.7 with the following import (you don't need that for Python 3):

`from __future__ import unicode_literals, print_function`

Unfortunately I haven't bee

[2015-06-22 13:59] jmartinm commented on #3273
For the INSPIRE use case that started this, it was solved with https://github.com/inveniosoftware/invenio/commit/f4bf802ef8e11c2a677db0afa2ffba93001da353

I leave it open in case you want to keep discussing how the default collection should be defined.

[2015-06-22 14:34] jirikuncar commented on #3273
@jmartinm I will close this issue and new discussion can start when we separate module to `invenio-collections`.

[2015-06-22 14:34] #3273 closed

[2015-06-23 08:57] hachreak opened #3299 "RFC plans for refactoring access module"
- [x] Remove [admin_lib.py](https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/access/admin_lib.py)
- [ ] Remove [webaccessadmin.py](https://github.com/inveniosoftware/invenio/blob/master/invenio%2Fmodules%2Faccess%2Fscripts%2Fwebaccessadmin.py) and move functionality in `manage.py` (see #3381)
- [ ] Remove not used functions from [control.py](https://github.com/inveniosoftware

[2015-06-23 09:01] kaplun commented on #3299
Are you going to tackle the usage of `-1` to mean no arguments for an action? (which breaks foreign key usage)?

[2015-06-23 09:10] hachreak commented on #3299
I already resolved the problem removing foreign key and create a ad-hoc SQLALchemy relationship.
I need more time to finish to prepare PR to fix it.
I'll add the Issue/PR to the list.

[2015-06-23 09:12] kaplun commented on #3299
:+1:

[2015-06-23 09:47] lnielsen commented on #3295
Sorry, my message was somewhat short :-) I'm not suggesting to manage the upgrades etc via Flower. Flower is basically for monitoring to see what tasks gets executed in the queue. It's critical to have it in a  production environment. So my concern was that Flower should be able to inspect the message parameters out of the box.

In general somewhat concerned about changing to use something else th

[2015-06-23 10:56] dset0x commented on #3295
@lnielsen
1. The workers need to be aware of the application anyway so that they know what `tasks` they support.

2. What is the problem with `dumps` and `loads`, if their result boils down to known types?

[2015-06-23 12:03] jacquerie commented on #3271
I did some digging on this. In commit aebbd45, the one before 4b95199, `get_nearest_terms_in_idxphrase_with_collection` was in the same file as its use: https://github.com/inveniosoftware/invenio/blob/aebbd45f5aae03fd70804192744a4b80d258f9b4/invenio/legacy/search_engine/__init__.py#L3487. So we need to add back the import from its new location in 4b95199.

Then, a parameter name changed from `f` t

[2015-06-23 12:07] crepererum commented on #3295
@dset0x in case you just add new types, the update is kind of easy*: just ensure that all consumers are updates before the producers. No need to flush the queue.

*) "easy" might be not that easy in the case you have a circular setup, e.g. because the worker nodes results are somehow pushed back to the web nodes. I am not sure when is can be the case. As far as I remember we ignore the celery resu

[2015-06-23 12:10] lnielsen commented on #3295
Yes, but you can e.g. have tasks defined in a self-contained package which Invenio imports on your web node, and then have a reduced/simplified worker without Invenio but just the self-contained package. Then you just tell Celery/RabbitMQ that all tasks of this type is routed to that specific worker. An example this constellation could be e.g. used for wrapping a video encoding system.

My concern

[2015-06-23 14:19] dset0x commented on #3295
@crepererum
Correct me if I'm wrong - I'm not that familiar with celery: If Webnode1 pushes work to Consumer1, it should always be the case that the result of Consumer1 ends up in Webnode1 (and not Webnode2), since "reply" in this sense, is Webnode1 __polling__ for an answer.
Unless by "pushed back to the web nodes" you mean a purely hypothetical work model.

@lnielsen

* This bug arose from https

[2015-06-23 14:40] crepererum commented on #3295
@dset0x That's half true (or let's say incomplete): `Web_1` (w.l.o.g.) pushes to `Broker` (Redis or RabbitMQ or ...), ONE of the Workers/Consumers (`Worker_i` in the following) gets the payload from there. If `Web_1` needs the result, it gets it back. This is load balancing and you do not know who `Worker_i` will be. So you cannot update half of the workers without any additional admin work (e.g.

[2015-06-23 15:38] dset0x commented on #3295
@crepererum I could be still (!) missing the bigger picture here, but couldn't we potentially solve this by [versioning our protocol (point (3), second bullet)](https://github.com/inveniosoftware/invenio/issues/3295#issuecomment-114074237)? Although, I'm only guessing that the broker would handle this correctly.

[2015-06-24 07:15] crepererum commented on #3295
@dset0x The broker only ensures that no messages are lost, that the load is balanced and that some messages can be delayed/scheduled. it does not know about the format+content of the messages. This is handled by celery (celery is NOT the broker btw) and if we just set `msgpack` as a message format and wildly modify some slots, than even celery is not aware of our problem.

But (here comes the good

[2015-06-24 08:42] aw-bib commented on #2936
There was an issue just discovered and fixed by @jalavik with some greedy/nongreedy regexp in removing namespaces in https://github.com/inveniosoftware/invenio/pull/3297 and https://github.com/inveniosoftware/invenio/pull/3298. Same for CDS?

[2015-06-24 10:26] aw-bib opened #3303 "docs: db setup breaks for non-master"
`INSTALL.rst` states

    (invenio)$ inveniomanage config set CFG_DATABASE_NAME $BRANCH
    (invenio)$ inveniomanage config set CFG_DATABASE_USER $BRANCH

which will fail if `$BRANCH` is e.g. `maint-2.1` due to the - in the branch name.

[2015-06-24 12:01] jalavik commented on #2936
@egabancho Yeah, I believe this problem with resumptionToken is causing the stuck forever issue. I've seen on INSPIRE that #3298 fixes the problem.

[2015-06-24 12:10] dset0x commented on #3295
@crepererum

Handling `dead-letter` exchanges may be what fits the bill here(?)
 * http://celery.readthedocs.org/en/latest/faq.html#why-do-workers-delete-tasks-from-the-queue-if-they-are-unable-to-process-them
 * http://www.rabbitmq.com/dlx.html

---

Regardless, I had a chat with @jalavik about the issue; it currently appears that since we have no direct, unavoidable reason to get this working ri

[2015-06-24 12:38] egabancho commented on #2936
Great, I will test it asap and will let you know

[2015-06-24 15:04] crepererum commented on #2854
Some updates for you guys: I started to stress-test the json-editor using a record with >3000 authors.

Let's start with the bad news: Chrome on my desktop machine (proper i7 + 8GB + SSD) needs ~35seconds to generate the form. During this time, the site is unusable. On Firefox the situation is even worse. After I went through the json-editor source code I think that it is totally unusable for this

[2015-06-24 15:04] dset0x opened #3306 "RFC: bibupload has no activated tests"
#### Pretext
Some branches were hit by a `bibupload` bug not long ago and this has cost us some development time. I believe the patch that fixed it was 4e4225b7f1dcd7688c3d42b5be8675ceed6f8428.

#### Problem
From this it seems that there is nothing checking if basic `bibupload` uploading is working in travis.

#### Current state
Integration tests for `bibupload` exist in `invenio-demosite`, but th

[2015-06-24 20:08] kaplun commented on #2854
Uh oh! I was fearing that. Regarding clusterize I think there is an other similar javascript trick (@eamonnmag I never remember its name...) Is it really impossible to improve the situation?
Because basically it would mean giving up on generating forms from schemas...

[2015-06-24 20:09] kaplun commented on #2854
Nevermind, what @eamonnmag was talking me about was precisely clusterize.

[2015-06-24 20:10] kaplun commented on #2854
One side solution, is simply that we exclude author fields when they are larger than N, as anyway a JS editor is probably not the right tool to manipulate them.

[2015-06-24 20:19] eamonnmag commented on #2854
Indeed. @crepererum, I was looking at the performance levels for input as well recently. One possible change, if you wanted to keep input like features would be to use the editable content feature of HTML5 (but this requires an up to date browser) - this is pretty fast. I wrote a test here with 3000 generated elements http://jsfiddle.net/xL7c8ke7/ - but using a p tag is probably best for support o

[2015-06-24 20:20] crepererum commented on #2854
@kaplun when the form IS generated, scrolling feels very smooth. So you don't get anything of this hack (which is basically the try to be more efficient in JS than your browser when it comes to viewport calculation, which sounds ridiculous to me). Also I think clusterize only works with an all-eqal-height-row table layout. The generation itself could be improved (as I mentioned).

Getting the form

[2015-06-24 20:24] crepererum commented on #2854
@eamonnmag I thought about that one as well. I will evaluate both. My current idea is: use `p` plus `click`-listener (and some others) to detect when the user wants to write into the specific field. If so, we generate an `input` field which gets removed when the focus (of the field, not the window) is lost. That assumes that the browser handles the amount of listeners well (which I think is the ca

[2015-06-24 20:32] eamonnmag commented on #2854
@crepererum you only need one listener on the class of the element, then you can assert the id and build the input from that. e.g. http://jsfiddle.net/hs27btp6/

[2015-06-24 20:42] crepererum commented on #2854
@eamonnmag This is the reason why I do NOT use jquery, because it hides a very bad fact here:
[code]
equals (under the hood)
[code]

Event listeners have to be registered on specific DOM elements. You could in fact register one listener on something like `form` and then use the mouse coords to figure out which element was clicked. As far as I remember their is a nice and performant and browser-dri

[2015-06-24 20:59] eamonnmag commented on #2854
Ah, sorry, what I meant to do was attach that event to the parent, so http://jsfiddle.net/hs27btp6/1/ - That way you have one listener and perform the logic.
![screen shot 2015-06-24 at 22 42 22](https://cloud.githubusercontent.com/assets/282396/8341364/ae8c97d0-1ac4-11e5-8aa9-6f052aed6421.png)
![screen shot 2015-06-24 at 22 42 49](https://cloud.githubusercontent.com/assets/282396/8341365/b028fd4a

[2015-06-25 06:16] crepererum commented on #2854
<p>==</p>

:wink:
=======================

I only add classes to the elements and let the CSS doing its job. I don't know you specific implementation, but:
 1. Never add style-data to the elements directly (only if it is really required, which is very very rare)
 2. Never alter an element after you've attached it to the parent.
 3. Do not build the DOM (here the form stuff) while your target eleme

[2015-06-25 06:21] eamonnmag commented on #2854
jsFiddle does load a lot of crap, but I'm performing the same task on the same platform. Just adding one CSS class (in a CSS file) has a big effect on the time taken to paint the element. Bear in mind that each set of input boxes for each author is styled by many classes in the CSS...when you add your p elements, the CSS is likely to be much less complicated. I've never spent much time before chec

[2015-06-25 07:20] crepererum commented on #2854
Using `p` instead of `input` cuts my time down to 1.5secs. And surprise: `editable` does not influence the time that much :open_mouth: BUT: We need to parse the result (because of all the `div` and `br` elements that represent newlines in `editable` elements) to get the final result back. So that might speed up initial render performance but might kill the time we need to calculate the result JSON

[2015-06-25 07:50] eamonnmag commented on #2854
Cool :)

[2015-06-25 09:06] egabancho commented on #3233
Is there any reason why WebStat is not in the list?

Some of the modules marked to be deleted are used inside it, it would make things easier if we delete this one first.

[2015-06-25 09:54] kaplun commented on #3233
The list was built from Tibor's mind map. Some modules were retained for 2.2 there:

but indeed, given yesterday announcement of Tibor, we could actually decide all together to go full speed and simply kill all legacy for 2.2 (although they were not properly deprecated in 2.1)

[2015-06-25 10:04] bouzlibop opened #3309 "access: InvenioWebAccessMailCookieError for non existing user email"
Steps to reproduce:
1. Go to sign in panel
2. Click `Lost your password?`
3. Provide some non existing email

[code]

The problem is in this line: https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/access/mailcookie.py#L68

[2015-06-25 11:04] tiborsimko commented on #3306
Yes, it is annoying that after regression/functional tests have been split away into `invenio-demosite`, they are not being run as part of the main PR...  We've had a few similar issues of this kind already for other functionality.

The solution we've been thinking about was to extend our [nightly Jenkins builds](http://jenkins.invenio-software.org/) to cover not only Invenio demo site v1.x legacy

[2015-06-25 11:04] bouzlibop commented on #3309
Shall we notify user that provided email doesn't exist or shall we return some generic error page?

[2015-06-25 11:23] kaplun commented on #3306
Note: the new dockerized Jenkins instance prototiped by @lovasko is available here: http://inv-bld-tst.cern.ch:8080/ (accessible only within CERN intranet)

[2015-06-25 12:30] tiborsimko commented on #3306
@lovasko @kaplun We need more though.  Should-have features: (1) run the tests and produce test report; (2) add `invenio-demosite` nightly job; (3) add `*-maint-x.y` jobs for each interesting branch.  Nice-to-have features that can come later: (4) produce code coverage report; (5) produce code vulnerability/kwalitee report.

[2015-06-25 12:46] jirikuncar commented on #3309
I would go for generic error page for `InvenioWebAccessMailCookieError` exception.

[2015-06-25 13:03] jmartinm opened #3311 "pages: admin not showing content column"
I guess after the introduction of this commit:

https://github.com/inveniosoftware/invenio/commit/47e2031f6d9b95eb13d5fc0bbe0df3cf7b1db09d

The Flask-Admin for the pages module does not show the Content anymore (which is quite important ;) )

![screenshot 2015-06-25 14 59 36](https://cloud.githubusercontent.com/assets/580727/8354809/48828058-1b4b-11e5-9735-773e77274873.png)

Any idea why this migh

[2015-06-25 13:39] hachreak commented on #3311
It seems that the problem is when you use [with_variant()](http://docs.sqlalchemy.org/en/rel_1_0/core/type_api.html?highlight=with_variant#sqlalchemy.types.TypeEngine.with_variant).

[code]

I asked directly to Mike for this solution.
Maybe Flask-Admin can't undestand it because it returns a `Variant` Object?

See: https://bitbucket.org/zzzeek/sqlalchemy/issue/3370/text-and-length#comment-17513621

[2015-06-25 14:15] kaplun commented on #3306
:+1:

[2015-06-26 07:39] hachreak commented on #3290
maybe if you set as normal string, then #3274 will not be necessary.. :)

[2015-06-26 08:14] jirikuncar commented on #2611
WebAlerts module is going to be removed and re-implemented when new search engine is finished.

--
see also #3233

[2015-06-26 08:14] #2611 closed

[2015-06-26 08:16] jmartinm commented on #3311
Maybe you can create an issue in https://github.com/flask-admin/flask-admin @hachreak ?

[2015-06-26 08:28] jmartinm commented on #3290
Nice. I am going to have a look now at this.

[2015-06-26 08:51] jmartinm commented on #3290
Just for reference, I changed the model to:

[code]

Then run:

[code]

And the output file contains basically all the create statements of Invenio (not the migration of the column in question). Appearances of the `userEXT` table are:

[code]

[code]

Am I missing something regarding the migration command? Otherwise I will have to copy/paste and old migration and do it manually (which is a bit sad

[2015-06-26 09:06] jmartinm commented on #3290
So @hachreak what was the problem with the mentioned [line](https://github.com/inveniosoftware/invenio/pull/3274/files#diff-6ffd71577ca22eab7dfaa7ad0bcc2704R128) ? For me with MySQL that statetement works fine with and without calling ```encode```. Was it a PostgreSQL problem?

Just trying to understand it to not break anything when changing that line

[2015-06-26 09:15] jmartinm commented on #3290
PR added.

[2015-06-26 09:31] hachreak commented on #3290
[code]

Inside Invenio we set VARBINARY as [BYTEA](https://github.com/inveniosoftware/invenio/blob/master/invenio/ext/sqlalchemy/__init__.py#L116).
Here you can find PostgreSQL [documentation](http://www.postgresql.org/docs/9.4/static/datatype-binary.html).

[2015-06-26 09:44] jalavik commented on #680
This issue is deprecated, done and belongs in INSPIRE Asana project.

[2015-06-26 09:44] #680 closed

[2015-06-26 09:53] #3099 closed

[2015-06-26 10:01] jirikuncar commented on #3290
Let's move all to `String`.

[2015-06-26 11:26] jmartinm commented on #3290
As far as I can see this is the only table that uses VARBINARY

[2015-06-26 12:54] #3212 closed

[2015-06-26 14:34] hachreak opened #3318 "access: cookie generation fail with PostgreSQL"
I discovered that, when I read a Integer from the DB (e.g. an ID), with
 - MySQL: I have a python long integer
 - PostgreSQL: I have a python integer

This [hex()](https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/access/models.py#L144) calling returns a empty string with PostgreSQL and invalidate the cookie creation.

[2015-06-26 15:31] hachreak opened #3320 "accounts: user creation with id = 1 problem on PostgreSQL"
PostgreSQL doesn't update the sequence after insertion of [users fixtures](https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/accounts/fixtures.py#L32) (user admin).

http://stackoverflow.com/questions/9108833/postgres-autoincrement-not-updated-on-explicit-id-inserts

Here you can read that:

So, after inserting the user admin in the table, the sequence associated with the id i

[2015-07-01 14:19] egabancho commented on #2936
It works smoothly for us :+1:

[2015-07-02 08:29] jalavik commented on #3233
Just FYI, I am looking at bibclassify now.

[2015-07-02 11:15] #3290 closed

[2015-07-02 12:11] #3318 closed

[2015-07-02 15:28] #2936 closed

[2015-07-03 07:41] jirikuncar commented on #3283
SQLAlchemy does that already for us (http://docs.sqlalchemy.org/en/latest/orm/versioning.html).

[2015-07-03 14:10] switowski commented on #2957
We actually have a user asking for that ([RQF0475329](https://cern.service-now.com/nav_to.do?uri=u_request_fulfillment.do?sys_id=b5bce2644c8dc640c71326a7289711a2%26sysparm_view=tabs_new)) and it makes sense to have two levels of subscription:
* Subscribe to the whole discussion
* Subscribe to a single comment (should we subscribe users to their own comments by default ?)

[2015-07-06 09:27] blixhavn opened #3333 "search: Facet management not working"
`/admin/facetcollection/new/ ` (the link from the Flask admin menu) produces an exception `_init__() got an unexpected keyword argument 'query_factory'`.

Full stacktrace:
[code]

[2015-07-06 11:16] blixhavn opened #3334 "Overwriting/overloading of JSONalchemy fields not possible"
For JSONalchemy fields added through modules such as the `_collections` field (https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/collections/recordext/fields/collections.cfg), it's impossible to alter it without receiving an error complaining about duplicate fields. In this specific instance, the problem is that the `_collections` field needs a @depends_on decorator based on w

[2015-07-06 13:35] jmartinm opened #3335 "search: Results class attribute not found"
In https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/search/api.py#L98

[code]

gives an error because the `Results` class does not have such attribute.

I guess the correct code might be:

[code]

[2015-07-07 14:18] nharraud opened #3339 "search: elasticsearch schema fields wrongly mapped to numeric"
The elasticsearch mapping for Record contains `numeric_detection": True`. This  enables the numeric fields autodetection.
With this option enabled, if a field which is not explicitly defined in the schema is present in a document and if it looks like a number, then it will mapped as a number. If next documents don't contain an integer for this field, the error `MapperParsingException` will be retu

[2015-07-07 19:12] tiborsimko commented on #3296
Confirmed to exist in `maint-2.1` branch.

A test case for `invenio-demosite`:

- `http://localhost:28080/search?p=author:"李白"`

gives the following traceback:

[code]

[2015-07-08 09:18] jalavik commented on #3339
While on the topic of `SEARCH_RECORD_MAPPING` in the `es` extension, I guess the idea is to make it part of the general config object so that it is also easily customisable on the instance overlay. I guess it lives where it lives right now due to it being the first iteration of the extension.

[2015-07-08 13:20] hachreak commented on #3089
@jalavik can we close the issue? :)

[2015-07-08 13:40] hachreak commented on #3169
I recently rewrote the "lost password" behavior #3326 (I hope it'll be integrated soon in master).
It send an "confirmation" email with the link for change password.
Maybe you can use the same method.

[2015-07-08 14:01] hachreak opened #3341 "RFC nickname check rules"
I'm trying to:
- rewrite the access module #3328
- remove WebSession legacy module #3326
- remove WebUser legacy module 3267
- rewriting "lost password" forms and email #3326

I wrote a special function on the models to check nickname.
But, actually not all agree on which rules I should follow.

I write here the list of rules that we should be sure is applied (and check the rules accepted by all):

[2015-07-08 14:11] jalavik commented on #3089
@hachreak Err. Probably :+1:  Thanks for all the fixes!

[2015-07-08 14:11] #3089 closed

[2015-07-08 14:31] hachreak commented on #3214
The list:
- [ ] `git grep "ON DUPLICATE KEY UPDATE"`
- [ ] `git grep "SELECT LAST_INSERT_ID()"`
- [ ] `git grep UNIX_TIMESTAMP`
- [ ] `git grep "SLAVE STATUS"`
- [ ] `git grep "INSERT IGNORE"`
- [ ] `git grep inet_aton`
- [ ] `git grep MySQLdb`: waiting #3326
- [ ] `git grep "SHOW TABLES"`
- [ ] `git grep "CHECK TABLE"`
- [ ] `git grep "RLIKE"`
- [ ] `git grep "PRIORITY"`
- [ ] `git grep DATE_FORM

[2015-07-08 15:36] hachreak commented on #3209
I created a Pr to remove websession on master: #3326

[2015-07-09 09:34] jmartinm commented on #3341
Thanks Leo. The rules for the nicknames seem good to me in principle. I guess the `it can't be guest` is due to legacy code relying on that name? In an ideal world that should not be a limitation?

And is the nickname mandatory in the end? Or having an email is enough? Most sites treat both as the same:

[code]

is it possible to do that?

[2015-07-09 09:41] crepererum commented on #3341
## Clarification for the Unicode point

Google faced the same issue with Gmail (see [blockpost](http://googleonlinesecurity.blogspot.ch/2014/08/protecting-gmail-in-global-world.html)) and decided to use a very good official specification called [Unicode Restriction Level](http://www.unicode.org/reports/tr39/#Restriction_Level_Detection). We should choose one of the levels described there. I propos

[2015-07-09 09:49] jmartinm commented on #3339
:+1: @nharraud we have seen the same problem with our INSPIRE demo records.

And as @jalavik mentions, I guess this will soon be configurable per installation.

[2015-07-09 09:53] jmartinm commented on #3311
The issue is still open https://github.com/flask-admin/flask-admin/issues/912 for the moment.

[2015-07-09 12:03] hachreak commented on #3341
@jmartinm currently, in the code exists 3 point where validate/update nickname and them require that nickname can't be empy:

https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/accounts/validators.py#L79
https://github.com/inveniosoftware/invenio/blob/master/invenio/legacy/webuser.py#L386
https://github.com/inveniosoftware/invenio/blob/master/invenio/legacy/webuser.py#L504

And

[2015-07-09 14:56] dset0x opened #3345 "RFC Checker module, rebooted."
Efforts to rewrite the `Checker` module (previously `BibCheck`) have recently been resumed by myself, @Dziolas and @errikos, with guidance from @jalavik and @kaplun. This RFC is meant to replace #2488 and expand on https://github.com/inveniosoftware/invenio/issues/1889?#issuecomment-60728222 .

Due to some new requirements, we are killing some existing code and redesigning the module.

The `Checke

[2015-07-09 15:19] nharraud commented on #3339
@jalavik Yes, it will be configurable in the end. This is only temporary hard coded for easiness of development.
@jmartinm If you have similar dynamic schema issues you might want to also use `date_detection: false` which will prevent elasticsearch from trying to detect automatically dates.

[2015-07-09 16:39] aw-bib commented on #3345
This sound somewhat related to the discussion in inveniosoftware/dojson#23

[2015-07-09 21:24] kaplun commented on #3345
Indeed, but not that, although jsonschema allows to describe certain type of constraints, in certain conditions one might still want to use the full power of python to perform checks. E.g.:
* checking relations across records
* checking link rotting (404s etc)
* upgrading records to a new data model
* propagating the relations towards merged records
* performing search and replace (e.g. to correct

[2015-07-10 05:34] aw-bib commented on #3345
Agree.

Somewhere in the discussion I just raised the point if not some such checker beyond the schema is necessary or would be good to have. E.g. in having a less strict schema that get's checked later and tagged for manual curation. Most likely one has to find some sort of _sweet spot_.

[2015-07-12 09:16] egabancho commented on #3334
@blixhavn could you add the error trace please?

[2015-07-13 06:48] jirikuncar commented on #3341
:+1: for https://github.com/inveniosoftware/invenio/issues/3341#issuecomment-119891054

[2015-07-13 08:51] crepererum commented on #3233
I'm currently working on wiping out `bibsched` and `bibupload` because they where destroyed by the new Record API and would mostly need a rewrite. No sure yet if you replace `bibsched` with an celery task or if we insert the records directly into the system, because we could use transactions now. (depends on the switch to InnoDB or PostgreSQL).

[2015-07-13 08:53] jirikuncar commented on #3233
@crepererum you can remove `bibupload` and leave `bibsched` untouched for now.

[2015-07-13 13:21] jmartinm opened #3351 "search: /export problems"
I can currently see 2 different places where the `/export` functionality is implemented:

1) [Invenio-records](https://github.com/inveniosoftware/invenio-records/blob/master/invenio_records/views.py#L133)

2) [Invenio ](https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/search/views/search.py#L333)

In 1) there is a problem as recids are passed ([see here](https://github.com/in

[2015-07-13 13:41] jirikuncar commented on #3351
There are two different use cases that can co-exists until new REST API for search is in place.

[2015-07-13 14:11] jmartinm commented on #2478
The /export functionality should also be taken into consideration in this API - see https://github.com/inveniosoftware/invenio/issues/3351

[2015-07-13 14:12] jmartinm commented on #3351
Does it make sense to move this as a comment for https://github.com/inveniosoftware/invenio/issues/2478 ?

[2015-07-13 15:15] tiborsimko commented on #3199
No particular idea about original intentions. I think we can go ahead. CC-ing @mvesper who may know more about CERN use case...

[2015-07-13 15:26] PXke commented on #3334
It seems we can close this one, as we will be using 2.0.x for a while and the way JSONalchemy works will change.

[2015-07-13 15:27] tiborsimko commented on #3334
Closing, thanks.

[2015-07-13 15:27] #3334 closed

[2015-07-13 15:27] PXke commented on #3334
:smile:

[2015-07-13 15:37] PXke commented on #3161
:+1:

[2015-07-13 15:37] tiborsimko commented on #3161
:+1:

[2015-07-13 16:34] jmartinm opened #3353 "search: reset jrec on facet click"
Navigating in the second page of the search results has a problem with facets.

if the number of results after faceting is less than `jrec` no results are shown:

See https://www.dropbox.com/s/cqiyoktfr0sawlb/Screenshot%202015-07-13%2018.33.19.png?dl=0

The value of `jrec` should be reseted.

[2015-07-13 19:17] blixhavn opened #3354 "encoder: process_batch_job gives wrong arguments to compose_file"
In `process_batch_job`, `compose file` is called with directory, docname and extension as unnamed arguments [1], while the definition [2] takes only `dirname` and `extension` as unnamed arguments. This leads to `compose_file` returning `<directory>/<docname>.<docname>;<extension>` as path, instead of `<directory>/<docname>.<extension>`

[1] https://github.com/inveniosoftware/invenio/blob/master/in

[2015-07-14 07:39] kaplun commented on #21
This is not going to be tackled as citations are going to be handled in a different way in master.

[2015-07-14 07:39] #21 closed

[2015-07-14 07:40] kaplun commented on #46
:+1:

[2015-07-14 07:40] #46 closed

[2015-07-14 07:48] kaplun commented on #169
We have not yet scheduled when the work dictidiffer web interface will start.

[2015-07-14 07:58] kaplun commented on #298
This was actually fixed by @jalavik in f9271a01bb74bf578285b10edee2632ee0888f5f

[2015-07-14 07:58] #298 closed

[2015-07-14 07:59] kaplun commented on #492
:+1:

[2015-07-14 07:59] #492 closed

[2015-07-14 09:53] #3335 closed

[2015-07-14 10:54] blixhavn commented on #3354
Before I start working on this: what is the preferred filename? `<docname>.<extension>;<extension>` or `<docname>.<extension>`?

[2015-07-14 10:58] tiborsimko commented on #3354
CC @ludmilamarian @drjova WRT video encoder

[2015-07-14 14:32] #3353 closed

[2015-07-14 17:39] #3333 closed

[2015-07-14 20:41] jirikuncar commented on #3309
This problem is applicable on maint-2.0 too, hence I'm changing back the milestone.

[2015-07-15 08:48] #3339 closed

[2015-07-15 11:01] jmartinm commented on #3351
So I guess in the interim we can fix the view in 1) so that record objects are passed instead of recids.

[2015-07-15 15:00] #3351 closed

[2015-07-15 15:53] tiborsimko commented on #3341
`nickname` used to be optional in the beginning, but it has been mandatory since many years now.  It basically plays a role of "visible username" or a "visible user ID" or "visible user handle".  In this way the user email address stays hidden.  When people register, they need to select one.  When we use external authentication, we fetch the user ID from the remote system.  (E.g. for CERN SSO it c

[2015-07-16 09:34] aw-bib commented on #3341
Is it still viable to live in 7bit ASCII for the login? Ie. apply unix rules for the nickname? Just had quite some fun in projects that did not follow this seemingly simple rule (e.g. also considering to hook up more restrictive systems.)

[2015-07-16 12:11] nharraud opened #3366 "search: query parser does not parse all possible combinations of NOT operator correctly"
The `NOT` operator is not parsed as NotOp.

OR NOT
-----------
`NOT` is parsed as a `Value`.

**Example:**
`test AND (author:"Alexander, S" OR NOT author:"Costa, M S")`

gives

`AndOp(ValueQuery(Value('test')), AndOp(OrOp(KeywordOp(Keyword('author'), DoubleQuotedValue('Alexander, S')), ValueQuery(Value('NOT'))), KeywordOp(Keyword('author'), DoubleQuotedValue('Costa, M S'))))`

AND (NOT ...
-------

[2015-07-16 12:15] jirikuncar commented on #3366
@nharraud please move it to `invenio-query-parser`

[2015-07-16 12:15] #3366 closed

[2015-07-17 07:31] hachreak commented on #3341
@tiborsimko @jirikuncar  on "nickname can't be empty":

https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/oauthclient/contrib/orcid.py#L124

If you login with Orcid, invenio doesn't collect information about nickname!
Can we set a nickname?

[2015-07-17 09:24] ludmilamarian commented on #3354
@blixhavn apparently ffmpeg  does not support ';foo' so going for `< docname>.<ext>` is better. So I think the commit is good to go. Anyway this renaming is just for processing, the full name with subformat and extension that will be stored in bobdoc is computed correctly afterwards.

[2015-07-17 11:30] #3303 closed

[2015-07-17 11:30] #3309 closed

[2015-07-17 11:53] #3354 closed

[2015-07-17 12:50] jirikuncar opened #3372 "accounts: backport improvements from INSPIRE profile page"
Backport support for Gravatar and email verification icon to upstream.

- https://github.com/inspirehep/inspire-next/blob/master/inspire/base/templates/accounts/settings/profile.html

--
cc @jmartinm @tiborsimko

[2015-07-17 13:57] lnielsen commented on #3341
Orcid is already setting the family name: https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/oauthclient/contrib/orcid.py#L175

[2015-07-17 14:01] lnielsen commented on #1989
Close it as someday?

[2015-07-17 14:02] lnielsen commented on #1944
Closing this for now as no one is working on it.

[2015-07-17 14:02] #1944 closed

[2015-07-17 14:03] lnielsen commented on #1946
Closing this for now as no one are working on it. Eventually we will need on Zenodo and reopen then.

[2015-07-17 14:03] #1946 closed

[2015-07-17 14:05] hachreak commented on #3341
But at that point it's late because the user is already created.
I tried to add a SQLAlchemy "validator" to check nickname but orcid tests failed.

[2015-07-18 19:40] kaplun commented on #1989
CC @Kennethhole, @blixhavn, @PXke, is TIND interested into internationalization of Invenio? (for INSPIRE we are English only for the foreseeable future).

[2015-07-20 07:25] Kennethhole commented on #1989
This seems interesting!

TIND finalizing translation of Arabic, Russian and Chinese for 1.2 in these days. We will create a pull request when everything is ready and hopefully you are able to use some of it in 2.x. We definitely support using an app as transifex.com. We used https://poeditor.com/ ourselves and it makes it so much easier to manage the project.

It would be preferable to split trans

[2015-07-20 08:13] jirikuncar commented on #1989
We are going to do it as we separating packages (see *invenio-records*, *invenio-pidstore*, etc.).

[2015-07-20 08:37] jmartinm commented on #3341
@hachreak I should backport this commit from our INSPIRE repo https://github.com/inspirehep/invenio/commit/44e23568a6dce15c1f6b2a258c5ecbdf318a0543

[2015-07-20 08:41] jmartinm commented on #3341
Here the PR https://github.com/inveniosoftware/invenio/pull/3378

[2015-07-20 08:43] hachreak commented on #3341
@jmartinm cool! thanks! :D

[2015-07-21 09:01] hachreak opened #3381 "RFC webaccessadmin replacement"
I'm working on access module refactoring (see #3328) and I want to port the `webaccessadmin` script in a `inveniomanage access` interface.
Can I remove the `demosite` [specific part](https://github.com/inveniosoftware/invenio/blob/b26a239abfb78a2613f2c6c94dbbd8abec35f642/invenio/modules/access/scripts/webaccessadmin.py#L62-L64) and use another approach to load actions/roles/useraccroles/authorizat

[2015-07-21 09:02] kaplun commented on #3381
Ideally would be nice to be able to dump and load roles/actions/authorization/arguments. (actually actions are special in that they need to be rather collected via a registry)

[2015-07-21 09:03] kaplun commented on #3381
In this sense demosite specific roles and authorization would be simply some configuration/fixture that could be loaded from an overlay.

[2015-07-21 09:04] egabancho commented on #922
See https://github.com/inveniosoftware/invenio/issues/922#issuecomment-56158537

[2015-07-21 09:04] #922 closed

[2015-07-21 09:10] hachreak commented on #3381
@kaplun you talking about this [registry](https://github.com/inveniosoftware/invenio/blob/b26a239abfb78a2613f2c6c94dbbd8abec35f642/invenio/ext/principal/wrappers.py) for actions?
It loads all actions defined in `acl.py` (e.g. for [workflows](https://github.com/inveniosoftware/invenio/blob/b26a239abfb78a2613f2c6c94dbbd8abec35f642/invenio/modules/workflows/acl.py) ).
But, can you create a new action

[2015-07-21 09:17] egabancho commented on #708
No longer needed

[2015-07-21 09:17] #708 closed

[2015-07-21 09:30] jirikuncar commented on #3381
@hachreak the `acl`s are loaded if imported in `views` or `__init__`.

[2015-07-21 09:44] kaplun commented on #708
OMG, 4 years have already passed :scream:

[2015-07-21 09:53] egabancho commented on #309
This issue has been open since 2010 and nobody did anything to fix it or reported the same issue again

[2015-07-21 09:53] #309 closed

[2015-07-21 10:34] rthieledesy opened #3382 "urlutils.py v.1.1"
Hallo,

I have installed the Invenio 1.1.6 on Scientific Linux 6.5. We will starting to test the upgrading process on Invenio 1.2.
But in the moment, we get the following warning:
/usr/lib64/python2.6/site-packages/invenio/urlutils.py:40: DeprecationWarning: the md5 module is deprecated; use hashlib instead

I have seen, that for Invenio 1.2 the urutils.py is using haslib instead of md5.
Is it pos

[2015-07-21 12:43] #479 closed

[2015-07-22 08:23] hachreak commented on #3381
What can we create as fixtures and where?

[2015-07-22 09:36] kaplun commented on #3381
To whom are you asking this? Anyway, as far as I can think about it, anything (but actions)  in: https://github.com/inveniosoftware/invenio/blob/legacy/modules/webaccess/lib/access_control_config.py#L472-L647 is eligible to be transformed into fixtures (which should typically go into the demosite, they are specific to a given installation).
Actions are already well implemented as a registry, thank

[2015-07-22 13:31] hachreak commented on #3381
So, if we put all in fixtures, my next question is: do we still need `webaccessadmin` tool? :)

[2015-07-22 13:36] jirikuncar commented on #3381
We should have `manage` command to modify roles and rights.

[2015-07-22 14:59] jmacmahon opened #3390 "access: CFG_SUPERADMINROLE_ID is not accurate in the demosite."
The access module uses the `CFG_SUPERADMINROLE_ID` config variable to determine what role ID to add to authorisation requests: https://github.com/inveniosoftware/invenio/blob/maint-2.1/invenio/modules/access/control.py#L1474, but in the standard Invenio demosite installation, the `superadmin` role ID is 11.  This causes unexpected behaviour when authorizing users belonging to whichever role has ID

[2015-07-22 15:08] kaplun commented on #3381
:+1:  Fixture are good just to initialize out of the box an instance with sensible defaults. Then inveniomanage (and possibly a web interface) would allow to fine tune authorizations.

[2015-07-22 15:09] jalavik commented on #3390
+1 on the suggestion. Not sure why this was done this way originally. It was recently moved it from a hardcoded value to this config, but I agree that this check is flawed in general. Replacing with `name= SUPERADMINROLE` at least does not rely on ordering of `INSERT` into the role table.

[2015-07-22 15:12] kaplun commented on #3390
I fear micro-optimization (because the superadmin role is checked continuously).

[2015-07-22 15:18] jmacmahon commented on #3390
If it's an optimisation issue, perhaps we could check the superadmin role ID once at the top of the file (i.e. at load time) and use that value later?  Since it's highly unlikely the ID will change while Invenio is running.

[2015-07-22 15:27] kaplun commented on #3390
You can skip optimization anyway, as it was more due to the old Invenio and not nicely using memoization and caching everywhere. :smile:

[2015-07-23 09:28] bouzlibop commented on #3311
This should help: `form_overrides = dict(content=TextAreaField)`
https://github.com/zenodo/invenio/pull/7/files#diff-b83bf3bae0fb93452518c475004ffe97R89

[2015-07-23 09:34] jirikuncar commented on #3311
@bouzlibop can you please submit a patch for *Invenio-Pages*?

[2015-07-23 15:05] #3311 closed

[2015-07-24 08:35] hachreak commented on #1786
can we close this issue?

[2015-07-24 08:37] hachreak commented on #1787
@jirikuncar can you move this issue to https://github.com/inveniosoftware/invenio-groups ?

[2015-07-24 08:39] hachreak commented on #1302
it's still a issue for invenio v2.2?

[2015-07-24 08:43] hachreak commented on #3209
`websession removal` merged.
@jacquerie  Can we close the issue?

[2015-07-24 08:44] #1786 closed

[2015-07-24 08:50] jirikuncar commented on #1787
see https://github.com/inveniosoftware/invenio-groups/issues/8

[2015-07-24 08:50] #1787 closed

[2015-07-24 08:54] hachreak commented on #2348
@egabancho has removed some files.
there are other files to remove? can you make a list of files to remove? Thanks :D

[2015-07-24 08:58] hachreak commented on #1907
@jirikuncar can we move or close the issue?

[2015-07-24 08:59] hachreak commented on #1792
@jirikuncar can we move or close the issue?

[2015-07-24 09:01] hachreak commented on #1215
can we move the issue to https://github.com/inveniosoftware/invenio-knowledge ? :)

[2015-07-24 09:07] hachreak commented on #3233
@lnielsen can you update the list for websession and inveniogc? thanks :D
https://github.com/inveniosoftware/invenio/commit/9d5cf934307f3ace9e62a9cb09a60a87f1855566

[2015-07-24 10:36] egabancho commented on #1302
I just realise that I fixed this issue for legacy https://github.com/inveniosoftware/invenio/pull/3358 :open_mouth:

[2015-07-24 10:43] egabancho commented on #1302
I don't think this applies anymore to 2.2, BibRank are BibIndex don't exist on 2.2

@jalavik should we put back the milestone to 1.3?

[2015-07-24 11:14] jmartinm opened #3393 "global: invenio-records needs version update"
Running:

[code]

gives the error:

[code]

Problem seems to be that [this function](https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/documents/recordext/functions/set_record_documents.py#L27) is not defined in [Invenio-records 0.1.0](https://github.com/inveniosoftware/invenio-records/tree/v0.1.0)

Time to release new version of `invenio-records` and update the version in `se

[2015-07-25 12:23] drjova commented on #1664
Youtube Data API [v2](http://youtube-eng.blogspot.ch/2015/04/bye-bye-youtube-data-api-v2.html) has been deprecated, needs to be updated to [v3](https://developers.google.com/youtube/v3/).

[2015-07-26 20:26] jirikuncar commented on #1907
@hachreak please check if it was implemented in *Invenio-Tags* and if not, please create an issue there.

[2015-07-26 20:29] jirikuncar commented on #1792
Fixed in https://github.com/inveniosoftware/invenio-tags/commit/a598b23a15c73d3344c2a88bba80e1e2e68a94f4

[2015-07-26 20:29] #1792 closed

[2015-07-26 20:34] jirikuncar commented on #3271
Yes. Please add `FIX` label to commit messages. Thanks

[2015-07-26 20:54] #610 closed

[2015-07-26 20:57] jirikuncar commented on #611
In Invenio 2.x it's not anymore possible to edit output formats via admin interface, because we are using Jinja2.

[2015-07-26 20:57] #611 closed

[2015-07-26 22:13] jirikuncar commented on #450
Collection facets with checkboxes has been added to master (2.2+).

[2015-07-26 22:13] #450 closed

[2015-07-27 09:13] #1907 closed

[2015-07-27 09:53] drjova commented on #1061
@kaplun can we close it?

[2015-07-27 10:46] jmartinm opened #3394 "session: 500 error on https failure check"
The following lines of code https://github.com/inveniosoftware/invenio/blob/master/invenio/ext/session/interface.py#L197-L207

raise a `BadRequest` exception that gets propagated until the user sees an Internal Server Error.

Even though we have not seen it often there is some assumption on that code that is not holding true in all situations and the current fallback is not user friendly.

* Any i

[2015-07-27 11:15] jirikuncar commented on #3394
@jmartinm can you provide a case when it fails? You can add `@app.errorhandler(BadRequest)` in your overlay as a hotfix.

[2015-07-27 11:57] jmartinm commented on #3394
So this is the traceback:

http://pastebin.com/ATJLAZmu

Not sure how to reproduce it. It is happening from one machine for the user account of Annette (she logs in via ORCID and her account has superadmin rights)

If I remember correctly, this same error was happening at the beginning frequently until we added this configuration https://github.com/inspirehep/inspire-next/blob/master/inspire/confi

[2015-07-27 12:26] jirikuncar commented on #3394
@jmartinm it looks like she is accessing the site via HTTP when she is logged in (http://labs.inspirehep.net/admin/holdingpen/details/45141 instead of https://labs.inspirehep.net/admin/holdingpen/details/45141).

[2015-07-27 12:30] jmartinm commented on #3394
That is the weird thing. For me, if I am logged in and access the page
http://labs.inspirehep.net/admin/holdingpen/details/45141 I get redirected to
https://labs.inspirehep.net/admin/holdingpen/details/45141 without any error. Not sure at what level this redirection happens and why would it not work for her.

[2015-07-27 15:04] #3271 closed

[2015-07-27 20:58] jirikuncar commented on #200
Each collection can have it's own Jinja2 template (see https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/collections/views/collections.py#L102-L105).

[2015-07-27 20:58] #200 closed

[2015-07-27 21:02] jirikuncar commented on #326
@nharraud interesting example for ElasticSearch aggregations.

[2015-07-27 21:06] jirikuncar commented on #632
Most of the important tags are already used. Portalboxes or record templates needs to be still amended.

--
see also #3244

[2015-07-27 21:09] jirikuncar commented on #911
JSON is used as default internal storage format used also in formatter. Please follow #3244.

[2015-07-27 21:09] #911 closed

[2015-07-27 21:13] jirikuncar commented on #1057
Can be implemented in custom template per overlay. Search always respects restrictions.

[2015-07-27 21:13] #1057 closed

[2015-07-27 21:44] jirikuncar commented on #1418
Patches are welcome although I'm afraid that we can no longer support archaic versions of Python <2.7. Please look forward to bright Python 3 future.

[2015-07-27 21:44] #1418 closed

[2015-07-27 21:46] #3222 closed

[2015-07-28 07:31] #3296 closed

[2015-07-28 08:31] #3390 closed

[2015-07-28 11:43] jmartinm opened #3401 "install: remove --process-dependency-links reference"
In INSTALL.rst there is:

[code]

Since it seems we are not using any more dependency links like we used to when this INSTALL file was created (https://github.com/inveniosoftware/invenio/blob/8e856b6edab2390e42c96db622c8ffa57907b547/setup.py#L55-L59) we can remove it from the installation instructions to not confuse the developers.

It is not recommended to use dependency links anyhow https://gith

[2015-07-28 11:43] jmartinm commented on #3401
Let me know if it makes sense and I will create PR.

[2015-07-28 11:45] jmartinm commented on #3401
For reference, I tried installing Invenio + INSPIRE without `--process-dependency-links` with no problem.

[2015-07-28 11:48] jirikuncar commented on #3401
:+1: we can remove it

[2015-07-28 12:45] #3401 closed

[2015-07-29 07:26] jmartinm commented on #3394
Just got this locally too.

I think this happens when `session` and `sessionstub` expire and the only cookie left is `remember_me` (from Flask-Login):

![screen shot 2015-07-29 at 9 20 16 am](https://cloud.githubusercontent.com/assets/580727/8951973/3b38e6ce-35d3-11e5-8252-1d91b7b4e59d.png)

As that cookie by default [is not marked as secure](https://github.com/maxcountryman/flask-login/blob/maste

[2015-07-29 07:27] jmartinm commented on #3394
Removing the cookie and refreshing the page makes the 500 error go away.

[2015-07-29 07:46] jmartinm opened #3406 "global: inveniomanage database create fails"
How to reproduce
==============

With Invenio `master` and Invenio-demosite `master`

[code]

[code]

[code]

[2015-07-29 08:01] jalavik commented on #3406
Indeed it is because `invenio.modules.oaiharvester` was put in `PACKAGES_EXCLUDE` after c4eb545. After discussion with @jirikuncar we agreed to release the Invenio-OAIHarvester module to fix this issue.

Meanwhile, removing the module from the exclude list should fix the issue.

[2015-07-29 08:06] jmartinm commented on #3406
As discussed IRL with @jalavik , it is also necessary to add ``__init__.py`` in https://github.com/inveniosoftware/invenio/tree/master/invenio/modules/oaiharvester

[2015-07-29 09:00] jmartinm opened #3407 "demosite: load of demo records error"
How to reproduce
==============

[code]
[code]
[code]

And get the following `sqlalchemy.exc.IntegrityError`:

http://pastebin.com/238DZJyH

[2015-07-29 11:55] jirikuncar commented on #3406
@jmartinm @jalavik @lnielsen what about just warning about missing
[code]

[2015-07-29 12:10] jalavik commented on #3406
@jirikuncar :+1:

[2015-07-29 13:18] lnielsen commented on #3406
As discussed IRL with @jirikuncar:

1) Missing upgrades shouldn't happen (upgrades should only depend on upgrades in it's own module). Likely this is temporary problem, because of all the module externalisation happening these days.
2) Missing upgrades usually means spelling mistake or similar in the depends on attribute, so normally we should bail out and not run the upgrades.

Possible solutions

[2015-07-29 14:07] jalavik commented on #3406
@lnielsen So the cross module upgrade dependency of the InnoDB upgrade kinda was the issue here together with externalisation.

This exception happens when building the demosite, via signals, so we could amend that trigger to use such an `ignore-missing` parameter to avoid interrupting demosite setup?

[2015-07-29 14:55] #3406 closed

[2015-07-30 06:22] jirikuncar commented on #3407
I can not reproduce it with latest Invenio and Invenio-Demosite master.

[2015-07-30 06:22] #3407 closed

[2015-07-30 06:48] jirikuncar commented on #3393
Closed via https://github.com/inveniosoftware/invenio-records/releases/tag/v0.2.0

[2015-07-30 06:48] #3393 closed

[2015-07-30 09:52] jmartinm commented on #3407
What database are you using?

I have:

[code]
and can see the error.

[2015-07-30 09:54] jirikuncar commented on #3407
[code]

[2015-07-30 10:53] jmartinm commented on #3407
OK. Upgrading mysql did not help.

`pip install invenio-records --upgrade`

did.

[2015-07-30 11:30] crepererum opened #3413 "RFC Problems during module separation"
We started to rip out certain modules from Invenio core to improve maintainability and to speed up development. This issue contains some of the problems, that I faced during that process:

## Autodiscovery
**Problem:** Right now, modules have to be specified using the `PACKAGES` config variable. That makes creating overlays more difficult and error-prone, because devs need to specify the desired s

[2015-07-30 13:26] jirikuncar commented on #3413
Maybe we should use term "Distribution" or "Distribution Package" (https://packaging.python.org/en/latest/distributing.html#upload-your-distributions).

[2015-07-30 13:27] jirikuncar commented on #3413
One *MUST* only depend of upgrades from its own module or dependencies.

[2015-07-30 13:42] crepererum commented on #3413
Yeah, in theory. As shown in the example, that is not really true.

[2015-07-30 14:04] jacquerie commented on #3407
FWIW, I'm having the same issue, and upgrading `invenio-records` didn't solve it. This appears to happen on records that have a `controlfield` tag in them, since removing it makes `inveniomanage records create` work again.

[2015-07-30 14:06] jirikuncar commented on #3407
@jacquerie can you please provide more details and traceback? Maybe we need to submit an issue to DoJSON. Please make sure you are running latest version of all packages. Thanks

[2015-07-31 07:11] lnielsen commented on #931
I'm still +1 on this.

[2015-07-31 07:16] lnielsen commented on #632
+1 for me

[2015-07-31 07:23] jirikuncar commented on #931
### Solution

- remove custom configuration options: `CFG_SITE_URL`, `CFG_SITE_SECURE_URL`
- remove SSLify extension as it won't be not needed
- use `SERVER_NAME` (standard Flask config) if you need to change your routing behind proxy

[2015-07-31 12:02] nharraud opened #3415 "RFC search: facet filtering design"
Introduction
----------------
This issue defines the default facet filtering/faceting behavior, what parts are customizable and what other behavior it should be able to achieve with minimal customizations.
It should mainly contain high level specifications.
It will also list all related issues.

Default behavior
----------------------
**Definitions**
- Perform a search: the user clicks on the `sea

[2015-07-31 14:20] jirikuncar opened #3417 "apikeys: module removal"
- [ ] remove module
- [ ] remove from decorator in `invenio/ext/restful/__init__.py`

[2015-08-03 08:15] aw-bib commented on #3415
Cc: @join2/librarians

[2015-08-03 16:01] jmacmahon opened #3419 "webstat: webstatadmin --load-config crashes on modifying existing config"
The `webstatadmin` script creates

[2015-08-03 16:01] #3419 closed

[2015-08-03 16:15] jmacmahon opened #3421 "webstat: crash in webstat.modify_customevent"
The function `webstat.modify_customevent` manages the `staEVENT` and `staEVENTxx` series of MySQL tables for logging custom events.  It is usally called by the script `webstatadmin`, which reads a config from `etc/webstat/webstat.cfg` to pass parameters to this function.

When the script is run on a clean DB, it functions well, but in the case of modifying the schema for existing custom events, it

[2015-08-04 06:43] #3417 closed

[2015-08-05 08:46] ludmilamarian commented on #1434
I think this is something that we will tackle in the new ES based statistics module, so we can close this one.

[2015-08-05 08:46] #1434 closed

[2015-08-05 10:00] tiborsimko opened #3424 "WebSearch: accelerate nearest terms display for not-found phrases"
Observed with @Kennethhole on some @TIND sites.

Searching for a Boolean query that does not find anything (say `first meeting at foo and bar`) is usually fast. (~0.1 seconds)

Searching for phrase query (`"first meeting at foo and bar"`) can be however very slow, e.g. ~0.1 seconds in collection index, ~5 seconds in title index, ~15 in global index.  (depending on the number of terms each given in

[2015-08-05 10:31] audub commented on #3424
Yes, we will look at it. Not sure that browsing words is much help for the user when searching for phrases though? I will discuss a bit more with @Kennethhole what we think is the best solution.

[2015-08-06 14:38] tiborsimko commented on #1208
FYI @egabancho if you'd like to try it out, here is @jeromecaffaro's edited version of @jmartinm's patch:

[code]

[2015-08-11 07:46] greut commented on #2876
I'm @jirikuncar and I approve this message. :wink:

[2015-08-11 12:21] kaplun commented on #1061
Sure!

[2015-08-11 12:21] #1061 closed

[2015-08-11 12:22] kaplun commented on #200
Awesome! Thanks

[2015-08-11 14:04] kaplun commented on #1289
Is there an equivalent work/idea for the new `master`?

[2015-08-12 08:41] bouzlibop commented on #1998
@jirikuncar, can we close this one? I believe it was resolved long time ago in above-mentioned PR.

[2015-08-12 08:44] #1998 closed

[2015-08-12 15:26] tiborsimko commented on #1289
Yes, early SIP, richer AIP, memento-friendly DIP.  Coming after current module re-factoring efforts. See e.g. https://github.com/inveniosoftware/invenio/pull/3364#issuecomment-121654459.  Already in the manpower work plan.

[2015-08-12 15:39] tiborsimko commented on #2876
@blixhavn There's an order of PR readiness, so to speak, from "preserving or increasing code coverage" at the top of the scale, through "having two or more review signatures" in the middle, down to "unsigned unreviewed untested" at the botom.  The top of the scale is very integration-ready and can be almost self-merged; the latter is very integration-unready and can be almost self-rejected.  We'll

[2015-08-12 15:44] tiborsimko commented on #3413
WRT upgrade recipes and package dependencies, I guess the practice will become closer to theory once we separate away all the modules into their own standalone packages with well defined dependencies between them.

[2015-08-12 15:53] tiborsimko commented on #3407
@jmartinm @jacquerie In case of problems of this kind, you can easily use Docker to confirm/infirm whether latest `invenio-demosite` and friends behave OK or not:

[code]

see e.g. https://github.com/inveniosoftware/invenio-demosite/commit/c13311fe33ea48d2d1ae8f5bdbe2d112d3738bcd

[2015-08-12 16:02] tiborsimko commented on #3421
Hmm, the `webstatadmin --load-config` installation step is usually called only once.  (The thinking being "dump-and-load", "dump-and-load", etc.)  Is there a real-life use case for calling it twice?

(this doesn't mean we shouldn't fix it...)

[2015-08-12 16:15] tiborsimko commented on #610
FWIW `pyfilesystem` supports WebDav...

[2015-08-12 16:27] kaplun commented on #610
Here, the other way round was proposed, i.e. to have Invenio acting as a webdav server, so that one could mount an Invenio record or collection on query :-)

[2015-08-12 20:36] tiborsimko commented on #610
Oh, indeed.  For some very, very, very later someday, perhaps...

[2015-08-12 22:10] tiborsimko commented on #1946
In cases like this, we should also change the milestone for better book keeping.  E.g. we can use a latter milestone like "2.5" (if resources are planned), or use "someday" (if unknown).  Otherwise this issue would not be easily distinguishable from any regularly closed RFC for 2.2.

P.S. In the CERN Open Data project we use "someday" as a milestone, not as a label.  This seems more appropriate in

[2015-08-13 08:49] jmartinm opened #3435 "es: wildcard support"
Currently, our typeahead fields use [the wildcard notation](https://github.com/inspirehep/inspire-next/blob/master/inspire/modules/deposit/static/js/deposit/affiliations_typeahead.js#L33) in order to find a substring match in a given field.

While trying to replicate the behaviour with ES I have come to the same problem as http://stackoverflow.com/questions/23243867/elasticsearch-find-substring-ma

[2015-08-13 09:13] jmartinm commented on #3435
Actually the same can be achieved by using `regexp` - https://www.elastic.co/guide/en/elasticsearch/guide/current/_wildcard_and_regexp_queries.html

So for my use case I see that doing a query like ``/.*SLAC.*/`` will generate:

[code]

which is doing the right thing :)

If we want to simplify and not add another type of query (wildcard) I will close this issue

[2015-08-13 09:43] kaplun commented on #610
Maybe...

[2015-08-13 11:21] jirikuncar commented on #3435
Please fix the Elastic search visitor - https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/search/walkers/elasticsearch.py#L135-L147

--
cc @nharraud

[2015-08-13 15:08] #1793 closed

[2015-08-14 07:34] lnielsen commented on #3413
Don't you just end up in the same situation having to specify it twice - i.e. you have to specify dependencies twice in the setup.py (in ``requires`` and in ``entry_points``)?

Agree that this is confusing, and inconsistent with Python's nomenclature. A package consists of modules (single python files). Another possibility is calling it "application", but that probably conflicts with Flask's nomen

[2015-08-14 08:22] jirikuncar opened #3438 "login: use signal to populate caches"

[2015-08-17 08:15] blixhavn opened #3446 "Pages: Multi-language support"
We need the pages module to be multi-language, where one URL shows content based on selected language, or redirects to the corresponding URL (i.e. [en] https://demo.tind.io/terms -> [de] https://demo.tind.io/bedingungen)

Is there any work being done on this, or have you discussed it?

[2015-08-17 08:36] lnielsen commented on #3446
Can you open this issue on inveniosoftware/invenio-pages instead.

[2015-08-17 08:36] #3446 closed

[2015-08-17 08:40] blixhavn commented on #3446
Ah of course

[2015-08-17 09:07] jmartinm opened #3448 "es: ElasticSearch integration improvements"
In the current ElasticSearch integration we have 1 index called `records` and inside a document type called `record`. In order to be production ready, these are some changes that can be introduced:

* [ ] Allow separating document types in different indexes. This will make our integration [ES 2.0 ready and avoid conflicts in mappings](https://www.elastic.co/blog/great-mapping-refactoring) between

[2015-08-17 11:01] jirikuncar commented on #3448
We can start simply with a path to a `json` file or you can create a registry (what about merging/conflicts in mappings?).

[2015-08-18 14:28] tiborsimko commented on #3448
Note that @nharraud and @Letreguilly were looking exactly at the configuration of Elasticsearch mappings, using among other things the field aliases and extensible Jinja templates to allow each overlay to customise the mappings easily.  @Letreguilly has an example code already.

[2015-08-18 15:06] jmartinm commented on #3448
I did not see anything on Github. Can you create a WIP PR so that we can synchronize? I have a working branch and will create a PR now in order to use different ES indices. We can continue the discussion here.

[2015-08-18 15:28] jmartinm commented on #3448
The PR https://github.com/inveniosoftware/invenio/pull/3450 addresses using different indexes for different collections.

That would allow us, for example, to have the following configuration on INSPIRE https://github.com/inspirehep/inspire-next/pull/305

Please, review and comment on those PRs

[2015-08-19 09:10] eamonnmag opened #3453 "indexer: create manage hooks"
So that we can say for example:

[code]

After speaking with @jmartinm, it would also be useful to recreate only specific indexes (as in collections), so

[code]

Django haystack has a nice set of commands, using this as a template would be nice - http://django-haystack.readthedocs.org/en/latest/management_commands.html

[2015-08-19 09:13] eamonnmag opened #3454 "accounts: create manage hooks"
So that we can create users for example for inveniomanage, e.g.

[code]

[2015-08-19 09:20] tiborsimko commented on #1989
One comment WRT transifex and other cloud-based solutions:

1. For the translator, it is interesting to see the context of the phrase he/she is translating, which may not be easy to do on the cloud.  Translating files locally, e.g. using Emacs po-mode, the translator can press `s` to go to the source code line where the given phrase occurs.  (Either to understand its context, or to improve Python

[2015-08-19 09:29] tiborsimko opened #3455 "I18N: clean PO catalogue of duplicated messages"
In latest `maint-2.0` branch, the PO catalogue contains duplicates:

[code]

Indeed:

[code]

The generated catalogue should be clean of these (seemingly duplicated) messages so that the files are valid in the usual GNU gettext tool chain .

(see also https://github.com/mitsuhiko/babel/issues/76#issuecomment-86986867 that has now been fixed in babel)

[2015-08-19 09:29] jirikuncar commented on #3454
@eamonnmag yes. please re-open using https://github.com/inveniosoftware/invenio-accounts/issues/new

[2015-08-19 09:29] #3454 closed

[2015-08-19 09:30] eamonnmag commented on #3454
Ah ok, sorry @jirikuncar, didn't see that!

[2015-08-19 09:39] jirikuncar commented on #3453
@eamonnmag @jmartinm shall it be part of `invenio-search`?

[code]

Is there any existing elasticsearch command-line tool?

[2015-08-19 09:41] eamonnmag commented on #3453
I think that makes sense to put it there, at least for me.

[2015-08-19 09:43] #3453 closed

[2015-08-20 08:57] jmartinm opened #3460 "login: all users treated as guests (no login possible)"
There is a problem in this line https://github.com/inveniosoftware/invenio/blob/master/invenio/ext/login/legacy_user.py#L159

[code]

which causes the following line to execute https://github.com/inveniosoftware/invenio/blob/master/invenio/ext/login/legacy_user.py#L166

That means that currently it is not possible to login into the system.

[2015-08-20 09:30] kaplun commented on #3460
Could it be connected with Invenio assuming invenio-groups is always there?

[2015-08-20 09:34] jmartinm commented on #3460
Yes, that is the problem actually. On INSPIRE we do not need `invenio_groups` in principle so I did not have it in `PACKAGES`.

The code should not fail `invenio_groups` is not installed.

[2015-08-20 09:52] jirikuncar commented on #3460
- related to #3438

[2015-08-20 11:39] chokribr commented on #1277
@sbujam i try to use it but always i've got this error This is not a correct DOI, please correct it
note that i'm using invenio 1.2

[2015-08-21 09:15] jmartinm commented on #1125
This still seems to be an issue:

https://inspirehep.net/search?ln=en&ln=en&p=fin+exp+ATLAS&of=hb&action_search=Search&sf=earliestdate&so=d&rm=&rg=25&sc=0

vs

https://inspirehep.net/search?ln=en&ln=en&p=fin+exp+CERN-LHC-ATLAS&of=hb&action_search=Search&sf=earliestdate&so=d&rm=&rg=25&sc=0

We can move this to our internal tasks as it is a matter of configuration, not of Invenio.

[2015-08-21 09:16] jmartinm commented on #1117
I guess the new `invenio-knowledge` has restrictions in place and this is not allowed anymore?

[2015-08-21 09:18] jmartinm commented on #1099
Just checked that this is already solved in INSPIRE.

[2015-08-21 09:18] #1099 closed

[2015-08-21 09:21] jmartinm commented on #1026
I have sent an email around INSPIRE to ask if this format is still relevant.

[2015-08-21 09:23] jmartinm commented on #1004
This seems to be fixed by now.

[2015-08-21 09:23] #1004 closed

[2015-08-21 09:23] jmartinm commented on #983
It works now.

[2015-08-21 09:23] #983 closed

[2015-08-21 09:40] #254 closed

[2015-08-21 09:41] tiborsimko commented on #47
This will be taken care of via OAIS like format migrations in another repository.

[2015-08-21 09:41] #47 closed

[2015-08-21 10:13] jalavik commented on #1125
Moved to INSPIRE Asana.

[2015-08-21 10:13] #1125 closed

[2015-08-21 13:02] hoc3426 commented on #1026
I would think all our API work would now give people what they want. Looking through RT it seems that this is the most recent request concerning the old SPIRES xmlpublic and it is already three years old:
https://rt.inspirehep.net/Ticket/Display.html?id=202468

H.

[2015-08-21 13:41] #1026 closed

[2015-08-24 13:25] aw-bib commented on #3054
Are there any news on this end? We just ran into it as well even though it just took longer for us to hit the wall. (Thought this was already fixed.)

[2015-08-24 14:01] kaplun commented on #3054
In Invenio-1.2.x, thanks to 06d7f5f0e61c7926503be462355f0995ea456441 the default storage engine for sessions becomes http://redis.io/, thus allowing for auto-expiration and no longer this sort of troubles. If you are still using Invenio-1.1.x you can try backporting the above patch...

[2015-08-24 14:32] aw-bib commented on #3054
For the time beeing I'll then have to try the backport. Thanks :)

[2015-08-25 01:23] tiborsimko commented on #3054
If you use native sessions, then you can clean them all fast at a quiet server time (say over the weekend) like this:

[code]

This will force logout upon everybody, hence the importance of doing it when the server is mostly idle.  The old sessions will be killed rapidly in this way and the rest of `inveniogc` should then proceed faster.

P.S. If you want to be more permissive and keep recent sess

[2015-08-25 07:02] kaplun commented on #3054
I think the query that is actually blocking the system is:
[code]

Which indeed is a left join and might explain why it is so slow. BTW you might want to set:
[code]

in your `invenio-local.conf` file. This should allow not allocating unnecessary session and guest users.

[2015-08-27 10:05] tiborsimko commented on #3054
And note that when the `session` table is empty, this query would be ultra fast...  so no blocker anymore.

[2015-08-27 11:08] tiborsimko commented on #3455
This seems to be due to differences in the behaviour of babel vs gettext.

Here is clean-up recipe, for logbook purposes:

Firstly, one need to remove offending bit:

[code]

Then one can use gettext tools like:

[code]

Verification:

[code]

[2015-08-31 09:35] tiborsimko opened #3471 "base: implement /ping endpoint"
The `/ping` endpoint was useful for checking worker node from the haproxy load balancer node.
The endpoint simply replied `OK` in the `text/plain` mode.

The `/ping` endpoint is now gone as part of the recent legacy module rebitrth (#3233). It will be useful to introduce it back quickly, as some services are already using bleeding edge master branch.

[2015-08-31 09:44] #3455 closed

[2015-08-31 11:46] #3471 closed

[2015-09-02 07:37] tiborsimko opened #3480 "assets: BundleError: 'vendors/jquery-tokeninput/styles/token-input.css' not found in load path:"
Trying vanilla docker build on the current `master` branch tip 3fe911d81e367980e51ba7bc7a5f63af4977709e, one gets into a jquery-tokeninput asset trouble, see below.  I don't have very fast network connection here, can you please recheck? CC @jirikuncar @crepererum

[code]

[2015-09-02 11:48] crepererum commented on #3480
I can NOT reproduce your problem. Works fine on my machine.

[2015-09-02 13:43] hachreak opened #3482 "RFC plotextractor utilities"
The module `invenio-oaiharvester` is the only one that use `invenio.utils.plotextractor`.
In the [roadmap](https://github.com/inveniosoftware/invenio/issues/3233) for legacy removal  these utilities are in the list.
What's the plan?
 1) Do we move the utilities inside `invenio-oaiharvester`?
 2) Do we remove from the #3233 list and leave inside invenio?
 3) Do we move into a separete package?
 4)

[2015-09-02 14:36] jalavik commented on #3482
Thanks for bringing this up @hachreak.

In it's present form the outer layers are quite specific to arXiv.org, however, probably the core pieces could be made generic (e.g. the idea of matching image references (with captions etc.) from TeX with local image files from an archive).

From that we could imagine an external package (after some modifications). The less preferred alternative would be to

[2015-09-03 00:47] tiborsimko commented on #3480
Interesting, thanks for checking.  As for me, running:

[code]

I now even get:

[code]

perhaps due to that bad network connection.  (Maybe `--silent` is not the best here.)

I'll try to re-reproduce later...

[2015-09-03 07:11] crepererum commented on #3480
Some of the `--silent` options are removed by the #3380 :wink:

Sometimes it also helps to restart the docker daemon, because (at least on my system) it sometimes drops network for all containers, esp. after suspending the OS (which is kinda common for laptops).

[2015-09-03 09:06] hachreak commented on #3482
Currently:
- the `plotextractor` is broken because it use the legacy `search_engine`.
- but, the `search_engine` is broken because load [invenio_search.searchext.engines](https://github.com/inveniosoftware/invenio-search/tree/master/invenio_search/searchext/engines).native that actually doesn't exists.

Can we easily create fix the problems in some way? Any idea?
Because most of the test errors on

[2015-09-03 09:19] jalavik commented on #3482
@hachreak I guess we are going to anyway remove plotextractor from Invenio? But if you want to keep it here then take a look at our fix on INSPIRE labs-rc branch: https://github.com/inspirehep/invenio/commit/7e85701269ab41f353dfa7d24c4525377ef87a83

[2015-09-04 06:28] tiborsimko commented on #3480
Good, this will make the failures more explicit.

That was not the case here, as I've been having shaky non-docker connection too.

Anyway, now that I'm on a better Internet connection, I tried the rebuild and it works well...  Hence closing this issue.

[2015-09-04 06:28] #3480 closed

[2015-09-04 09:19] hachreak commented on #3120
Dependency graph after modules externalization:

![deps](https://cloud.githubusercontent.com/assets/377047/9680375/bbb00fc2-52f6-11e5-89b4-9ea004cefc35.png)

Generated by [find_invenio_external_modules_deps.sh](https://github.com/hachreak/console-utils/blob/master/invenio-utils/find_invenio_external_modules_deps.sh)

[2015-09-04 09:37] jalavik commented on #942
Non Invenio related. Moved to appropriate INSPIRE channels.

[2015-09-04 09:37] #942 closed

[2015-09-04 09:44] kaplun commented on #3482
@inspirehep/INSPIRE-DEV

[2015-09-04 09:55] jalavik commented on #1102
Moved to appropriate INSPIRE channels.

[2015-09-04 09:55] #1102 closed

[2015-09-04 09:59] jalavik commented on #947
Moved to appropriate INSPIRe channels.

[2015-09-04 09:59] #947 closed

[2015-09-04 10:01] jalavik commented on #847
BibTex output have recently been redone. Moved this issue to be checked if OK under INSPIRE channels.

[2015-09-04 10:01] #847 closed

[2015-09-04 10:03] #840 closed

[2015-09-04 10:04] jalavik commented on #818
Unrelated and outdated.

[2015-09-04 10:04] #818 closed

[2015-09-04 10:04] jalavik commented on #737
Not related to Invenio.

[2015-09-04 10:04] #737 closed

[2015-09-04 10:05] jalavik commented on #678
Already addressed.

[2015-09-04 10:05] #678 closed

[2015-09-04 10:05] jalavik commented on #672
Unrelated to Invenio today.

[2015-09-04 10:05] #672 closed

[2015-09-04 10:05] jalavik commented on #666
Already solved years ago. Unrelated to Invenio.

[2015-09-04 10:05] #666 closed

[2015-09-04 10:06] jalavik commented on #558
BibSched is being deprecated in favor of Celery.

[2015-09-04 10:06] #558 closed

[2015-09-04 10:07] #472 closed

[2015-09-04 10:08] jalavik commented on #502
Search is being deprecated in favour of Elasticsearch. Closing this issue now.

[2015-09-04 10:08] #502 closed

[2015-09-04 10:10] jalavik commented on #286
Moved to the appropriate INSPIRE channels.

[2015-09-04 10:10] #286 closed

[2015-09-04 10:11] kaplun commented on #873
Moved to inveniosoftware/invenio-query-parser#29

[2015-09-04 10:11] #873 closed

[2015-09-04 10:13] kaplun commented on #1230
I guess this is indeed a nice functionality but we are not going to allocate further work on BibEdit.

[2015-09-04 10:13] #1230 closed

[2015-09-04 10:16] jalavik commented on #3192
It's been a while since this issue have appeared. Closing for now.

[2015-09-04 10:16] #3192 closed

[2015-09-04 10:18] ludmilamarian commented on #439
We are not using aleph anymore, so I think we can close this one.

[2015-09-04 10:18] #439 closed

[2015-09-04 10:18] kaplun commented on #1005
This was actually solved.

[2015-09-04 10:18] #1005 closed

[2015-09-04 10:23] ludmilamarian commented on #555
I don't remember having this issue recently, so I think it can be closed.

[2015-09-04 10:23] #555 closed

[2015-09-04 11:38] kaplun commented on #2791
My understanding is that @tiborsimko's team is going to attack this and other OAIS components in the next months, so I am attaching it milestone v2.4.0.

[2015-09-04 11:39] kaplun commented on #3230
No resources are going to be allocated into Solr, and we are moving to elasticsearch.

[2015-09-04 11:39] #3230 closed

[2015-09-04 11:42] kaplun commented on #3272
My god! :boom: @jmartinm @hachreak what is the situation of this ticket? Does it still make sense? Shall we attach a milestone?

[2015-09-04 11:44] kaplun commented on #2791
The module now exists under https://github.com/inspirehep/invenio-matcher, so I guess we can close this RFC and add use cases there.

[2015-09-04 11:44] #2791 closed

[2015-09-04 11:47] kaplun commented on #363
No energy left to bring this work back to legacy.

[2015-09-04 11:47] #363 closed

[2015-09-04 11:48] kaplun commented on #812
No longer an issue in master

[2015-09-04 11:48] #812 closed

[2015-09-04 11:56] kaplun commented on #2886
The module now exists under https://github.com/inspirehep/invenio-matcher, so I guess we can close this RFC and add use cases there.

[2015-09-04 11:56] #2886 closed

[2015-09-04 11:58] kaplun commented on #813
Moved into INSPIRE internals

[2015-09-04 11:58] #813 closed

[2015-09-04 11:59] jmartinm commented on #3272
On my side its ok.

The original problem was worked around by https://github.com/inveniosoftware/invenio/pull/3378

[2015-09-04 12:00] #3272 closed

[2015-09-07 18:28] jirikuncar commented on #1260
Moved to https://github.com/inveniosoftware/invenio-collections/issues/10.

[2015-09-07 18:28] #1260 closed

[2015-09-07 18:32] jirikuncar commented on #1169
Please re-open in `invenio-documents` if it's still relevant.
--
cc @CERNDocumentServer

[2015-09-07 18:32] #1169 closed

[2015-09-07 18:44] jirikuncar commented on #1536
Moved to https://github.com/inveniosoftware/invenio-collections/issues/11.

[2015-09-07 18:44] #1536 closed

[2015-09-08 08:05] jirikuncar commented on #2199
Moved to *Invenio-Search* repository as https://github.com/inveniosoftware/invenio-search/issues/16.

[2015-09-08 08:05] #2199 closed

[2015-09-08 08:10] jirikuncar commented on #2662
This can be build on top of *Invenio-Formatter* package upon request.

[2015-09-08 08:10] #2662 closed

[2015-09-08 12:31] Kennethhole opened #3491 "Bibupload: Simulation fails in replace mode for full-text (FFT) when bibdocname already exist"
When choosing replace mode, FFT tags like below fail during simulations when previous versions have the same bibdocname.

[code]

The error message is:
[code]

Since the replace mode is supposed to "replace all files, whatever filenames are" for full texts, the simulation should not care about the existing bibdocname.

If you skip the simulations, the upload works well and replaces all existing fi

[2015-09-09 13:08] tiborsimko commented on #711
@kaplun Do we still want this?  If not, then please close the issue, as we'll tackle it otherwise in Invenio 2.x.

[2015-09-09 13:42] tiborsimko commented on #2729
Testing on the latest `maint-1.2`, I can well ask in the Multi-Record Editor to output tags with indicators, for example `65017`.

However it is still true that I cannot ask for wildcard.  @jmartinm Do you have any improvements here maybe?

[2015-09-09 13:53] tiborsimko commented on #3413
I guess it is rather clear and self-understood that "Invenio module" != "Python module"?

We are using "module" in a general sense of the word:

[code]

or from another dictionary:

[code]

We could perhaps use the term "component", although "module" is what we've been using historically.  (Hence speaking of a record editor module, a record formatter module, etc, where each component happens to be

[2015-09-09 14:00] tiborsimko commented on #1022
IIRC this was addressed over the summer? Is there a PR?

[2015-09-09 14:19] tiborsimko commented on #905
As there was no one to work on this since 2012, I simply added warning about DB strict mode to the installation guide.

[2015-09-09 14:19] #905 closed

[2015-09-09 14:36] tiborsimko commented on #435
I'm closing this ticket.  BibSched is deprecated and nobody seemed to have picked up the task.  If someone does, please reopen.

[2015-09-09 14:36] #435 closed

[2015-09-09 14:44] tiborsimko commented on #1772
We now have `invenio-records` with its own upload API.

[2015-09-09 14:44] #1772 closed

[2015-09-09 14:57] egabancho commented on #1022
Yes! It is merged in our overlay https://github.com/CERNDocumentServer/cds/commit/19482a8255ab8775095527044eb8ee28043adb88

Should we make also an Invenio version?

[2015-09-09 15:13] tiborsimko commented on #1022
Either please prepare a PR, or else let the feature live in the CDS overlay only and let's close this issue here.

[2015-09-09 19:29] kaplun opened #3498 "Improve 404 propagation to Sentry"
Currently any 404 raised by at least the `legacy` extension, are propagated to Sentry (when enabled). This is suboptimal, as any wrong URL typed by any user or bot is causing an exception to be recorded.

It would be beneficial to just store those 404 caused by a request having a referer from the current site. At least this would be useful to spot broken links and in which pages they are contained

[2015-09-11 09:39] tiborsimko commented on #224
Closing the issue as it's addressed otherwise in Invenio v2.x.

[2015-09-11 09:39] #224 closed

[2015-09-11 09:40] tiborsimko commented on #446
WebSubmit is deprecated in favour of Deposit.

[2015-09-11 09:40] #446 closed

[2015-09-11 09:41] kaplun commented on #446
In case of need, @cerndocumentserver can provide a snippet of code.

[2015-09-11 09:42] tiborsimko commented on #438
@ludmilamarian @kasioumis @egabancho Is this still the case on CDS?

[2015-09-11 09:45] kaplun commented on #632
This is actually a meta ticket, (a bit like, eih, let's add security everywhere!). We can transform it into a roadmap, and check whether there are missing bits and pieces.

[2015-09-11 09:50] tiborsimko commented on #1117
Continuing in https://github.com/inveniosoftware/invenio-knowledge/issues/10.

[2015-09-11 09:50] #1117 closed

[2015-09-11 11:45] kaplun commented on #438
@tiborsimko as discussed IRL this is still needed by CDS. The decided action is to create a new repo: `invenio-stamper` and implement there the new code.

[2015-09-11 15:07] #1022 closed

[2015-09-13 17:23] #3320 closed

[2015-09-14 15:37] chokribr opened #3503 "BibEdit: import data with crossref"
I try to import data from crossref  but always i've got  this error "This is not a correct DOI, please correct it "

Note : by entring this URL in the Browser http://www.crossref.org/openurl/?pid=USERNAME&noredirect=tru&id=doi:10.1021/acsnano.5b02466
i've got an XML record
i'm using Invenio v1.2.1

[2015-09-14 15:39] jalavik commented on #3482
So I'll try to take the core out of plotextractor to https://github.com/inspirehep/plotextractor which just gets an input (path to tarball), and returns a JSON-like (list of dicts) of extracted captions and path to files. E.g. option (3).

If that is okay we can close this RFC. @jirikuncar @hachreak

PS: Feel free to remove the module from Invenio as `invenio-oaiharvester` no longer depends on it.

[2015-09-14 21:07] kaplun commented on #3503
Dear @chokribr what exactly are you typing as string in BibEdit? Note that the field accept only a plain doi such as: "10.1021/acsnano.5b02466", without further prefix. If e.g. I type "doi:10.1021/acsnano.5b02466" then I obtain exactly your same error.

[2015-09-15 09:07] chokribr commented on #3503
@kaplun @ludmilamarian
 ![doi](https://cloud.githubusercontent.com/assets/2951014/9872405/7e6a08ba-5b99-11e5-9c87-fd8c796a7b0f.png)

[2015-09-15 09:15] hachreak commented on #3120
![dependencies](https://cloud.githubusercontent.com/assets/377047/9872650/0fd86782-5b9b-11e5-9ee9-90b5b624d331.png)

[2015-09-15 09:20] #3482 closed

[2015-09-15 13:10] hachreak commented on #3120
the latest one:

![dependencies](https://cloud.githubusercontent.com/assets/377047/9877226/d4982c04-5bbb-11e5-857f-d14c53bba83c.png)

@SamiHiltunen

[2015-09-15 14:16] hachreak commented on #3120
Removing transitive components using `tred` (part of graphviz):

![deps_without_transitive](https://cloud.githubusercontent.com/assets/377047/9878847/0ee0d0ec-5bc5-11e5-84f5-d6aee080c5ae.png)

[2015-09-15 14:44] hachreak commented on #3120
without `invenio` (and removing transitive components):

![deps](https://cloud.githubusercontent.com/assets/377047/9879754/04d36cd2-5bc9-11e5-9a04-423e6194aae8.png)

[2015-09-15 15:21] jirikuncar commented on #3120
### Issues

- [ ] cycle collections - search - records
- [ ] cycle collections - search - knowledge

[2015-09-16 13:31] hachreak commented on #3320
closed by inveniosoftware/invenio-accounts#15

[2015-09-16 15:27] hachreak opened #3508 "global: remove legacy dependency"
List of modules to check:
- [ ] invenio #3470
- [x] invenio-access (only `dbquery`)
- [ ] invenio-accounts (`webuser`)
- [x] invenio-annotations
- [x] invenio-base (only `dbquery`)
- [x] invenio-classifier
- [x] invenio-client
- [x] invenio-cloudconnector
- [x] invenio-collections
- [ ] invenio-comments (`bibrecord`, `dbquery`, `search_engine`) inveniosoftware/invenio-comments#7
- [ ] invenio-comm

[2015-09-16 15:33] jirikuncar commented on #3508
@hachreak maybe you can re-sort them in +/- topological order.

[2015-09-17 13:47] kaplun opened #3510 "Cannot load demosite"
Demosite loading is currently failing with:
[code]

[2015-09-17 13:59] jirikuncar commented on #3510
Please re-open in invenio-demosite.

[2015-09-17 13:59] #3510 closed

[2015-09-17 14:11] kaplun commented on #3510
But the file is currently on invenio. (note PR coming about this)

[2015-09-17 14:25] kaplun commented on #3510
Moved to inveniosoftware/invenio#82

[2015-09-18 13:58] chokribr commented on #3503
@kaplun @ludmilamarian @jirikuncar i Think that the problem with password i'm using crossref openurl without password by testing the existance ":" + CFG_CROSSREF_PASSWORD variable and adding ":"  i've got the record https://github.com/inveniosoftware/invenio/blob/legacy/modules/miscutil/lib/crossrefutils.py#L69
![acs](https://cloud.githubusercontent.com/assets/2951014/9960945/090db0a8-5e1e-11e5-9d

[2015-09-18 13:59] kaplun commented on #3503
@chokribr you mean without password it works? Could then be a problem of encoding the URL of the request BibEdit does to crossref...

[2015-09-18 14:11] kaplun commented on #3503
@chokribr can you check if the patch in #3516 solves your issue?

[2015-09-18 14:18] chokribr commented on #3503
@kaplun the problem is with ":"
#3516 http://www.doi.org/factsheets/DOIProxy.html

[2015-09-18 15:31] kaplun commented on #3503
Good point

[2015-09-18 20:22] chokribr commented on #3503
@kaplun i try this https://github.com/chokribr/invenio/commit/45f78bb6de207712a2ecdaae0f0505bddfa69145
and it work

[2015-09-21 10:59] Kennethhole opened #3519 "Bibdocfile: OCR text-file is not deleted when related version of full-text file is deleted."
The PURGE function in bibupload deletes the old versions of a file, but the .text;1 file which contains the OCR for the previous version is not deleted.

The .text;1 file is dropped from the indexer with once the .text;2 file is created and is just stored as an unused file. As the file has no function it should be deleted.

[code]

[2015-09-21 11:03] kaplun commented on #3519
Actually the whole bibdoc directory could be happily removed recursively when the corresponding BibDoc is expunged.

[2015-09-21 14:09] tiborsimko commented on #2289
BibSched has been deprecated in favour Celery.

[2015-09-21 14:09] #2289 closed

[2015-09-21 14:35] jalavik commented on #2159
Closing as BibSched is depracated and the bug has not been discussed since 2014.

[2015-09-21 14:35] #2159 closed

[2015-09-21 14:36] kaplun commented on #2134
BibAuthorID is being reimplemented from scratch in master.

[2015-09-21 14:36] #2134 closed

[2015-09-21 14:36] jalavik commented on #2116
Bug not worked on yet, so closing as wont fix since BibSched is deprecated.

[2015-09-21 14:36] #2116 closed

[2015-09-21 14:39] tiborsimko commented on #2811
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it will be addressed in `master` code base differently.

[2015-09-21 14:39] #2811 closed

[2015-09-21 14:40] tiborsimko commented on #3054
Closing this issue, as there are workarounds, as per the `legacy` code base freeze.

[2015-09-21 14:40] #3054 closed

[2015-09-21 14:41] ludmilamarian commented on #234
Closing this as there is no need for CDS.

[2015-09-21 14:41] #234 closed

[2015-09-21 14:42] tiborsimko commented on #2582
TIND's workaround is replace all whitespaces before the treatment, hence closing this issue as per the legacy code base freeze.

[2015-09-21 14:42] #2582 closed

[2015-09-21 14:44] ludmilamarian commented on #235
This is no longer interesting for CDS, so I'm closing this issue.

[2015-09-21 14:44] #235 closed

[2015-09-21 14:45] tiborsimko commented on #2580
@cplott Have you managed to prepare a pull request for this issue? If so, please re-open it... I'm closing the issue for now as per the legacy code base freeze.

[2015-09-21 14:45] #2580 closed

[2015-09-21 14:46] tiborsimko commented on #2364
@kaplun Can you please check whether this is still the case?

[2015-09-21 14:47] tiborsimko commented on #2288
@egabancho Can you please check whether this was fixed in CDS overlay?

[2015-09-21 14:50] tiborsimko commented on #2161
There is no PR for this issue, hence closing it as per the `legacy` code base freeze.  Please reopen if you have a PR.

[2015-09-21 14:50] #2161 closed

[2015-09-21 14:52] kaplun commented on #2364
It's still the case today on production. I am checking if it's also a bug in `invenio_query_parser`

[2015-09-21 14:54] tiborsimko commented on #2018
This is still the case with latest `maint-1.2`.  @blixhavn @Kennethhole If you have fixed it, do you have a PR to fix this issue?

[2015-09-21 14:57] ludmilamarian commented on #1664
@drjova how big of a change is the API update? Would it make sense to have it for legacy, or rewritten for master?

[2015-09-21 15:00] tiborsimko commented on #1885
Closing as per https://github.com/inveniosoftware/invenio/pull/2021#issuecomment-141994399.

[2015-09-21 15:00] #1885 closed

[2015-09-21 15:01] tiborsimko commented on #1791
The issue is addressed by https://github.com/inveniosoftware/invenio-query-parser

[2015-09-21 15:01] #1791 closed

[2015-09-21 15:06] tiborsimko commented on #1723
Solved in Invenio 2.0 code base.

[2015-09-21 15:06] #1723 closed

[2015-09-21 15:09] tiborsimko commented on #1705
Solved in `master` code base.

[2015-09-21 15:09] #1705 closed

[2015-09-21 15:10] drjova commented on #1664
It's not big but we should re-write it for master anyway. For me it makes sense to have on legacy too since is used on `cds` WDYT?

[2015-09-21 15:10] tiborsimko commented on #1686
@kaplun Do you have some updates in the INSPIRE OPS driven branch?

[2015-09-21 15:16] ludmilamarian commented on #1664
yes, it would definitely be nice to fix.

[2015-09-21 15:20] tiborsimko commented on #1663
The upgrade recipe such as `invenio_2013_03_25_idxINDEX_html_markup.py` seems to do the job, but `tabcreate.sql` needs to be amended still...

[2015-09-21 15:24] kaplun commented on #1686
Nothing was done in that regard. Everything bibsched is already integrated.

[2015-09-21 15:24] kaplun commented on #1686
Since bibsched is deprecated I am closing this ticket.

[2015-09-21 15:24] #1686 closed

[2015-09-21 15:28] tiborsimko commented on #1642
@kaplun IIRC this may not be relevant anymore since MathJax issue was addressed differently in INSPIRE?

[2015-09-21 15:30] tiborsimko commented on #1670
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it will be addressed in `master` code base differently.

[2015-09-21 15:30] #1670 closed

[2015-09-21 15:32] tiborsimko commented on #1643
This is still a problem on `maint-1.2`. @kaplun Any update on the INSPIRE OPS branch?

[2015-09-21 15:34] kaplun commented on #1886
Ha! For once this was indeed already fixed. See: #2169

[2015-09-22 07:24] kaplun commented on #1643
Nope. Since websearch is deprecated in favour of elasticsearch in master I am closing this ticket.

[2015-09-22 07:24] #1643 closed

[2015-09-22 07:28] kaplun commented on #1691
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it will be addressed in `master` code base differently.

[2015-09-22 07:28] #1691 closed

[2015-09-22 07:31] kaplun commented on #1642
Well, MathJax is indeed solved in a different way. On the other hand it's true that for certain external resources it's important to correctly rewrite the HTTPS URL. However this is will no longer be an issue as per the decision of serving all Invenio over HTTPS (See: #931).

[2015-09-22 07:31] #1642 closed

[2015-09-22 07:39] cplott commented on #2580
OK. Sorry, I didn't found the time for it.

[2015-09-22 07:48] kaplun commented on #2104
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it will be addressed in `master` code base differently.

[2015-09-22 07:48] #2104 closed

[2015-09-22 08:51] kaplun commented on #2098
@tsgit I don't remember any more. Have we fixed this?

[2015-09-22 08:53] kaplun commented on #2149
Moved to inveniosoftware/invenio-query-parser#32

[2015-09-22 08:53] #2149 closed

[2015-09-22 08:57] kaplun commented on #2135
I can confirm this is still the case but there is no PR for this issue, hence closing it as per the `legacy` code base freeze; it will be addressed in `master` code base differently.

[2015-09-22 08:57] #2135 closed

[2015-09-22 08:58] kaplun commented on #1925
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it will be addressed in `master` code base differently.

[2015-09-22 08:58] #1925 closed

[2015-09-22 09:00] kaplun commented on #3503
@chokribr I think we should merge our two solutions, because both proper encoding of the request and support for accounts without password are both needed.

[2015-09-22 09:14] tiborsimko commented on #1886
Note: the new PR is #3520

[2015-09-22 11:03] BessemAamira opened #3521 "WebAccess: delete user accounts"
Deleting user account via WebAccess, does not remove groups who has been created by these users ( user_usergroup and usergroup table)

[2015-09-22 12:23] tiborsimko commented on #1673
Closed by fa009b4397c2749dd9cec1c0b877d4d9524b7b73.

[2015-09-22 12:23] #1673 closed

[2015-09-22 12:32] tiborsimko commented on #3521
@BessemAamira Which Invenio version is this for?

[2015-09-22 12:42] tiborsimko commented on #1626
This is still the case in the `legacy` code base.  Moving the bug report to v1.3.1.

[2015-09-22 12:43] tiborsimko commented on #1592
@kaplun Is there a PR for this issue?

[2015-09-22 12:44] ludmilamarian commented on #449
@kaplun do you think this is still an issue to address for legacy, or we can leave it for master? Currently, we do record statistics for external URLs via custom events - but one needs to define such custom events for the files that they want to monitor.

[2015-09-22 12:44] tiborsimko commented on #1635
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 12:44] #1635 closed

[2015-09-22 12:45] tiborsimko commented on #1636
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 12:45] #1636 closed

[2015-09-22 12:45] tiborsimko commented on #1637
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 12:45] #1637 closed

[2015-09-22 12:45] tiborsimko commented on #1638
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 12:45] #1638 closed

[2015-09-22 12:45] tiborsimko commented on #1639
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 12:47] tiborsimko commented on #1535
`find coden phrva` does not work, `find phrva` works.  Closing as INSPIRE specific.

[2015-09-22 12:47] #1535 closed

[2015-09-22 12:48] tiborsimko commented on #1566
Deprecated in favour of `invenio-tags` module.

[2015-09-22 12:48] #1566 closed

[2015-09-22 12:49] tiborsimko commented on #1527
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 12:49] #1527 closed

[2015-09-22 12:50] tiborsimko commented on #1420
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 12:50] #1420 closed

[2015-09-22 12:51] tiborsimko commented on #1563
The WebBasket module is deprecated in favour of `invenio-tags`.

[2015-09-22 12:51] #1563 closed

[2015-09-22 12:53] BessemAamira commented on #3521
@tiborsimko  version 1.1.6

[2015-09-22 12:53] tiborsimko commented on #1549
The issue is addressed in Invenio v2.0 via `inveniomanager`.  For Invenio v1.x, let's use the `dbexec` example as a workaround.

[2015-09-22 12:53] #1549 closed

[2015-09-22 12:53] #1639 closed

[2015-09-22 12:54] tiborsimko commented on #1548
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 12:54] #1548 closed

[2015-09-22 12:56] tiborsimko commented on #1419
@ludmilamarian @kasioumis @egabancho @switowski Is this fixed in CDS OPS?

[2015-09-22 12:56] kaplun commented on #449
Ah nope :-) It was needed for OpenAIRE(!).

[2015-09-22 12:56] #449 closed

[2015-09-22 12:58] tiborsimko commented on #1654
@kaplun How has been the singleton flag doing on INSPIRE?

[2015-09-22 12:58] kaplun commented on #1419
@tiborsimko I can tell you nope. The recipe in this issue is still used nowadays in real life.

[2015-09-22 12:58] tiborsimko commented on #1486
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 12:58] #1486 closed

[2015-09-22 13:00] kaplun commented on #1654
We finally never did. So we still suffer from singletons here and there.

[2015-09-22 13:00] tiborsimko commented on #1450
I guess the admins usually use `screen` or `tmux` to prevent this issue.

[2015-09-22 13:00] #1450 closed

[2015-09-22 13:01] tiborsimko commented on #1452
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 13:01] #1452 closed

[2015-09-22 13:01] tiborsimko commented on #1715
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 13:01] #1715 closed

[2015-09-22 13:04] kaplun commented on #1592
Absolutely not. And is probably superseeded by Grobid.

[2015-09-22 13:04] #1592 closed

[2015-09-22 13:05] tiborsimko commented on #1727
@Kennethhole Do you have a PR for this issue in the TIND overlay?

[2015-09-22 13:07] tiborsimko commented on #1277
CC @kaplun see also https://github.com/inveniosoftware/invenio/pull/3516/files

[2015-09-22 13:11] tiborsimko commented on #1279
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 13:11] #1279 closed

[2015-09-22 13:13] tiborsimko commented on #1270
Partially addressed via https://github.com/inveniosoftware/idutils.  If there is a need to plug it into various new standalone Invenio components, let's create new issues there.

[2015-09-22 13:13] #1270 closed

[2015-09-22 13:14] tiborsimko commented on #1312
@kaplun @jmartinm Was this addressed in the INSPIRE OPS maybe?

[2015-09-22 13:15] kaplun commented on #1277
Oh! This is exactly @chokribr solution.
I have now sent a PR with a single patch co-authored by me, @sbujam and @chokribr that implements both free account support and proper encoding.

[2015-09-22 13:17] tiborsimko commented on #1153
Closing as per the closure of #2319.  As @kaplun mentions, if wanted let's open a new issue in `invenio-search` to implement SRU support on top of the new `master` code base.

[2015-09-22 13:17] #1153 closed

[2015-09-22 13:18] tiborsimko commented on #22
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 13:18] #22 closed

[2015-09-22 13:19] tiborsimko commented on #455
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 13:19] #455 closed

[2015-09-22 13:19] tiborsimko commented on #578
@kaplun Have you addressed this in the INSPIRE OPS repository?

[2015-09-22 13:20] tiborsimko commented on #524
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 13:20] #524 closed

[2015-09-22 13:21] tiborsimko commented on #437
Addressed in `master` code base via `Flask-Gravatar`.

[2015-09-22 13:21] #437 closed

[2015-09-22 13:21] tiborsimko commented on #898
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 13:21] #898 closed

[2015-09-22 13:22] tiborsimko commented on #230
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 13:22] #230 closed

[2015-09-22 13:23] tiborsimko commented on #37
Solved via `invenio-groups`.

[2015-09-22 13:23] #37 closed

[2015-09-22 13:24] jalavik commented on #1727
@tiborsimko This was fixed by https://github.com/inveniosoftware/invenio/pull/2793

[2015-09-22 13:25] kaplun commented on #1312
Nope. I checked the code base and there is no such functionality to protect against empty bibuploads. On the other hand, does bibupload nowadays fail on empty input at all? (i.e. valid empty input with `<collection></collection>` tags).

[2015-09-22 13:25] tiborsimko commented on #498
Closing the issue as it can be worked around via DB partitioning.

[2015-09-22 13:25] #498 closed

[2015-09-22 13:27] kaplun commented on #578
Nope. And everything related `dbdump` from INSPIRE is nowadays in `legacy` too.

[2015-09-22 13:27] tiborsimko commented on #1040
I guess this can already be addressed to a good extent by techniques such as:

[code]

In the `master` code base it will be addressed via Elasticsearch.

[2015-09-22 13:27] #1040 closed

[2015-09-22 13:28] tiborsimko commented on #1049
Changing the milestone as per https://github.com/inveniosoftware/invenio/pull/1874#issuecomment-71444117

[2015-09-22 13:29] tiborsimko commented on #1103
@jmartinm @jalavik @kaplun Was this addressed in the INSPIRE OPS code base perhaps?

[2015-09-22 13:31] tiborsimko commented on #1119
I think the issue was solved in https://github.com/inveniosoftware/invenio-query-parser.  If not fully, please re-open there.

[2015-09-22 13:31] #1119 closed

[2015-09-22 13:35] kaplun commented on #1103
Nope!

[2015-09-22 13:36] tiborsimko commented on #1129
For reference, I'm listing here @kntem's patch.  @jalavik @kaplun Do you have similar needs/patches on INSPIRE? Are we going to address this within **v1.3.x** still?

[code]

[2015-09-22 13:37] tiborsimko commented on #1196
Addressed via `bibdocfile --textify --all` and friends.

[2015-09-22 13:37] #1196 closed

[2015-09-22 13:38] tiborsimko commented on #1251
@kaplun IIRC this was already sufficiently addressed?

[2015-09-22 14:02] kaplun commented on #1129
I have checked and we have still this bug in INSPIRE (i.e. one cannot set `CFG_ACCESS_CONTROL_LEVEL_SITE = 3`. On the other hand many improvements related to these have been made in #3522.

[2015-09-22 14:04] kaplun commented on #1251
Yes: although Google nowadays complains about our implementation. I have not yet figured out what is wrong with it though.

[2015-09-22 14:04] #1251 closed

[2015-09-22 14:06] ludmilamarian commented on #1419
@kaplun I haven't seen such a request in a long time. Is somebody from the Library taken care of running such a recipe?

[2015-09-22 14:06] kaplun commented on #1419
Yes: me :smile:

[2015-09-22 14:07] ludmilamarian commented on #1419
aaa, great! :) So, shall the implementation be left for master, or shall be addressed in legacy?

[2015-09-22 14:08] tiborsimko commented on #1295
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 14:08] #1295 closed

[2015-09-22 14:09] tiborsimko commented on #1308
WebSubmit is deprecated in favour of `invenio-deposit`.

[2015-09-22 14:09] #1308 closed

[2015-09-22 14:11] tiborsimko commented on #1346
@kaplun Do you know whether this is still the case?

[2015-09-22 14:11] tiborsimko commented on #1402
... hence closing this issue.

[2015-09-22 14:11] #1402 closed

[2015-09-22 14:12] tiborsimko commented on #1410
The bug is still there in the `legacy` code base.

[2015-09-22 14:14] tiborsimko commented on #1411
The guide is still incomplete.  @Kennethhole Perhaps you have improved it during recent TIND circulation enhancements?

[2015-09-22 14:15] tiborsimko commented on #1412
@Kennethhole Have you perhaps touched this during your recent TIND circulation enhancements?

[2015-09-22 14:15] tiborsimko commented on #1421
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 14:15] #1421 closed

[2015-09-22 14:16] tiborsimko commented on #1597
@jalavik @kaplun Has some refactoring of the INSPIRE OPS code happened?

[2015-09-22 14:17] tiborsimko commented on #1620
@switowski Was there some progress with this issue in the CDS OPS code base?

[2015-09-22 14:19] tiborsimko commented on #1650
Moving to **v1.3.1** milestone as this is a bug fix, not a new feature.

[2015-09-22 14:20] tiborsimko commented on #1652
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 14:20] #1652 closed

[2015-09-22 14:21] tiborsimko commented on #1662
@kaplun Can you please check what is the latest status in INSPIRE OPS regarding this issue?

[2015-09-22 14:21] tiborsimko commented on #1697
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 14:21] #1697 closed

[2015-09-22 14:22] kaplun commented on #1346
Indeed it is still the case, at least in INSPIRE (just checked our sentry). Albeit the error is not so common.

[2015-09-22 14:22] tiborsimko commented on #1716
@kaplun Have you had a look at the recovered patch?

[2015-09-22 14:23] tiborsimko commented on #1721
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it will be addressed in `master` code base differently.

[2015-09-22 14:23] #1721 closed

[2015-09-22 14:24] tiborsimko commented on #1725
@ludmilamarian @drjova Do you have any improvements regarding legacy BibEncode?

[2015-09-22 14:25] tiborsimko commented on #1737
@Dziolas @kaplun Have you been working on these issues in the meantime?

[2015-09-22 14:26] kaplun commented on #1662
Finally we are doing reindexing by hand, as @fpoli code wasn't integrated neither in INSPIRE nor in Invenio. So we have a tiny script that clones the definition of an index, then we run a full indexing and then it perform a full swap.

[2015-09-22 14:27] tiborsimko commented on #1761
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it is addressed in `master` code base differently.

[2015-09-22 14:27] #1761 closed

[2015-09-22 14:28] kaplun commented on #1716
Well I am looking at it now :smile: . It looks nice. I guess it's really specific to the overlay anyway.

[2015-09-22 14:28] kaplun commented on #1716
I guess it is safe to integrate.

[2015-09-22 14:29] kaplun commented on #1419
Ah I guess we can leave it for master. It will be different anyway there.

[2015-09-22 14:29] #1419 closed

[2015-09-22 14:31] tiborsimko commented on #1929
@kasioumis Do you have any improvements in this regard, e.g. as part of your PR #3121 enhancements?

[2015-09-22 14:37] tiborsimko commented on #1654
Let's close this issue as per the `legacy` code base freeze then.  The singleton flag is there, so people could flip it, but its behaviour is not very well tested...

[2015-09-22 14:37] #1654 closed

[2015-09-22 14:48] switowski commented on #1620
@tiborsimko no, the problem is still there. I couldn't think of any easy solution for this.
It's a very uncommon for users to change the filename TWICE, so I don't think it's something very important to fix (we might keep in mind this problem for master and make sure we don't make the same mistake when designing new "Document File Manager")

[2015-09-22 14:50] drjova commented on #1725
@tiborsimko (@ludmilamarian please correct me if I'm wrong) I think there are no improvements for BibEncode so far.

[2015-09-22 15:11] jalavik commented on #1597
@tiborsimko Not really. I think we can close this issue as it has not had activity since 2013 and migration from BibDocfile to `invenio-documents` will probably be done differently.

[2015-09-22 15:11] #1597 closed

[2015-09-22 15:32] #578 closed

[2015-09-23 07:32] ludmilamarian commented on #1725
Indeed, the ones that we had have been merged already.

[2015-09-23 09:49] aw-bib commented on #1270
@kaplun just noticed this issue and there are (unfortunatley) some points form the librarian.

- I perfectly agree with dehyphenation in searches and in the index.
- I fear your libs handle only _valid_ ISBNs. However, a lot of "formally invalid" ISBNs are around (e.g. wrong checknums etc.) This could quite a bit affect your re-hyphenation. Cf. [Library of Congress, 020](http://www.loc.gov/marc/bi

[2015-09-23 09:59] Panos512 commented on #2364
I can confirm that the output of invenio-query-parser is correct:
[code]
I will add these two as test cases for future testing.

[2015-09-23 11:27] jirikuncar commented on #2364
Addressed in inveniosoftware/invenio-query-parser#33

[2015-09-23 12:36] kaplun commented on #1270
@aw-bib indeed one can simply strip dashes and friends upon searching and indexing, while rebuilding the dashes upon formatting (which would work only for valid ISBN. Invalid ones... too bad, they would be without dashes, I don't think it would do such a big harm).

I think @lnielsen basically said similar in inveniosoftware/idutils#6.

[2015-09-24 00:36] chokribr commented on #3503
many thanks sam @kaplun congrat  it's a pleasure to find solution with you

[2015-09-24 07:53] aw-bib commented on #1270
I admit that I wouldn't even care about this either and just leave out the lib requirement. If it's entered with dashes they are there and stored. If not, well they are not. As long as search can handle both cases and as ISBN is not suitable for some persistent id anyway...

[2015-09-24 08:04] kaplun commented on #1270
As a user I do care. I really cannot read an ISBN without dashes. Instead when I nicely see a 978-... I immediately understand it's an ISBN even without seeing an ISBN label in front. It's a matter of usability :-)

[2015-09-25 07:59] kaplun commented on #2364
Fixed in `invenio-query-parser`.

[2015-09-25 07:59] #2364 closed

[2015-09-25 08:02] kaplun commented on #1737
Since there is a workaround and given that current legacy code freeze, and new implementation in master I am closing this ticket.

[2015-09-25 08:02] #1737 closed

[2015-09-25 08:02] jalavik commented on #1966
BibAuthorID is deprecated and therefore I will close this task (This may also already be solved on INSPIRE side).

[2015-09-25 08:02] #1966 closed

[2015-09-25 08:04] kaplun commented on #1712
@tiborsimko strangely enough, the fact you merged #2207 haven't really closed this issue. I am closing it by hand now.

[2015-09-25 08:04] #1712 closed

[2015-09-25 08:05] #1662 closed

[2015-09-25 08:07] kaplun commented on #1648
There is no PR for this functionality but it's not a bad idea per se. So I am closing it with someday.

[2015-09-25 08:07] #1648 closed

[2015-09-25 08:19] kaplun commented on #1634
Indeed even after inclusion of f728fc11352f385d28e7ad4efc7a7a12d8704e2f the bug in bibupload is still there.

[2015-09-25 08:22] kaplun commented on #1606
No energy to work on this. Since there is no PR for this, and given the `legacy` code freeze and full new code base in `master` I am closing the ticket.

[2015-09-25 08:22] #1606 closed

[2015-09-25 08:23] kaplun commented on #1562
Given the general `legacy` code freeze and new implementation in `master` I am closing this issue.

[2015-09-25 08:23] #1562 closed

[2015-09-25 08:26] kaplun commented on #1511
I think this has become for `master`?

[2015-09-25 08:28] kaplun commented on #1415
Given this is very INSPIRE specific and the overall `legacy` code base freeze I am closing this issue.

[2015-09-25 08:28] #1415 closed

[2015-09-25 08:30] kaplun commented on #1405
Closing this as per the overall reimplementation.

[2015-09-25 08:30] #1405 closed

[2015-09-25 08:33] kaplun commented on #1129
There is an existing workaround based on careful load-balancers configuration, so given `legacy` code freeze and new implementation in `master` I am closing this ticket.

[2015-09-25 08:33] #1129 closed

[2015-09-25 08:33] #1103 closed

[2015-09-25 08:34] kaplun commented on #909
Given `bibsched` is deprecated in `master` I am closing this ticket.

[2015-09-25 08:34] #909 closed

[2015-09-25 08:35] #711 closed

[2015-09-25 08:35] #671 closed

[2015-09-25 08:36] kaplun commented on #671
I am closing this given `bibxxx` and `bibupload` are discontinued in `master`.

[2015-09-25 08:37] kaplun commented on #625
Given `legacy` freeze I am closing this.

[2015-09-25 08:37] #625 closed

[2015-09-25 08:39] kaplun commented on #61
8564_u is hardcoded in toooo many places to make it a quick fix. Given the current `legacy` code base freeze and shifting master format from `MARCXML` to `JSON` I am closing this issue.

[2015-09-25 08:39] #61 closed

[2015-09-25 08:40] kaplun commented on #699
@Panos512 is investigating it with `invenio-query-parser`.

[2015-09-25 08:41] kaplun commented on #937
Indico search is no longer based on Invenio.

[2015-09-25 08:41] #937 closed

[2015-09-25 10:13] tiborsimko commented on #931
Triage discussion: the issue is low priority now since admins can use HTTPS only in their current CFG_SITE_*URL variables and do the HTTP/HTTPS redirection in front of the Invenio application e.g. in Apache.

[2015-09-25 10:17] tiborsimko commented on #736
BTW see also #3121 from @kasioumis that was also amending basket UI.

[2015-09-25 13:44] tiborsimko commented on #124
CC @Kennethhole who may need this for `legacy` still... I'll try to find time to do it.

[2015-09-28 15:35] hachreak commented on #3120
Current module dependencies (from `requirements.py`)

![current_modules_deps](https://cloud.githubusercontent.com/assets/377047/10140327/392115f0-6607-11e5-836b-30ae012118fe.png)

[2015-10-02 09:49] kaplun commented on #699
Moved to inveniosoftware/invenio-query-parser#38

[2015-10-02 09:49] #699 closed

[2015-10-02 09:52] tiborsimko commented on #3498
Live discussion: happens with `master` on INSPIRE LABS.

[2015-10-02 09:54] lnielsen commented on #1511
Moved to https://github.com/inveniosoftware/flask-oaiserver/issues/1

[2015-10-02 09:54] #1511 closed

[2015-10-02 09:57] kaplun commented on #3498
Closing since legacy handler no longer exists on master

[2015-10-02 09:57] #3498 closed

[2015-10-02 10:01] tiborsimko commented on #736
Not necessary to address the feature in the `legacy` code base.  It will be addressed in the `master`code base differently.

[2015-10-02 10:01] #736 closed

[2015-10-02 10:04] tiborsimko commented on #438
@egabancho Can you please take care of this as per related issue https://github.com/inveniosoftware/invenio/issues/2760 ?

[2015-10-02 13:31] BessemAamira opened #3526 "WebSession : user group list"
The List of user groups in user_info include groups which user has requested to join (pending
status ).
this may cause dysfunction in the authorization roles especially "firewall like role definition" using group.

I propose to modify the sql request in get_groups function(webgroup_dblayer)
 query = """SELECT g.id, g.name
               FROM usergroup g, user_usergroup ug
               WHERE ug.i

[2015-10-03 10:51] BessemAamira opened #3527 "Yourapprovals : distinghish categ referee vs general referee"
Categ refree  is considered as General Referee via Approval interface (your approvals)
Redefine __isReferee() function without asterisk "*" as default value for categ parameter, resolve the issue ==> def __isReferee(req, doctype="", categ="")
Invenio 1.1.6

[2015-10-05 16:29] aw-bib commented on #980
In invenio 1.1.6 this prolblem still seems to persist. As far as I can see, the relevant table does not get updated by the backend at all. Probably, the fix from @ludmilamarian could make it to maint-1.1?

[2015-10-08 02:30] jackyq2015 opened #3529 "inveniomanage raise LookupError exception"
(zenodo)ubuntu@ip-10-165-168-200:~/.virtualenvs/zenodo/src/invenio$ inveniomanage config create secret-key
Traceback (most recent call last):
  File "/home/ubuntu/.virtualenvs/zenodo/bin/inveniomanage", line 7, in <module>
    from invenio_base.manage import main
  File "/home/ubuntu/.virtualenvs/zenodo/local/lib/python2.7/site-packages/invenio_base/manage.py", line 28, in <module>
    manager = M

[2015-10-08 11:03] jirikuncar commented on #3529
Add `'invenio_deposit.url_converters'` to `EXTENSIONS` in your overlay.

[2015-10-08 11:03] #3529 closed

[2015-10-08 23:59] jackyq2015 commented on #3529
could you please elaborate how to add it? I am not so familiar with Python.

[2015-10-12 14:07] #1799 closed

[2015-10-14 09:00] Dziolas opened #3534 "WIP: OAI-PMH server"
I'm working on OAI-PMH module for new Invenio. Currently I have implemented most of the protocol (v.2.0) and I will soon start connecting it to Invneio - I made it stand-alone for simplicity.

After speaking with @lnielsen I know that the key elements from his point of view are:
- smart way of creating OAI sets
- OAuth autentication and sets restriction

I will implement new user interfaces for cr

[2015-10-14 09:50] aw-bib commented on #3534
There is a requirement for OA repos (DINI) to expose a large number of sets based on ddc classification of the content. Currently, this will result in a large number of set definitions and probably record updates. Probably, on could tackle this in a better way. @skaplun had some idea when he recently checked out BASE / Bielefekd repos.

[2015-10-14 10:09] kaplun commented on #3534
Yes, in Base they have implemented this dynamic set functionality which is basically making OAI-PMH super useful:
http://oai.base-search.net/index.html#dynamic-sets

That would cause sets to be created on the fly for the time of the request.

In fact we consider sets as simple queries over the set of records. We can think of pre-creating them but this could simply becoming nothing more than adding

[2015-10-14 11:51] Dziolas commented on #3534
We can support both types of sets. Some can be classic OAI sets following standard and we can add the ad hoc setts as an extension.

[2015-10-14 15:31] tiborsimko commented on #1505
@frecar Have you or someone else from TIND  managed to advance on this one by any chance?  (we are discussing this issue at the [IUGW2015](http://indico.cern.ch/event/441770/timetable/#20151014.detailed) now)

[2015-10-15 09:19] lnielsen commented on #3534
Agreed - Dynamic sets looks like a very nice way to support very large number of sets (and allows anyone to harvest exactly what they like).

[2015-10-16 06:34] aw-bib commented on #3534
Be careful with that as a general solution. As a repo I have no way to drop a note to OpenAIRE or BASE that they should reharvest `foo` and `bar` but not `X` and `Y`.

So I think @Dziolas point of having both should be there to keep those services happy. (Thinking of sets like `open_access`, `ec_funded_ressources` etc. from DINI/DRIVER/OpenAIRE and whatnot guidelines.)

OTOH a dynamic set would be

[2015-10-16 07:12] kaplun commented on #3534
Yes yes, dynamic set were not meant as the only available sets. But even with static sets the question remains: in order to properly expose the fact that a record now entered a set (e.g. because the set definition has been amended) or it leaves it, we have to either:
* don't care about it
* keep track of all the timestamps of all the `N` records `x` `M` sets defined.

In Invenio legacy this was do

[2015-10-16 07:13] egabancho commented on #1656
There is no PR for this issue, hence closing it as per the `legacy` code base freeze; it will be addressed in `master` code base differently.

[2015-10-16 07:13] #1656 closed

[2015-10-16 11:42] jirikuncar commented on #1782
Independent packages `invenio-*>=1.0.0` are being tested with Python 2.7, 3.3+

[2015-10-16 11:42] #1782 closed

[2015-10-16 12:49] aw-bib commented on #3534
Is this per see such a bad idea for the non-dynamic sets? For something more static, this ID e.g. can come in quite handy for dupe detection. (I think there was even an issue related.)

[2015-10-16 13:00] kaplun commented on #3534
I was referring not about the ID but the set information (what was going into $p - current sets,  and $q - previous sets).

[2015-10-16 13:31] MadeleineM opened #3536 "Error message on IRdemo bibcheck"
Getting "ERROR: /home/ubuntu/.virtualenvs/invenio/etc/bibcheck does not exist" on the site https://irdemo.tind.io/admin/bibcheck/bibcheckadmin.py

[2015-10-19 14:11] kaplun commented on #316
Moved to https://github.com/inspirehep/plotextractor/issues/2

[2015-10-19 14:11] #316 closed

[2015-10-20 13:45] kasioumis opened #3539 "WebJournal: Add an option to get the journal categories even when they don't have any articles in the given issue"
in `webjournal_utils.py` the `get_journal_categories` function will return the categories in the given journal and for the given issue (if provided). If, however, no articles are found in the given category, it won't be returned. An option should be added (`boolean` argument) to allow for categories that have no articles to be returned too.

[2015-10-26 01:06] shemgp opened #3544 "Error in building docker"
I tried to follow the instructions here: http://invenio.readthedocs.org/en/latest/installation/installation-quick.html

And it had an error when I was running:
docker build -t invenio:2.0 .
Here's the error:
 ---> Running in 6557760540bd
Command "/usr/local/bin/python2 -c "import setuptools, tokenize;__file__='/tmp/pip-build-ociO2Y/Pillow/setup.py';exec(compile(getattr(tokenize, 'open', open)(__fi

[2015-10-26 08:33] tiborsimko commented on #3544
Are you well on the latest `maint-2.0` branch?  I.e. do you have the following patch?

- 50373f9a78f53456a90a528628340d8bd5c6f966

(With this patch, I verified about a week ago that the build process succeeds.)

BTW this kind of problems may also appear due to network connection troubles, such as connected to docker process loosing connection due to laptop's suspend/resume, for example.  You may d

[2015-10-27 07:26] shemgp commented on #3544
Yes, that patch wasn't applied to my copy of maint-2.0.  Had to do git pull to make it work.  It's working now. Thanks.

[2015-10-27 07:26] #3544 closed

[2015-10-28 16:30] kasioumis commented on #1296
Updated fix at https://github.com/kasioumis/invenio/commit/129bf564bd79b47f099521db77be9f175907e59b

[2015-11-03 11:48] #3503 closed

[2015-11-03 21:02] k3njiy commented on #3529
I'm having the same problem here. Trying to setup invenio dev. Where do I have to add 'invenio_deposit.url_converters'? What file?

[2015-11-04 09:26] egabancho commented on #3529
For example this is what we have for the CDS overlay https://github.com/CERNDocumentServer/cds/blob/cdslabs/cds/config.py#L119

It is commented out because we don't have `invent_deposit` enabled just yet, in your case you need to uncomment it and it should be fine.

[2015-11-04 16:06] jirikuncar opened #3553 "CHANGES: remove pre 3.0 changes"
- [ ] clean pre 3.0 changes and point to old release notes.

[2015-11-04 16:55] tiborsimko opened #3555 "docs: detailed installation guide"
Following up on https://github.com/inveniosoftware/invenio/pull/3550#issuecomment-153692326 the Invenio v3.0 detailed installation guide should be re-created after merge.

[2015-11-05 14:07] aw-bib opened #3556 "inveniogc: missing recurse parameter for dir deletions"
The following rules in `inveniogc.py` miss out the fact that they actually find a directory and not a file. Thus they have to use `-rf` for deletion and not only `-f`:
- websubmit_icon_creator_*
- websubmit_file_stamper_*

This should affect `maint-1.1` and `maint-1.2` and can amount to quite some space used depending on the input files.

[2015-11-05 14:38] aw-bib opened #3557 "docs: links in CONTRIBUTING.rst broke"
With the recent relaunch of http://invenio-software.org all links pointing to this domain from within the `CONTRIBUTING.rst` need to be re-directed to their new proper place. Especially, the uninitiated and/or occasional contributor will dearly need them and thus be thankful.

[2015-11-06 14:20] jalavik commented on #1273
Will be deprecated in favor of https://github.com/inspirehep/invenio-matcher.

[2015-11-06 14:20] #1273 closed

[2015-11-06 14:22] jacquerie commented on #1273
...which I'm finishing right now. Progress here: https://github.com/jacquerie/invenio-matcher/tree/new-architecture.

[2015-11-06 14:23] jalavik commented on #1272
Will be deprecated in favor of https://github.com/inspirehep/invenio-matcher. Moved to https://github.com/inspirehep/invenio-matcher/issues/3

[2015-11-06 14:23] #1272 closed

[2015-11-06 14:26] jalavik commented on #1271
Will be deprecated in favor of https://github.com/inspirehep/invenio-matcher where this old query format will be unsupported.

[2015-11-06 14:26] #1271 closed

[2015-11-06 14:28] jalavik commented on #361
Deprecated as INSPIRE specific. The plotextractor now lives here: https://github.com/inspirehep/plotextractor

[2015-11-06 14:28] #361 closed

[2015-11-06 14:30] jalavik commented on #169
The merging facility will stay as is on legacy, until replaced by a new editor with similar features. Closing this.

[2015-11-06 14:30] #169 closed

[2015-11-06 14:31] jalavik commented on #2340
Closing as INSPIRE specific. For reference we use the `rt` python library directly on Labs.

[2015-11-06 14:31] #2340 closed

[2015-11-12 16:44] #3555 closed

[2015-11-15 17:58] tiborsimko opened #3565 "setup: easy way to install with PostgreSQL"
Currently, when one wants to install Invenio v3.0 with PostgreSQL, one has to explicitly install `Invenio-DB` first:

[code]

It would be good to enrich `setup.py`'s `extras_required` targets to allow direct DB configuration, for example:

[code]

[2015-11-16 10:39] jirikuncar commented on #1462
Solved by using *Flask-CLI* in Invenio>=3.0.0a1.

[2015-11-16 10:39] #1462 closed

[2015-11-16 10:43] jirikuncar commented on #3233
Closed via c4c292f and newborn Invenio-3.0a1.

[2015-11-16 10:43] #3233 closed

[2015-11-16 15:40] audub commented on #1412
I'm afraid not, unless @blixhavn did something I don't know about.

[2015-11-18 16:48] tiborsimko opened #3568 "scripts: `bower` to `npm`"
Amend kickstart scripts after `invenio-assets` were updated to use `npm` instead of `bower`. See also:
- https://github.com/inveniosoftware/invenio-assets/pull/11
- https://github.com/inveniosoftware/invenio-theme/pull/22
- https://github.com/inveniosoftware/invenio-accounts/pull/50

[2015-11-19 09:11] #3565 closed

[2015-11-19 15:30] #3568 closed

[2015-11-23 12:57] jirikuncar opened #3572 "docs: replace manage.py with instance command"
- [ ] Since Invenio-Base has been released (https://github.com/inveniosoftware/invenio-base/releases/tag/v1.0.0a4), usage of `manage.py` needs to be amended (https://github.com/inveniosoftware/invenio/search?utf8=%E2%9C%93&q=manage.py).
- [ ] Invenio now runs also on SQLite and PostgreSQL - README.rst: ... requires MySQL database server ... needs an update too

[2015-11-24 16:27] jirikuncar opened #3573 "docs: update commit message remarks"
- [ ] `kwalitee check message`?
- [ ] new components: release, version, installation, global, ...
- [ ] example with labels
- [ ] generate release notes `kwalitee prepare release <tag>..`

[2015-11-26 07:44] jirikuncar commented on #3438
Caching is done on per module base (e.g. https://github.com/inveniosoftware/invenio-access/pull/32).

[2015-11-26 07:44] #3438 closed

[2015-11-26 07:51] jirikuncar commented on #3283
Updated roadmap information with links to related issues and packages. I'm closing this issue as all points have existing solution.

[2015-11-26 07:51] #3283 closed

[2015-12-03 18:58] lnielsen commented on #1476
Not relevant in 3.0. Closing.

[2015-12-03 18:58] #1476 closed

[2015-12-03 19:00] lnielsen commented on #2158
Fixed in inveniosoftware/invenio-oauthclient

[2015-12-03 19:00] #2158 closed

[2015-12-03 19:01] lnielsen commented on #2478
Closing this RFC as it has been implemented in https://github.com/inveniosoftware/invenio-records-rest

[2015-12-03 19:01] #2478 closed

[2015-12-03 19:03] #3248 closed

[2015-12-04 11:13] Kennethhole commented on #2696
Here are some new use cases where we have a similar problems:

***Records are partial indexes for new uploads.***
A search in the specific index will not find the title, authors or imprint.
A search in the global index will find author, imprint and 035.

The indexes is structured in the following way:
Title 245%
Author: 100%, 700%
Imprint: 264%
miscellaneous: 035%, 26%, 100__a,700__a (default sett

[2015-12-04 14:05] #3299 closed

[2015-12-10 15:18] jgarcial opened #3576 "deposit: nested dynamic lists fields not displayed properly"
I don't know if I'm pushing wtforms too far or I'm doing something wrong.
I'm trying to create a dynamic list of authors, where each author has a dynamic list of affiliations, where each affiliation has a few subfields.

I tried the following code, but the nested lists won't work in the browser.

[code]

I removed the nested dynamic lists and now everything is displayed properly and it works fine

[2015-12-15 08:52] #3572 closed

[2015-12-15 09:29] blixhavn commented on #2018
I extracted what i did in the PR referenced above :)

[2016-01-14 16:17] egabancho commented on #2957
Moved to https://github.com/inveniosoftware/invenio-comments/issues/13

[2016-01-14 16:17] #2957 closed

[2016-01-15 10:00] switowski opened #3584 "BibIndex: year 1000 for default modification_date throws ValueError in strftime()"
Hi,

in `find_affected_records_for_index()` of `bibindex_engine.py` (https://github.com/inveniosoftware/invenio/blob/legacy/modules/bibindex/lib/bibindex_engine.py#L526) when we check for last modification date of indexes and we can't find one (the 'last_updated' value of the index in `idxINDEX` table is 0000-00-00 00:00:00), the year 1000 is used by default.
Unfortunately, `strftime()` is not acc

[2016-01-27 14:17] audub commented on #3424
I never followed up on this, but to inform others we ended up disabling the feature in config for the specific instance. It is how it is on cds afaik.

[2016-02-02 12:49] jsvgoncalves opened #3591 "docs: code contribution guidelines point to 404 wiki"
The links to the wiki on [`CONTRIBUTING.rst`](https://github.com/inveniosoftware/invenio/blob/master/CONTRIBUTING.rst#code-contributions) are broken, i.e.:

- sign your commits (http://invenio-software.org/wiki/Tools/Git/Workflow#R2.Remarksoncommitlogmessages)
- logically separate commits (http://invenio-software.org/wiki/Tools/Git/Workflow#R1.Remarksoncommithistory)

[2016-02-02 12:52] jsvgoncalves commented on #3591
I failed to find an issue for this until I submitted this one. Closing

[2016-02-02 12:52] #3591 closed

[2016-02-11 10:04] tiborsimko commented on #3508
All legacy components have been removed in Invenio 3.

[2016-02-11 10:04] #3508 closed

[2016-02-11 10:04] tiborsimko commented on #3079
PostgreSQL is fully supported in Invenio 3.

[2016-02-11 10:04] #3079 closed

[2016-02-11 10:05] tiborsimko commented on #2967
Superseded by Invenio 3.

[2016-02-11 10:05] #2967 closed

[2016-02-11 10:05] tiborsimko commented on #3126
Superseded by Invenio 3.

[2016-02-11 10:05] #3126 closed

[2016-02-11 10:06] tiborsimko commented on #3232
Addressed in Invenio 3.

[2016-02-11 10:06] #3232 closed

[2016-02-24 14:50] tiborsimko opened #3595 "installation: docker-machine friendly instructions"
The current Invenio 3 demo site installation instructions using Docker:

[code]

do not work with remote `docker-machine` managed containers.

[2016-02-25 16:35] tiborsimko opened #3596 "installation: add marc21 package"
When `invenio-marc21` package is ready, add it to the demo site.

- [x] JSON schema for MARC21 bibliographic
- [x] JSON schema for MARC21 authority
- [x] Elasticsearch mapping for MARC21 bibliographic
- [x] Elasticsearch mapping for MARC21 authority
- [x] Nice record templates for MARC21 bibliographic
- [ ] Nice record templates for MARC21 authority

See also  https://github.com/inveniosoftware/do

[2016-02-25 16:36] tiborsimko opened #3597 "installation: add indexing and searching"
Now that [search sprint basics](https://github.com/issues?q=user:inveniosoftware+milestone:Sprint-Search-Basics) is over, add `invenio-indexer`, `invenio-search`, `invenio-search-ui` to the demo site.

[2016-02-25 16:43] tiborsimko opened #3598 "installation: add demo front page"
When a demo site is created, there is no front page, which is ugly. Within the "nice defaults" sprint philosophy, when we create an instance, we should generate *some* front page:

- e.g. similar to Google home page style, as we do in https://analysis-preservation.cern.ch/

- e.g. list past public records, as we do for Zenodo

and each instance can customise it if they want.

See also https://gith

[2016-02-25 16:58] switowski commented on #3598
This is something that @hachreak is currently working on.
We were thinking about a very simple page with search bar (as in the analysis-preservation) and when you click `search`, you get the list of records in `brief` format.
We wanted to make it a part of marc21 package (otherwise, as you said, marc21 won't have a front page).

[2016-02-25 21:28] hachreak commented on #3598
I was working to create an example search page with angularjs as mentioned by @tiborsimko (like google).
Maybe we can use it in demo site and leave only a more basic example of search on `invenio-marc21`.
WDYT @switowski

[2016-02-26 07:40] switowski commented on #3598
:+1: I agree, invenio might be a better place to tie various modules together (records and search interface) than marc21.

[2016-02-26 10:00] tiborsimko commented on #3598
`invenio-marc21` does not have to have a front page, only to provide MARC21 related things (schemas, mappings, brief templates, detailed templates).

We may have different packages for other "master formats" soon; imagine `invenio-ead`, `invenio-tei`, etc.  The people will then be able to do things like:

[code]

to get a site that is ready to host MARC21 records, EAD records, and has support for

[2016-02-26 13:21] switowski commented on #3597
Related with #3598

[2016-02-26 13:32] switowski commented on #3596
JSON schema for MARC21 bibliographic requires: https://github.com/inveniosoftware/dojson/issues/84
Elasticsearch mapping for MARC21 authority: we should be able to generate them now (to be checked/tested)
Nice record templates for MARC21 bibliographic - already created by @hachreak in https://github.com/inveniosoftware/invenio-marc21/pull/8

[2016-02-27 22:10] chokribr opened #3600 "websubmit : Send_APP_Mail error with record_owners"
I've got this error by using Send_APP_Mail
Unhandled TypeError caught when calling [Send_APP_Mail] WebSubmit function: [an integer is required]
a Warning is displayed for user
A serious function-error has been encountered. Adminstrators have been alerted.
Please not that this might be due to wrong characters inserted into the form (e.g. by copy and pasting some text from a PDF file).
https://githu

[2016-02-29 14:46] tiborsimko opened #3602 "demo site: fix login troubles"
Fix login troubles on the demo site.  Set environment variables etc.

[2016-03-01 07:26] #3595 closed

[2016-03-01 07:28] #3602 closed

[2016-03-04 19:30] chokribr commented on #3600
#3605

[2016-03-09 16:41] hachreak commented on #3598
1. should we remove the `/` page from invenio-marc21 views? (see https://github.com/inveniosoftware/invenio-marc21/blob/master/invenio_marc21/views.py#L43 )
2. where should be implemented the "default" homepage? here in `invenio` module?

[2016-03-10 08:04] jirikuncar commented on #3598
Definitely YES.

Invenio-Base should have a question for default `/` endpoint during `instance create` process.

[2016-03-10 09:57] #3539 closed

[2016-03-16 09:13] jirikuncar commented on #3598
Closed via inveniosoftware/invenio-base#58

[2016-03-16 09:13] #3598 closed

[2016-03-16 09:34] lnielsen opened #3609 "docker: change nginx to use https"
Nginx is currently only configured on http and not https:
https://github.com/inveniosoftware/invenio/blob/master/docker-compose.yml#L88-L89

Invenio 3 should be run over HTTPS only, thus we should change the configuration of docker to reflect this. See possible configuration in https://github.com/zenodo/zenodo/tree/master/docker/nginx

[2016-03-23 08:10] hachreak commented on #3597
@tiborsimko #3606 is merged, I think we can close this issue.

[2016-03-23 08:18] jirikuncar commented on #3597
Closed via #3606

[2016-03-23 08:18] #3597 closed

[2016-03-24 15:57] tiborsimko commented on #2853
Superseded by Invenio 3.0.

[2016-03-24 15:57] #2853 closed

[2016-03-24 15:58] tiborsimko commented on #3218
Superseded by Invenio 3.

[2016-03-24 15:58] #3218 closed

[2016-03-24 15:59] tiborsimko commented on #3227
Closing as per https://github.com/inveniosoftware/invenio/pull/3228#issuecomment-125352743

[2016-03-24 15:59] #3227 closed

[2016-03-24 16:04] tiborsimko commented on #3211
Superseded by Invenio 3.

[2016-03-24 16:04] #3211 closed

[2016-03-24 16:06] tiborsimko commented on #3138
Superseded by Invenio 3.

[2016-03-24 16:06] #3138 closed

[2016-03-24 16:07] tiborsimko commented on #2419
Superseded by Invenio 3.

[2016-03-24 16:07] #2419 closed

[2016-03-24 16:11] tiborsimko commented on #2464
CC @jirikuncar in the light of recent [Sprint-OAIServer](https://github.com/issues?q=user:inveniosoftware+milestone:Sprint-OAIServer)

[2016-03-24 16:13] tiborsimko commented on #2888
Superseded by Invenio 3.  https://github.com/inveniosoftware/invenio-classifier

[2016-03-24 16:13] #2888 closed

[2016-03-24 16:21] tiborsimko commented on #3110
Removed in Invenio 3.

[2016-03-24 16:21] #3110 closed

[2016-03-24 16:24] tiborsimko commented on #3112
Superseded by Invenio 3.

[2016-03-24 16:24] #3112 closed

[2016-03-24 16:30] tiborsimko commented on #3107
Thanks, merged as e7ba096.

[2016-03-24 16:30] #3107 closed

[2016-03-24 16:30] tiborsimko commented on #3042
Superseded by Invenio 3.

[2016-03-24 16:30] #3042 closed

[2016-03-24 16:34] tiborsimko commented on #2029
Superseded by Invenio 3.

[2016-03-24 16:34] #2029 closed

[2016-03-24 16:40] tiborsimko commented on #3014
Superseded by Invenio 3.  Example: https://github.com/inveniosoftware/invenio-accounts/blob/master/.travis.yml

[2016-03-24 16:40] #3014 closed

[2016-03-24 16:43] tiborsimko commented on #1853
Superseded by Invenio 3. @pbroz If you need this for Invenio 2.0.x and if @jirikuncar's workaround is not enough then please re-open.

[2016-03-24 16:43] #1853 closed

[2016-03-24 16:46] #1512 closed

[2016-03-24 16:48] tiborsimko commented on #3182
@kaplun Needed for a `maint-2.1` bug fix? Or can be closed in view of Invenio 3.0?

[2016-03-24 16:53] tiborsimko commented on #495
Yes, the original problem had been fixed in Invenio 1.2 already.

[2016-03-24 16:53] #495 closed

[2016-03-24 17:05] tiborsimko commented on #1894
Closing as per missing PR.

[2016-03-24 17:05] #1894 closed

[2016-03-24 17:06] tiborsimko commented on #2075
Superseded by Invenio 3. General MARC clean-up happened in https://github.com/inveniosoftware/dojson and https://github.com/inveniosoftware/invenio-marc21

[2016-03-24 17:06] #2075 closed

[2016-03-24 17:07] tiborsimko commented on #2564
Superseded by Invenio 3. See also https://github.com/inveniosoftware/invenio-accounts/issues/7

[2016-03-24 17:07] #2564 closed

[2016-03-24 17:12] tiborsimko commented on #3534
CC-ing @jirikuncar as per recent [Sprint-OAIServer](https://github.com/issues?q=user:inveniosoftware+milestone:Sprint-OAIServer)

[2016-03-24 17:22] tiborsimko commented on #496
Export-edit-import is definitely an interesting workflow to support, e.g. TIND builds a standalone MARC editor to answer similar need (CC @Kennethhole). In view of Invenio 3 and its REST API, I propose to close this issue here and eventually re-raise the need elsewhere.

[2016-03-24 17:22] #496 closed

[2016-03-24 17:39] jirikuncar commented on #2464
The Invenio-OAIServer package is querying Elastic client directly. The search pattern in OAI set definition is using the same (simple search) syntax as all Invenio 3 packages (Invenio-Search, Invenio-Records-REST, ...).