[2015-03-09 09:51] switowski opened #2861 "BibReformat --only-missing option"
Hi,
I'm wondering if someone else could benefit from one more option in bibreformat called ''only-missing".
With this option enabled, after gathering the list of records to reformat, this list would be filtered to leave only record that don't have cache. This could save some time, since sometimes one only needs to recreate the cache for records that were recently modified.
CDS use-case for that is

[2015-03-09 10:20] tiborsimko commented on #2856
So far I've been having (personal) script that generate these release notes, and the rough plan was to (1) agree upon using git commits or github issues; (2) adapt the script accordingly; (3) commit it to Invenio scripts place; (4) make it display *live* those *progress reports* kind of stats on the new invenio-software.org page (i.e. Flask one, non-Trac one).  This should make following up and re

[2015-03-09 10:59] jirikuncar opened #2862 "global: jinja2hacks are causing troubles on Python 2.7.9"
see for example https://travis-ci.org/inveniosoftware/invenio/builds/53365855

#### Workaround

Disable `invenio.ext.jinja2hacks` in `EXTENSIONS`.

--
cc @hachreak

[2015-03-09 11:53] jalavik commented on #2856
That sounds cool!

[2015-03-09 11:54] MSusik commented on #2843
As there are few people here who are appreciating the design, I need to note here that it is also a work of @espacial and @jmartinm.

[2015-03-09 13:44] jirikuncar commented on #2857
`linecache2` syntax error is only inside tests and should not influence Invenio.

[2015-03-09 15:05] tiborsimko commented on #2843
:+1: Another example includes other personal features, such as alerts or baskets, that many sites use heavily.  This is not to say that the author pages should present that information on the same page; but that it would be good if the keep the overall design of "person-related pages" somewhat homogeneous, so that one could later plug various facilities, such as alerts and baskets.  Kind of keepin

[2015-03-09 15:16] tiborsimko commented on #2843
Two more quick comments that may not have been highlighted previously.

**1. Author pages for already-disambiguated authors.**  See e.g. the collection of "People" in Invenio v1.2.0 that is done via MARC21 authority records.   Here, the display is of "bibliographic nature", but it has close relation to author pages.  This is the old theme: if an installation has already disambiguated people, say b

[2015-03-09 15:22] MSusik commented on #2843
OK, so the question is what should be the thin version? If we are going to scrape all the fancy functionalities, we will be left with only the list of the publications, which will accessible from the search engine as well. As the profile page is actually a wrapper over statistics with some interactivity included (like `claiming`), it might not be the best idea to implement such a solution.

As in

[2015-03-09 15:29] tiborsimko commented on #2843
In the case of MARC21 authority records, this will be relatively easy.  The link is already denoted in the metadata by `100 $0`, so that when the new uploader parses such an input, it can create corresponding entries in the relations table.

In the case of old exact-name-based author pages, we may simply fall back to the generic-search-query use case, using non-author-summary-page facility.

[2015-03-09 15:30] #2777 closed

[2015-03-09 16:04] jirikuncar commented on #2856
@egabancho @kaplun

[code]

[2015-03-09 16:14] jmacmahon commented on #2856
Not that I'm DLT, but Option 1 makes the most sense to me too.  Having as much as we can in the Git repo itself seems to be a good idea.

[2015-03-09 18:55] glouppe commented on #2856
In in favour of Option 2. This is the least constraining solution for (occasional) contributors. Lowering the barrier for contributions is indeed a good thing in my opinion. Though I agree this requires more work for integrators.

[2015-03-09 20:08] jirikuncar commented on #2856
Some stats since v1.1.0.
[code]

Personally, I would rather cherry-pick and amend all commit messages from occasional developers than from all commits from 2 regular developers in order to have (semi-)automatically generated RELEASE-NOTES from commit messages.

[2015-03-09 21:55] tiborsimko commented on #2856
Yes, that's been the usual practice in `master`, and even for commits from not-so-occasional developers, because suggesting wording changes and queueing fully-ready branches so that people would rebase them just to amend the commit message, one branch after another so that pending branches would be fast-forward-mergeable, can result in lot of "empty" waiting time.

:+1: This joins my point express

[2015-03-09 22:35] tiborsimko commented on #2856
Wouldn't this concern be addressed by providing `kwalitee` tool that people run locally on their branches to see authoritative and comprehensive report on what's recommended to fix in their branches?

At first try, the occasional contributors may see the kwalitee observations as funny-sounding perhaps, but if the report is comprehensive and all-encompassing, then people are also handed clear path

[2015-03-10 08:12] egabancho commented on #2856
I would say option 1 plus adding the API changes to the docstrings `.. versionchanged:: 2.1` should be more that enough.

My only concern is about redundancy in the commit message, are we going to write `closes #nnn` and also `fixes #nnn`?

[2015-03-10 08:31] drjova commented on #2856
:+1: for Option 1

[2015-03-10 08:52] jirikuncar opened #2865 "i18n: split translation catalogues between Python/Jinja2 and JavaScript"
- [ ] extract messages from `**.js` to `messages-js.pot` and the rest from `**.py` and `templates/**` to `messages.pot`
- [ ] compile `messages-js.pot` to format that can be used by `$._` (or similar).

--
cc @MSusik

[2015-03-10 09:05] bouzlibop commented on #2856
Among the options proposed __Option 1__ seems to be the most coherent with me.
About emoji - I think that might be a nice by-product of introducing this richer structure in commit messages if only we would be able to find proper mapping for all labels we want to introduce.

[2015-03-10 09:11] MSusik commented on #2843
As we are not going to provide a default look for Invenio, I close this RFC.

[2015-03-10 09:11] #2843 closed

[2015-03-10 09:12] MSusik commented on #2865
One more thing to consider here: Do we want to allow using `$._` function in `Mustache`?

[2015-03-10 11:07] bouzlibop commented on #1904
Small addition/proposal here, regarding to `Jinja2` header, consider following:

**template.html**:
[code]

**template_base.html**
[code]

The output look like:
[code]

By using `-#}` instead of `#}` we can get rid of this extra line in the output.

[2015-03-10 13:10] tiborsimko commented on #2478
This would nicely go with all the search module refactoring that is being done for v2.1.

[2015-03-10 13:29] tiborsimko commented on #2858
In Invenio v2.0, the demo site was split into its own overlay, so I think most of Docker application building will be done in overlays.  (I had planned to set up an example for the demo site and the CERN Open Data, but I did not get to it yet.)  Inside Invenio itself, I think the Docker could be rather thin, basically just to install the software and run the tests...

[2015-03-10 13:45] tiborsimko commented on #2856
Nope, usually the addition of leading label should be sufficient.

Here is one simple example:

- commit message old style:

[code]

- commit message new style

[code]

This commit contains headline and two paragraphs.  The headline would be ignored, the first paragraph would be used inside a "Bug fixed" section of the release notes, and the second paragraph would be ignored as well.  (Or, better

[2015-03-10 14:03] jirikuncar commented on #2858
I would say: basically just to install the software ~~and run the tests...~~

[2015-03-10 14:12] tiborsimko commented on #2856
One could surely invent some corresponding emojis *after* we first agree upon the label set.

So let's take this occasion to muse about the label set proposed in the original RFC first.  In view of internal notes not having any label (see above), these could be used for refactoring etc; so perhaps we can simplify the label set to something short like:

label                    | meaning
----------

[2015-03-10 16:53] tiborsimko opened #2867 "global: fix failed tests due to canonical demo site URL"
Due to machine move, several test are failing:

- invenio.bibmatch_regression_tests.BibMatchTest.test_restricted_collections_remote
- invenio.invenio_connector_regression_tests.InvenioConnectorTest.test_search_remote_restricted_collections
- invenio.bibmatch_regression_tests.BibMatchTest.test_restricted_collections_remote
- invenio.invenio_connector_regression_tests.InvenioConnectorTest.test_searc

[2015-03-10 17:03] tiborsimko commented on #2858
(to be able to run the tests; we wouldn't run them in CMD)

[2015-03-10 17:05] jirikuncar commented on #2858
:+1:

[2015-03-10 20:05] tiborsimko opened #2868 "testsuite: SSL verification failures on Python-2.7.9"
On newly released Python-2.7.9, the SSL certificates are checked by default.  However, on development installations, we usually use self-signed certificates.  This leads to apparent failures like:

[code]

[2015-03-11 09:21] #2857 closed

[2015-03-11 10:59] #2214 closed

[2015-03-11 16:52] tiborsimko commented on #2803
Creating detailed "incompatible change" notes will be surely helpful here.  But having an automated checking tool would be even more helpful, for it allows to:

- better automate upgrading process, e.g. people could fix some findings, then rerun the tool to see which ones they still have to fix;

- give people a nice safety net in case developers/integrators did not document the changes completely

[2015-03-11 17:20] lnielsen commented on #2856
I would add one extra label ``SECURITY`` meaning ``commit fixes a security issue`` since this is relevant to highlight explicitly in release notes.

[2015-03-11 17:47] lnielsen opened #2874 "accounts: password hashing"
# Problem

Invenio password hashing is based on MySQL's AES encryption of the email address using the password as secret key.

This means e.g. that if the email address of a user is changed their password is invalidated.

# Proposal

* Explicitly store password salt instead of relying on email address.

* Support multiple hashing algorithms concurrently.

* Support automatic deprecation and migrat

[2015-03-11 17:49] lnielsen commented on #2874
cc @jmartinm @jalavik @kaplun @ludmilamarian @egabancho @tiborsimko @jirikuncar

[2015-03-11 22:57] tiborsimko commented on #2867
The recent commits fix the tests, so I'm closing this ticket.  (The test mocking may be addressed separately "someday".)

[2015-03-11 22:57] #2867 closed

[2015-03-12 08:01] kaplun commented on #2874
I like the proposed implementation. I guess this superseeds #1529

[2015-03-12 08:01] kaplun commented on #1529
Superseeded by #2874

[2015-03-12 08:01] #1529 closed

[2015-03-12 08:13] jirikuncar commented on #2858
- [ ] add new configuration `INVENIO_ALLOWED_ENVS` with list of allowed os environment variables to ease creation of `docker-compose.yml`

**Example**
[code]

--
cc @lnielsen @tiborsimko @kaplun @egabancho

[2015-03-12 08:18] lnielsen opened #2875 "RFC deprecation policy and utils"
# Problem

Currently we are using ``PendingDeprecationWarning`` and ``DeprecationWarning`` to deprecate features in Invenio. E.g.:

[code]

The problem is we do not know easily when we should upgrade from ``PendingDeprecationWarning`` to ``DeprecationWarning`` and when to completely remove the deprecated code.

# Proposal

1. Adopt a deprecation policy. See below.

2. Adopt [utilities similar to D

[2015-03-12 08:30] hachreak commented on #2858
Ok, I'm working on new dockerization: https://github.com/hachreak/invenio/tree/fix_docker

[2015-03-12 08:38] hachreak commented on #2570
@pedrogaudencio  can we close the issue now? :)

[2015-03-12 08:48] lnielsen opened #2876 "RFC git signatures (kill, simplify or status quo)"
# Problem

Related to RFC #2856.

Currently we have the following commit message directives (see [here](http://invenio.readthedocs.org/en/latest/developers/git-workflow.html#r2b-commit-message-qa-review-directives)):

[code]

You can broadly categorise them in two types:
* directives related to giving credit (co-authored-by, reported-by)
* directives related to quality stamping (reviewed-by, signe

[2015-03-12 08:53] lnielsen commented on #2739
This should be somewhat simpler now when #2873 is integrated. It adds a method ``user.verify_email()`` that we just need to call.

[2015-03-12 08:54] jirikuncar commented on #2856
Collecting all comments and suggestions from this RFC and closing it with following outcome.

## Conclusion

label                    | meaning
-----------------------|----------------------------------------------------------------
NEW                    | commit adds a new feature
SECURITY          | commit fixes a security issue
FIX 	                    | commit fixes a bug
BETTER  	    | commi

[2015-03-12 08:56] lnielsen commented on #1579
Fixed by PR #2279

[2015-03-12 08:56] #1579 closed

[2015-03-12 09:04] lnielsen commented on #2464
I think this would also solve problems in #2587

[2015-03-12 09:06] jirikuncar commented on #2876
@inveniosoftware/developers please read it carefully and let us know your opinion. Thank you!

[2015-03-12 09:41] jalavik commented on #2876
This is indeed simpler :+1:

[2015-03-12 10:12] switowski commented on #2876
:+1:

[2015-03-12 10:17] tiborsimko commented on #2876
Some additional notes and precisions:

This is not a problem in my eyes due to three reasons.  Firstly, our QA signatures are [well documented](http://invenio-software.org/wiki/Tools/Git/Workflow#R2.Remarksoncommitlogmessages).  Secondly, we are using standard signatures known e.g. from the Linux world.  Thirdly, the development tools usually offer all these signatures out of the box, e.g. Emacs's

[2015-03-12 10:47] lnielsen commented on #2876
I agree this is the core of the RFC. Do we actually use it. In my opinion I don't think we use it, or if we ever used it, the added value is so little that it does not justify the added complexity.

While I agree that signature are documented, that we use standard signatures and development tools can easily be customised to add, I don't agree that it is not an issue to be considered (e.g. signatur

[2015-03-12 11:14] tiborsimko commented on #2876
So far we haven't made much use of the distinction, I think.  Often, knowing the person who signed is enough.  However, the real value of signatures may be revealed in future bug hunting, where people don't know original developers and reviewers anymore.

From this point of view, we are generating signatures to simplify life to *future developers*, so the real value of QA signatures is more longer

[2015-03-12 11:19] tiborsimko commented on #2875
:+1:

[2015-03-12 11:27] tiborsimko commented on #2876
(speaking of which, going for a single highest-quality signature (`Signed-off-by`) may actually *increase* the barrier, if people cannot use some lower-quality signatures (such as `Tested-by`) to get the code integrated)

[2015-03-12 12:20] lnielsen commented on #2876
Complexity is at many different levels. I consider repeatedly writing ``Signed-off-by/Reviewed-by:`` as a kind of low-level complexity that can be automated as you say with short cuts. A higher level of complexity is the semantics/processes of it and when to use which signature for what. If you only have one signature, you only have one thing to learn and one thing to remember.

[2015-03-12 12:25] jalavik commented on #2876
Probably I lack direct experience on this, but does this distinction matter in the end, as wouldn't developer D anyway look at the current issue and fix it at hand regardless if it was lightly reviewed or not before?

For my own clarification, I guess it is increased barrier for the reviewer/integrator as the developer will  anyway add signatures as directed by reviewer R to update the PR.

[2015-03-12 12:29] frecar commented on #2876
In short, no developer should own any piece of code, and therefore it should not be necessary to drill down on who signed it.

What I do not get is how signatures help track down bugs. And btw, we already have the author's email, which essentially is the same as signed-off-by?

When faced with a bug, you do not care who wrote it, you care about why it was done and why is was done this way. (I agre

[2015-03-12 14:47] jirikuncar commented on #2876
There is the same issue like we had with labels. If you are debugging/bisecting off-line one might prefer not to go out of the terminal and a single commit might not have PR or issue number mentioned.

Personally, I would like to see 2+ names of people in the commit message that take responsibility for given commit. If we talk about 2x `Signed-off-by` or `Signed-off-by` + `(Reviewed|Tested|Acked)-

[2015-03-12 14:49] tiborsimko commented on #2876
I touched above on the decision strategy "which signature for what".
It seems simple enough to me.  Presuming people instinctively know the
difference between testing what the branch promises (i.e. did it fix
the add-to-basket bug on Opera?) vs reviewing the branch code
(i.e. reading, understanding, and suggesting improvements to every
line of code), the decision tree seems rather simple to me:

1

[2015-03-12 14:53] tiborsimko commented on #2876
:+1: Fully agree on the general principle of necessitating 2+ signatures for any PR branch; I've been only probing whether the "one-signature-style" model is sufficient or not WRT possible future needs.
(BTW, in the Linux kernel world, people often use both multiple `Signed-off-by`, but also occasional `Reviewed-by` and `Acked-by` etc.)

[2015-03-12 14:58] jirikuncar commented on #2876
So let's mention only `Signed-off-by` in `CONTRIBUTING.rst` with link to "advanced" rules.

1. Easy and short reading for newcomers;
2. Knowledgeable developers/testers can express what actions they have made;
3. Integrators can keep internal *karma* points per signature.

[2015-03-12 15:03] tiborsimko commented on #2876
We have been using it slightly differently.  `Signed-off-by` is a
quality stamp, meaning that you stand behind your code. Quoting from [our conventions](http://invenio-software.org/wiki/Tools/Git/Workflow#Remarksoftenmadeduringcodereview):

[code]

[2015-03-12 15:18] #2875 closed

[2015-03-13 07:34] lnielsen commented on #2862
I have the same problem but doesn't seem to be solely related to ``jinja2hacks``:
https://travis-ci.org/zenodo/zenodo#L6092

Could be the encoding of one specific file that causes the problem as described on https://github.com/mitsuhiko/markupsafe/issues/19

[2015-03-13 08:14] hachreak commented on #2862
[code]

[2015-03-13 08:29] lnielsen commented on #2876
It's perhaps worth mentioning that our use of ``Signed-off-by`` as a quality stamp is different from e.g. Linux/git's kernels use where it is used to ``certifies that you wrote it or otherwise have the right to
pass it on as an open-source patch`` (i.e. as a way to sign a contributor agreement to protect against law suits from e.g. SCO).

A particular weakness I see with our signatures is that the

[2015-03-13 08:37] tiborsimko commented on #2862
`page_base.html` loads stuff from `_macros.html` that contains UTF-8 character "×" in the data dismiss alert.

You can perhaps try to replace it with regular ASCII "x" too see whether it helps?

P.S. Note also that elsewhere we do stuff with this character, such as replacing it in widgets...

[code]

[2015-03-13 09:09] blixhavn opened #2881 "inveniomanage: no option for updating config variables"
There should be a way of updating config options through Inveniomanage, either by extending `inveniomanage config set CFG_OPTION value` or implementing `inveniomanage config update CFG_OPTION value`

[2015-03-13 09:15] tiborsimko commented on #2876
Sure, one has always go to the PR to see the details about some past issue.   That's natural, but that's also the bottom of the stack when hunting a bug.  Consider two things:

- *Unstructured information in PR reviews.*  When someone writes "LGTM" or "shipit", you cannot extrapolate whether this was a brief look, a feature test, or a detailed code review.  Having convention about using separate `

[2015-03-13 09:35] tiborsimko commented on #2876
Yes, we say that in the docs.  (BTW the fact that people might see `Signed-off-by` lightly seems more as an argument in favour of keeping separate `Reviewed-by` QA stamps...)

[2015-03-13 09:38] jirikuncar commented on #2881
Updating of a file is bit tricky. If you find a nice solution please submit a PR.

[2015-03-13 09:46] lnielsen commented on #2876
I think even with definitions of ``Tested-by`` and ``Reviewed-by`` it will always be a subjective decision which one to use, except if there would be a yes/no recipe for what to run in your terminal. Hence, I don't think it's any better than looking at the commit description, the code and the pull request comments.

Looking into who made those signatures I don't think it's possible to make the con

[2015-03-13 09:47] jirikuncar commented on #2862
[code]

[2015-03-13 10:00] blixhavn commented on #2881
Could you elaborate on how it's tricky? Are there any problems with doing it manually?

[2015-03-13 10:01] lnielsen commented on #2296
I'm closing this one, as I think it's superseded by both Travis own caching as well as docker images.

[2015-03-13 10:01] #2296 closed

[2015-03-13 10:14] kaplun commented on #2876
Additionally, for a developer, to go around and collect signature is not always obvious. Plus, e.g. imagine I am reviewing someone else code: I would have to ask the developer to add my reviewed-by signature, and rebase and repush. This involves many iterations, and sometime the developer is not available and the PR get stuck. This really adds to to the complexity.

Exactly: when doing bug hunting

[2015-03-13 10:17] kaplun commented on #2881
I guess the problem stems from the fact that invenio.cfg is infact a Python file, and therefore open to writing all sorts of Python there.

But we could stick to a convention of adding a comment:
[code]

And then for editing it: one could import it, amend the `globals()` and then recreated a corresponding python file by carefully using `repr()`.

[2015-03-13 10:18] jirikuncar commented on #2881
You can have a look here https://github.com/inveniosoftware/invenio/blob/master/invenio/base/scripts/config.py#L131-L159.

[2015-03-13 10:19] kaplun commented on #2881
I don't understand. What's that code? Is update already there?

[2015-03-13 10:21] tiborsimko commented on #2876
Look at Jan for example:

[code]

If there is only `Signed-off-by`, then one wouldn't be able to tell the difference anymore.  This is an example of "important difference", since ~25% of Jan's signatures were of testing nature and ~75% of reviewing nature.

(If another developer does say ~5% tests and ~95% reviews, then the difference when compared to a single-signature world is not important.)

T

[2015-03-13 10:22] lnielsen commented on #2561
The upgrades form a dependency graph (DAG). The order in which upgrades are applied is determined by a topological sort of the DAG which produces a partial order. Basically any upgrade without a dependent can be the ``latest`` upgrade, hence it's not possible to define any upgrade as the latest.

The create recipe script only makes a guess based on what you have in the applied column. You must alw

[2015-03-13 10:31] lovasko commented on #2876
Killing all signatures would be a great step forward.

[2015-03-13 10:47] bouzlibop commented on #2561
Thanks for this background informations. I wasn't complete aware of the mechanisms behind `upgrader`. Now as I see it's more about putting on developers responsibility of choosing correct `depends_on` attribute, while having autogenerated `depends_on` only as a hint or suggestion (although if not understanding this in such a way it can be misleading)?
Anyways, sure I agree with you, in this case t

[2015-03-13 11:01] lnielsen commented on #2561
Probably we can add more prominent warning in the generated code.

[2015-03-13 12:23] bouzlibop commented on #2561
I'm thinking about something like:

[code]
or
[code]

I'm not sure how easy it would be to implement such change in the current `upgrader`. Shall we close this issue for now or leave it open and provide this improvement at some point in the near future?

[2015-03-13 12:27] lnielsen commented on #2876
To sum I think we have the below options in play (correct me if not):

### Common for all options

I haven't seen anyone against keeping the ``Co-authored-by`` signature for giving credit to significant co-authorship, and possibly also keeping ``Reported-by`` for some few exceptional cases.

Please correct me if I'm wrong.

### Option 1 - Only ``signed-off-by``.

Reduce to only use one signature

[2015-03-13 12:50] glouppe commented on #2876
+1 for Option 3. Given the limited added value, I would go for killing the signatures, but letting developers add them if they feel like it.

[2015-03-13 13:10] jalavik commented on #2862
Some of these characters should be changed to the htmlentity, like `&times;` for the x and `&laquo;` and `&raquo;` for the « and » respectively.

Easy lookup: http://entity-lookup.leftlogic.com/

[2015-03-13 13:13] MSusik commented on #2876
It's not an important issue to me, but I think that another valid suggestion might be making signatures optional. If sb wants other developers to know that he tested the code before merging, he adds `Tested-by`, otherwise he doesn't.

Still, it would be nice to always include `Co-authored-by` and `Reported-by` everywhere where it applies.

[2015-03-13 13:25] jalavik commented on #2876
Yeah, finally this dance adds more complexity then it's worth. Since we introduced the signatures, I have not seen any significant value in it from my own experience (apart from  `Co-authored-by` and `Reported-by`).

If we are casting votes, I'd favor Option 3 - e.g. keep it optional. However, I suggest to discuss it in some upcoming dev forum.

[2015-03-13 13:28] egabancho commented on #2876
I'd say Option 3, signing my own commit always felt a bit redundant to me.

Maybe in this context might make sense `Reviewed-by` (or other) just to reflect in the commit that a different pair of eyes looked at it.

[2015-03-13 13:37] lovasko commented on #2876
+1

[2015-03-13 13:40] tiborsimko commented on #2876
Yes, that's indeed what's happening, a cons of the fast-forward-merging model.

The same here.  As I [mentioned above](https://github.com/inveniosoftware/invenio/issues/2876#issuecomment-78461499), it is usually enough for me to know which person was involved in the given commit (test/review difference is not important).  But I guess we @kaplun are not the usual example, since we are involved with

[2015-03-13 13:49] #2561 closed

[2015-03-13 14:04] tiborsimko commented on #2876
Did you have a habit of always running `kwalitee` and `invenio-check-branch` on your branches before making pull requests?  If everyone did, then signatures wouldn't have been introduced in the first place :smile:

[2015-03-13 14:18] lnielsen commented on #2876
Please stop voting :-)

My intend was not to call for poll on this issue, merely to get opinions on how we proceed since there's no consensus. I believe we must strive to get consensus on this issue (a majority vote is of no use), so a poll is only usable to get a feeling for where everyone stands.

[2015-03-13 14:22] lovasko commented on #2876
...

[2015-03-13 15:00] jalavik commented on #2876
Since this is now part of the CI service on GitHub and therefore more visible, signing should not impact it? Anyway, if I submit a PR (or put it out of WIP) it is given that me as the author think its good to go. Then CI/reviewers will take over and prove me wrong :-)

[2015-03-13 15:42] #2638 closed

[2015-03-13 15:57] lnielsen commented on #2876
@jalavik I work the same way. I have local kwalitee git hooks installed (+editor warnings) to catch most stuff during development, but otherwise rely on CI service to do the final check.

[2015-03-13 16:08] jmartinm commented on #2876
I personally would go for Option 3 (maybe keeping as well Reviewed-by)

``Signed-off-by`` does not provide any given value as it is being used at the moment, as everybody is doing by default ``git commit -s`` without considering what the real meaning is.

I personally also test and do kwalitee locally and once I remove the ``WIP`` to the best of my knowledge, the branch is ready to go.

[2015-03-13 16:13] hachreak opened #2884 "search: Similar records link broken"
![link](https://cloud.githubusercontent.com/assets/377047/6642241/813ce374-c9a3-11e4-9f46-4002977aafa2.png)

If I click on `Similar records`, it returns this error:

[code]

In `invenio/legacy/search_engine/__init__.py` at line 521:

[code]

But, the rank_records definition is:

[code]

The name of variables is "encrypted".. T_T
So, I don't know how to fix the `rank_records` call.

[2015-03-16 07:19] lnielsen commented on #2876
@jmartinm If you were to keep ``Reviewed-by`` how would you use it? For crediting or as quality stamp? Just thinking that option 3 + keeping reviewed-by (as quality stamp) sounds more like a variant of option 2.

[2015-03-16 08:48] lnielsen opened #2885 "utils: deprecate invenio.utils.redis in favor of invenio.ext.cache"
Currently redis host must be set both with ``CACHE_REDIS_URL`` (invenio.ext.cache) and ``CFG_REDIS_HOSTS`` (invenio.utils.redis). This is confusing especially when redis is not running on localhost (which is the default value).

* ``CFG_REDIS_HOSTS`` comes from Invenio legacy code, and uses Nydus package with consistent hashing to spread load over several caches.
* ``CACHE_REDIS_URL`` uses Flask-C

[2015-03-16 08:53] kaplun opened #2886 "RFC Invenio Matcher (legacy BibMatch)"
BibMatch is a highly customizable Invenio legacy module that allows to check if a given record already exists in the system. This is of paramount importance in the context of a.g. a service such as INSPIRE where documents are aggregated from different sources and one desire to minimize the human effort in spotting record duplicates.

The implementation in Invenio legacy was mainly evolved as a set

[2015-03-16 09:00] kaplun commented on #2340
Note, in Invenio legacy for INSPIRE (PR still to be made) we ported BibCatalog to `python-rt`. That library is higher-level than python-rtkit and hence does more. However it looks like the library is unmaintained and had to locally patch it for INSPIRE. I offered to take over maintainance without an answer so far.

The library is GPL v3. I guess we can simply fork it, and maintain it locally.

[2015-03-16 09:01] lnielsen opened #2887 "multimedia: remove module specific cache"
The multimedia module does not makes use of ``invenio.ext.cache`` but instead uses it's own implementation:

https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/multimedia/api.py#L590

@drjova Will you have time to fix it?

[2015-03-16 09:02] lnielsen commented on #2887
Seems to only be a few calls that must be changed in ``restful.py``

[2015-03-16 09:04] drjova commented on #2887
@lnielsen yes, please assign me. Actually we should completely remove it and use the Flask-IIIF extension.

[2015-03-16 09:06] kaplun opened #2888 "RFC BibClassify in Invenio 2"
`BibClassify` is an Invenio legacy module that given some publication metadata (e.g. title and abstract) or directly a PDF, tries to extract the keywords of the document (matching a given static taxonomy). The current implementation is purely statistical. The keywords are typically used, e.g. in the context of INSPIRE, to aid catalogers understanding core documents from non core one.

Today, we ha

[2015-03-16 09:08] jirikuncar commented on #2113
ping @lnielsen with https://github.com/inveniosoftware/invenio/issues/2113#issuecomment-59894527

[2015-03-16 09:10] jmartinm commented on #2876
I was thinking about crediting. Reviewing takes a significant amount of time and effort so it is nice to have your name in the commit.

[2015-03-16 09:20] lnielsen commented on #2887
Great. Thanks a lot.

I think we can remove it without requiring deprecation since it's been in ``PACKAGES_EXCLUDE``.

/cc @jirikuncar

[2015-03-16 09:22] lnielsen commented on #2113
Let's close it? It's been in production long and I haven't discovered any issues. If I discover any problems, I'll open a new ticket and add required tests.

[2015-03-16 09:22] #2113 closed

[2015-03-16 09:23] jirikuncar commented on #2887
Please just keep `invenio/modules/multimedia/__init__.py` with active deprecation message.

[2015-03-16 09:32] drjova commented on #2887
:+1:

[2015-03-16 09:33] lnielsen commented on #2886
+1 The more we can rely on existing tools that we don't have to maintain the better.

Btw, deduplication in OpenAIRE https://blogs.openaire.eu/?p=116

[2015-03-16 09:50] lnielsen commented on #2888
Just my five cents:

I'm thinking there ought to be existing tools out there which we can used nowadays, and thus this module can be simplified to only dealing with the interface between Invenio and those tools?

Also, I see this module could be useful many different places in Invenio. E.g. in deposit it could be used to extract metadata.

Other properties besides keywords that could be very inter

[2015-03-16 09:53] kaplun commented on #2886
It's interesting to observe that in the case of OpenAIRE, they try to find *all* duplicates across the whole repository in a given time. Invenio has always privileged incremental algorithms and I believe for finding duplicates we can continue with this philosophy: upon new record ingestion (or modification), the change is checked against the whole database.

[2015-03-16 09:54] jalavik commented on #2886
+1 for simplicity and leveraging existing tools.

We would need to check if this will indeed solve the required use cases of fuzzy search and other special cases.

There was some substantial WIP done to port bibmatch to matcher module already, albeit following the existing schema (still native calls, not adapted to jsonalchemy). Possibly it can be merged if in good state (on me to do it) as an int

[2015-03-16 09:57] lnielsen commented on #2340
Just seeing this one now.

I would be great tickets module is not bound to a specific backend. E.g. besides RT, it would great if we could use say, CERN Service Now, UserVoice, GitHub or whatever issue system you like.

Also, I can imagine use cases where you would have multiple backends in the same instance.

@kaplun  Do INSPIRE have any plans to take stab on this module?

[2015-03-16 09:58] tiborsimko commented on #2876
Yes, the automated kwalitee run via CI plays an important role.  We seem to drift a bit from the original "social" use case towards "single-author" use case, but as this is tightly related indeed, let me answer in quite some detail.

I agree fully with your statement especially for smaller projects such as `Flask-Menu`, where we rely on CI green/red light for everything, because we have extensive

[2015-03-16 10:32] jirikuncar commented on #2210
Many problems has been fixed in #2223 and #2842.

[2015-03-16 10:32] #2210 closed

[2015-03-16 10:39] tiborsimko commented on #2876
Please note that the signatures are *already optional* and have *always been optional*; quoting from [our conventions](http://invenio-software.org/wiki/Tools/Git/Workflow#R2.Remarksoncommitlogmessages):

    The authors can use the following commit signature directives in order
    to highlight the quality of the patch at hand before requesting its
    review and merge [...]

    Here is the list

[2015-03-16 12:00] jalavik commented on #2876
Yep.

Right. It is true that as CI rely heavily on tests and our coverage is in the lows (15-20%?) coupled with some missing `kwalitee` features from `legacy`. This is an issue we have to address. However, I am still convinced that the "merge process" for future PR's to `master` is not reliant on the `Signed-off-by`.

In terms of submitting PR's to 2.0 this has in practice been *required*. cc @jir

[2015-03-16 12:02] MSusik commented on #2876
That was also my impression. In this case there was a difference between theory and practice.

[2015-03-16 12:09] jirikuncar commented on #2876
Yes, I asked every contributor to fix `kwalitee` issues and sign their commits whenever they are done. Unsigned commits raised a flag that I need to be extra careful with the commit as contributor probably hasn't read the `CONTRIBUTING.rst` guidelines or simply hasn't paid enough attention to the commit.

Recently I would say that all regular contributors are following the guidelines and the extra

[2015-03-16 12:13] jirikuncar commented on #2876
I would propose keeping current rules, but shorten and simplify all contributing rules.

1. simple checklist (max. 10 points);
2. extended version where each rule can be explained in more details;
3. `CONTRIBUTING.rst` should state that contributor agrees to donate his code under terms of Invenio licence and he agrees with new *code of conduct*.

[2015-03-16 13:02] tiborsimko commented on #2876
I see what you mean. When we agreed upon not only recommending PEP-8 and friends (as in `legacy`), but also requiring it (as in `master`), we also discussed making all the various kwalitee checks more or less mandatory... and signatures came along in the process.  Anyway, let's take this occasion and streamline both the docs and the practices.

Yes, exactly as in the `legacy` world, I found signat

[2015-03-16 13:26] lnielsen commented on #2874
I'll consider this RFC as accepted, since nobody complained so far and IRL discussions have agreed to it. I'll close it via commit message from PR #2873

[2015-03-16 13:29] kaplun commented on #2340
Yes, BibCatalog is indeed wrapping multiple engines (in principle), and this will stay (sorry if this seemed like RT-centric).

So as far as INSPIRE is concerned I guess it's in our interest to port it to master in the correct way, while still supporting at least the email engine and the RT engine.

[2015-03-16 14:36] glouppe commented on #2888
I agree that we should use/improve/contribute to existing machine learning libraries instead of writing our own.

That being said, it would be worth defining the scope of "bibclassify". From a machine learning point of view, extracting representative keywords is a quite different task from parsing metadata (== docextract?), which is itself quite different from guessing the subject of paper given m

[2015-03-16 15:18] kaplun commented on #2888
Sure. bibclassify is not about metadata extraction, but possibly about using available metadata (such as title and abstract which are very verbose) to be used instead of the PDF source.

[2015-03-16 20:09] PXke commented on #2888
Yeah I agree we should focus on bibclassify main task of extracting keywords.  Perhaps a RFC for an extractor could be good !

The main problem with the current bibclassify is that it needs a thesaurus. The main consequence is the complexity of getting it working on general purpose repository or with a repository hosting documents in different languages.

It would then be cool if the new bibclassi

[2015-03-16 20:22] PXke commented on #2886
Do you plan to create a  layer of abstraction in case someone would like to do something not fully dependant on elasticsearch function ?

I mean perhaps elasticsearch support fuzzy search, but perhaps some other way could be implemented.

[2015-03-16 20:40] PXke commented on #2876
So isn't the conclusion should be "write more tests and add more code analysis checks" ? (http://radon.readthedocs.org/en/latest/intro.html)

I agree with @jirikuncar, contributing rules should be short and succint ( Can be expanded dropdown style if needed) , otherwise it is like CGI .... not read.

Signed-off-by -> Doesn't bring more information (git blame)
Reported-by -> Doesn't add information

[2015-03-16 20:58] PXke commented on #2874
Sad, I just saw it but why SHA-2 ? I know that SHA-3 is young but SHA-1 has been compromised, SHA-2 is basically based on the same principle as SHA-1.

http://competitions.cr.yp.to/sha3.html

Password hashing :
https://password-hashing.net/timeline.html

It could be cool to always be on top of the art in terms of security solution.

[2015-03-16 21:11] kaplun commented on #2886
I am not sure about this...  In the end it becomes so thin... BibMatch could become a simple

[code]

one simple function call that behind calls in several pluggable ways elastic search. Indeed nothing prevents the plugins to call something different than elasticsearch...

[2015-03-16 21:17] PXke commented on #2886
Okay!

Could we before anything is implemented, do a recapitulation of :
What we want in I/O, what are the wished performances, options that the matcher should have, and use-cases in 2.0 ?

Thanks in advance.

[2015-03-16 21:22] PXke commented on #2854
There is some really good idea, that we will perhaps at TIND implements for master like the PDF preview, record preview.

But will we not loose all of the specificity of BibEdit ? I mean what it seems to be will be like in django the administration interface that can manipulate everything.

Currently we are adding librarian specific functionnalities to BibEdit, but if the editor become multi-roles

[2015-03-16 21:26] PXke commented on #2853
+1 Really good ! If possible it would be still cool if the specific INSPIRE modules could be avaiable separately for if needed plug them in an instance through an overlay.

[2015-03-16 22:07] PXke commented on #2845
:+1:  for the RFC !

[2015-03-16 22:08] kaplun commented on #2854
What are the specificities of BibEdit you think are going to miss? The proposed editor is going to adapt to the given schema, thus allowing the cataloguer to only enter valid metadata (up to the provided constraints).

Additional niceties such as shortcuts for reference extractions, PDF previewer etc. could be added in the form of simple widgets or block that are conditional on the type of documen

[2015-03-16 22:14] PXke commented on #2854
For example we have a check which print a flash message if someone entered an ISBN which is already existing. We have hint which popup depending of the tag of fields, if autocompletion is active for this field etc... shortcut indicators, what does the MARC tags means, we have complex autocompletion on authority, if you select and authority record for autocompletion we can copy some information fro

[2015-03-16 22:24] kaplun commented on #2854
So this editor is JSON based so it will not support MARC tags and indicators. These will have sense only as part as their importing into Invenio and the corresponding exporting.

On the other hand, yes, I plan to have fancy validator being possible. This JSON-Editor is fully pluggable, so one can add local tricks such as the proposed ISBN one. Hints for sure! Autocompletion for sure.

Have a look

[2015-03-16 22:26] kaplun commented on #2854
Note that on the other hand, if you decide to stay fully on MARC as internal format, BibEdit is still there. AFAIK @jmartinm managed to fix the small glitches needed to make it work on Invenio 2

[2015-03-16 22:32] kaplun commented on #2875
I just read this only now! Any way :+1:

[2015-03-16 22:37] PXke commented on #2854
Okay so that is good news.

In another hand, are we agree that from the title of the RFC we are discussing of BibEdit, that will be replaced by JSON Schema-based record editor. (That I start to doubt if @jmartinm  kept it alive).

And that BibEdit is manipulating records, that are composed of MARC fields, so it is a bit strange to say that it will not support them.

I looked at the demo and even i

[2015-03-16 22:41] jirikuncar commented on #2854
We are going to provide (almost) 1:1 mapping between MARC and JSON in https://github.com/inveniosoftware/jsonalchemy/pull/9.

Once you have a both directional mapping it's pretty straight-forward to support (almost) full MARC21 standard.

[2015-03-16 22:54] PXke commented on #2854
Okay so it makes sense ! The architecture is interesting.

But from the demo I still don't really see how will be the user-case "modify a record" (let say 100__a [Marc author field]), from the moment the guy click on the edit this record to the action completed.

I mean how will the modification interfaces will be, what will be the different steps etc.

Thanks for you answers !

[2015-03-17 00:06] PXke commented on #2781
https://github.com/select2/select2/issues/2946

Can someone take a look ?

[2015-03-17 07:47] jirikuncar commented on #2781
@PXke it isn't released yet, is it?

[2015-03-17 08:47] blixhavn opened #2891 "records: 500 error when record does not exist"
When trying to access a rec_ID that does not exist, one should get a pretty 404 message instead of a 500 error. This is probably due to [`guess_primary_collection_of_a_record`](https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/records/views.py#L66) being called before checking whether the [`record_exists`](https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/

[2015-03-17 08:53] lnielsen commented on #2891
FYI, see the PR I just reference. I think it will fix the problem.

[2015-03-17 09:22] PXke commented on #2781
@jirikuncar to be honest I don't know how the release process does work. But two days ago it is has been tagged 4.0.0-rc2, so I imagine that perhaps it did.

[2015-03-17 09:26] lnielsen commented on #2874
Firstly, the RFC makes sure that we can use any hashing algorithm in the future and automatically migrate existing hashes. Hence, you just need implement your SHA3 hasher , and then we can support SHA3.

I.e. we'll always be on top of the latest hashing solution :-)

Simply because passlib does not support it. See https://code.google.com/p/passlib/issues/detail?id=42
Argument is that it's easier t

[2015-03-17 09:27] blixhavn commented on #2891
See https://github.com/inveniosoftware/invenio/pull/2873/files#r26558445

[2015-03-17 10:09] PXke commented on #2874
Okay, it makes sense. Thanks for the answer.

[2015-03-17 10:09] ksachs commented on #2886
Could we collect a few points from catalogers (=humans) what works best for matching? I.e what is a fuzzy titel or author search?

[2015-03-17 13:18] jirikuncar commented on #1853
- [ ] use only `url_for` in templates
- [ ] migrate `bfe`s

[2015-03-17 13:22] jirikuncar commented on #1835
Should be done in new *JSONAlchemy* package.

[2015-03-17 13:22] #1835 closed

[2015-03-17 13:36] jirikuncar commented on #2446
Fixed in 1f43d449.

[2015-03-17 13:36] #2446 closed

[2015-03-17 13:40] #1613 closed

[2015-03-17 14:56] jirikuncar commented on #1986
Fixed in dc2b479e2e28668f4686cce4fddf0c137eb31527.

[2015-03-17 15:04] lovasko commented on #2876
How can I get "Co-authored-by" from the "git blame" output?

[2015-03-17 15:18] #1986 closed

[2015-03-17 16:02] Dziolas opened #2895 "RFC: reporting module"
The idea for a reporting module come from a couple of use cases that I have for SCOAP3. The main principle would be to have plugin based module for periodical/on event generation of "reports". Reports could be:
- stored (for a future reference) or send to specified email addresses,
- in a different formats: email, PDF, CSV etc.,
- they could be triggered periodically (every day/week etc) or on eve

[2015-03-17 16:58] lnielsen commented on #2895
Yes, it likely goes hand in hand with data collection. Usually I think you want to run a query and store the number. I had something in mind for the data collection.

[2015-03-17 18:04] PXke commented on #2876
You can't ! My bad, wrote it too fast.In case of peer programming there is no other way than adding it. Otherwise if a rebase overwrite authorship it is whatever, bad.

[2015-03-17 22:17] PXke commented on #2895
Just to know, Do you plan to base it on the statistics module or make it  fully independent  ?

[2015-03-18 08:01] Dziolas commented on #2895
@lnielsen I'm not sure if i know what are the data collections? What do you mean by them?
@PXke I was thinking about something independent that could communicate with other modules to get and receive data (except from plugins) - it might be handy to just use some function from reporting module to generate a pdf with results of some task and then automatically send it email address (report would st

[2015-03-18 10:55] hachreak commented on #2351
It seems that it was not implemented in SQLAlchemy: https://bitbucket.org/zzzeek/sqlalchemy/issue/3319/postgresql-enum-not-automatically-dropped
Maybe in next release of SQLAlchemy, we'll be able of automatically close this issue.. :D

[2015-03-18 15:00] tiborsimko commented on #2876
Depending on the code editor, this should not be too far away from people's fingertips.  For example, in Emacs, when you visit a file, you can annotate it via `C-x v g`, and then on an interesting line press `l` to bring a pop-up with full commit message, including signatures.  (Another option is to use `magit-blame-mode` where the full commit message is also just a keypress away.)

[2015-03-18 15:11] lovasko commented on #2876
There is no objection against `Co-authored-by` and `Reported-by` as they help to overcome a built-in git limitations. `Signed-off-by` comes from Linux kernel era when patches were/are sent around, which is _not_ our case. The more we simplify the commit message, merging process and engineering bureaucracy, the more contributions will emerge, thus helping us to be a _real_ open-source project, and

[2015-03-18 15:20] lovasko commented on #2876
This does not apply to the question. You are speaking about an Emacs function, not a git blame information. Therefore, `Co-authored-by` is a valid signature that we should keep (as optional, of course), but I feel that you are agreeing with me on this one.

[2015-03-18 16:54] gholman opened #2902 "Collection names with special characters may crash webcoll"
I have a collection name with a forward slash '/' as in "DOE/NSF Reviews"
When I run webcoll, webcoll will hang/timeout when attempting to cache this collection.

System details:
* Invenio version:  1.2.0
* Python version: 2.7.3 (default, Mar 13 2014, 11:03:55)  [GCC 4.7.2]
* Apache version: Apache/2.2.22 (Debian) [/usr/sbin/apache2]
* MySQLdb version: 1.2.5
* MySQL version: 5.5.41-0+wheezy1

Step

[2015-03-18 17:55] tiborsimko commented on #2876
The goal behind our QA practices is not the red tape; it is to make the final product more robust.

Yes, we fully agree on this one; we probably disagree about the usefulness of (optional) Tested-by/Reviewed-by signatures.

My point about `git blame` was the following.  I presume that people don't really use `git blame` in its "raw" state, but rather through their code editors.  (If not, then they

[2015-03-18 19:53] jirikuncar commented on #2876
Now the https://github.com/inveniosoftware/invenio/issues/2876#issuecomment-81612605 is starting to make more sense with #2900. We should also try to simplify the [`CONTRIBUTING`](https://github.com/inveniosoftware/invenio/blob/master/CONTRIBUTING.rst) guidelines.

[2015-03-18 21:41] kaplun opened #2904 "search: broken display for facets"
The following URL:
http://localhost:4000/search?p=ellis&action_search=&filter=%5B%5B%22%2B%22%2C%22author%22%2C%22Ellis%2C+J%22%5D%2C%5B%22%2B%22%2C%22collection%22%2C%22Articles+%26+Preprints%22%5D%2C%5B%22%21%22%2C%22collection%22%2C%22Articles+%26+Preprints%22%5D%2C%5B%22%2B%22%2C%22year%22%2C%222002%22%5D%5D&ln=en&so=a&sf=most+cited#[["+","author","Ellis, J"],["+","collection","Articles & Prep

[2015-03-19 08:19] #2868 closed

[2015-03-19 16:14] tiborsimko commented on #2876
Yes, this will come as part of #1799.  After we gather existing scattered documentation in the consistent set of reST pages, the simplification and interlinking will be able to follow more easily.

[2015-03-20 06:41] tiborsimko commented on #2876
To make this very explicit, I mentioned [above](https://github.com/inveniosoftware/invenio/issues/2876#issuecomment-81554107) in detail why QA signatures were introduced and why they are still interesting for Invenio, as opposed to say Flask-Menu, where we could in theory replace QA signatures with a rule like:

- A branch is not considered for merge unless it preserves or increases the code cover

[2015-03-20 08:44] PXke commented on #2876
:+1:

[2015-03-20 10:10] kaplun opened #2909 "BibIndex: non existing INDEX-SYNONYM-TITLE"
In the BibIndex admin interface, for the global and title indexes a default synonym expansion is configured called "INDEX-SYNONYM-TITLE". However no corresponding knowledge base does exist.

[2015-03-20 10:59] tiborsimko commented on #2622
Note that some other modules need amendments as a result, for example:

[code]

[2015-03-20 11:01] hachreak opened #2910 "installation: `inveniomanage assets build` fails"
Recently travis returns always a build fails:

`The command "inveniomanage assets build" failed and exited with 2 durin`

Assets build fails example:

https://s3.amazonaws.com/archive.travis-ci.org/jobs/55038081/log.txt

[code]

The problem is inside latest version of `jQuery-Timepicker-Addon`:

There you can see that it added jquery.ui as requirement: https://github.com/trentrichardson/jQuery-Tim

[2015-03-20 12:37] #2910 closed

[2015-03-20 12:44] egabancho commented on #2876
:+1:

[2015-03-20 13:28] lovasko commented on #2876
:+1:

I feel like we have actually managed to get to the real problem. Is there some specific plan on this?

[2015-03-20 13:33] lovasko opened #2913 "RFC Nginx and others"
The topic of replacing Apache with Nginx or other possible WSGI serving techniques came up during the talk "Apache configuration" delivered by @dset0x and me few Mondays ago. We have not advanced much in this regard and to do so, there are some questions to be asked:

1) Is there some current issue with Apache?
2) Is there some bonus feature we can gain by employing the Apache alternatives that we

[2015-03-20 13:43] jirikuncar commented on #2913
`s/replacing Apache with/supporting not only Apache but also/`

[2015-03-20 13:45] lovasko commented on #2913
@jirikuncar that is a valid remark, thanks :) but still, the questions asked are valid

[2015-03-20 13:47] jirikuncar commented on #2913
It looks like there is since #2645 has been created.

[2015-03-20 13:50] lovasko commented on #2913
The generator of the configuration was in a bad shape. That has been worked on and fixed. But the Apache technology itself has nothing to do with buggy Invenio code. So from the point of the #2645 issue there is nothing wrong with Apache.

[2015-03-20 13:52] jirikuncar commented on #2913
Can you please mention reported issues? Thank you

[2015-03-20 13:53] lovasko commented on #2913
#2626 which will be fixed by #2645

[2015-03-20 14:51] jirikuncar commented on #2470
@jmartinm is it still broken? Maybe @lovasko and @dset0x can check that it works with #2645.

[2015-03-20 14:55] jmartinm commented on #2470
Yes, on our labs site https://labs.inspirehep.net/admin I can still reproduce the problem. Accessing admin without trailing slash gives me:

[code]

[2015-03-20 15:16] kaplun commented on #2913
I guess in the short term we are all happy with simply keep on using Apache, since the computation is mainly in the Python part of Invenio. Support fo Ngnix is a nice to have functionality that is simply not urgent now.

I assume you meant *bugs into Invenio code* :wink: .

[2015-03-20 15:17] lovasko commented on #2913
yes, thank you.

[2015-03-20 15:58] kaplun commented on #2470
@jirikuncar the issue needs to be fixed into the `pages` module which creates several files:
`filters-1.0.0.js  form-1.0.0.js`.

There is also a strange `rediscli-1.0.0.js` that we can't figure out the real usage. Possibly Flask Admin? @hachreak, maybe you know a bit more?

[2015-03-20 16:59] MSusik commented on #2876
:+1:, but what about PRs that don't contain `Python` code? For example purely `js` PRs?

[2015-03-22 12:06] bouzlibop commented on #2876
I'm not sure if I fully understand current state of this RFC. Does it mean that we are getting rid of all signatures besides `Co-authored-by` (optionally) and as a compensation we will try to work on our test suite?

---

Isn't that the same applies here for `js` - enriching our test suite? (see: [jasmine ext](https://github.com/inveniosoftware/invenio/blob/master/invenio/ext/jasmine/__init__.py#L

[2015-03-23 06:52] audub commented on #2913
Even though Nginx support is not urgent, I see a potential for running Invenio more efficiently. Nginx is known to consume far less resources than Apache. Which will reduce the cost of running invenio instances. So even though it is not urgent, I think it is a nice topic to focus on.

[2015-03-23 08:24] MSusik commented on #2876
I agree, but is there a way to make `coverage` check both `Python` and `js` code?

[2015-03-23 08:33] jirikuncar commented on #2876
e.g. http://blanketjs.org/

[2015-03-23 12:56] #2776 closed

[2015-03-23 13:47] dset0x commented on #2856
I may have missed what were the final reactions about `INVALIDATES` in the comments above. What is the final verdict about it?

[2015-03-23 17:00] jirikuncar commented on #204
closed via #2587

[2015-03-23 17:00] #204 closed

[2015-03-23 17:03] jirikuncar commented on #239
see http://invenio.readthedocs.org/en/latest/

[2015-03-23 17:03] #239 closed

[2015-03-23 17:12] jirikuncar commented on #266
Invenio is now on GitHub: https://github.com/inveniosoftware/invenio/issues

[2015-03-23 17:12] #266 closed

[2015-03-23 17:13] jirikuncar commented on #273
@kaplun is it still applicable on latest INSPIRE?

[2015-03-23 17:18] jirikuncar commented on #662
@bouzlibop is it related to the work you have done for Zenodo BibTex formats?

[2015-03-23 17:19] jirikuncar commented on #297
@jalavik do we want to tackle this issue for 2.1?

[2015-03-23 17:21] jirikuncar commented on #308
@egabancho @switowski is it still relevant to CDS?

[2015-03-23 17:23] jirikuncar commented on #333
Not applicable to 2.x branch. Re-open if needed for 1.x.

[2015-03-23 17:23] #333 closed

[2015-03-23 17:28] jirikuncar commented on #1525
We can solve it on per-case basis. In `get_table_update_time` it can raise an exception.

[2015-03-23 17:28] #1525 closed

[2015-03-23 17:31] jirikuncar commented on #1463
@jmartinm is it doable or we will solve it in new JSON based editor?

[2015-03-23 17:34] jirikuncar commented on #1413
We could also source an external calendar (iCal) with holidays.

[2015-03-23 17:36] jirikuncar commented on #1414
@egabancho @switowski can you confirm if it's still reproducible?

[2015-03-23 17:37] jirikuncar commented on #1423
Not needed in 2.x. Please re-open if needed for 1.x.

[2015-03-23 17:37] #1423 closed

[2015-03-23 19:31] jirikuncar commented on #1061
We can probably replace it by *Flask-IIIF* and proper caching.

[2015-03-23 19:34] jirikuncar commented on #1051
@kaplun Can you please have a look what (/if something) needs to be done to make it work with new search engine?

[2015-03-23 19:35] jirikuncar commented on #1024
Solved in 2.0.0. Please re-open if you need it in 1.x.

[2015-03-23 19:35] #1024 closed

[2015-03-23 19:37] jirikuncar commented on #1011
@kaplun is it still relevant for INSPIRE or has to be done something in Invenio core?

[2015-03-23 19:39] drjova commented on #1061
:+1:

[2015-03-23 19:45] jirikuncar commented on #1025
@kaplun do you know if anybody is using this feature since we have *werkzeug* in Invenio 2.0?

[2015-03-23 19:53] jirikuncar commented on #1007
related also to notifications from #2622

[2015-03-23 19:57] jirikuncar commented on #1008
@kasioumis do you have a backup of the previous work or mock-ups?

[2015-03-23 20:00] jirikuncar commented on #1009
What about restricted records?

Anyway modern browsers offer page translation. Do we need it inside Invenio core?

[2015-03-23 20:02] jirikuncar commented on #1044
@hachreak can you confirm that it has been solved in 2.0?

[2015-03-23 20:04] jirikuncar commented on #1034
KBs should not be cached per process. If *Flask-Cache* (Redis) is used the cache cleaning can be triggered by *SQLAlchemy* signal `after_model_updated` on KB tables.

[2015-03-23 20:05] jirikuncar commented on #1034
@kaplun is the caching still needed for any reason?

[2015-03-23 20:06] jirikuncar commented on #1035
@kaplun please close if it has been really fixed (see https://github.com/inveniosoftware/invenio/issues/1035#issuecomment-41860624).

[2015-03-23 20:08] jirikuncar commented on #1039
For *Invenio 2.x* we should display warning on top of every page if JavaScript is disabled.

[2015-03-23 20:12] Osso commented on #1034
docextract iterates through all the entries of the journals abbreviations which about 11k entries. The problem comes from the time is takes to compile a regexp for each entry.

At the time, we looked at caching the compiled regexp (which is possible but a bit hackish) or using non regexp search (which may be best) but atm the regexp is cached in the process memory.

[2015-03-23 20:12] jirikuncar commented on #301
Overlays can customize the templates showing these output formats to fit their users.

[2015-03-23 20:12] #301 closed

[2015-03-23 20:23] jirikuncar commented on #1034
Is `docextract` run as part of user request?

This might be a problem for `re` module itself. There is IMHO a limit on some systems (e.g. OS X) on how big the normal regular expression can be.

[2015-03-23 20:26] Osso commented on #1034
It's 11k separate regexps.
There's a tool that runs it as part of user request indeed (but I forgot the url).

[2015-03-23 20:30] jirikuncar commented on #1034
[esmre](https://pypi.python.org/pypi/esmre) might be useful here.

[2015-03-23 20:32] Osso commented on #1034
It's so cool!

[2015-03-23 20:33] jirikuncar commented on #515
Do we need the feature by default or we let overlays to implement it in case they need it?

[2015-03-23 20:39] jirikuncar commented on #440
@switowski @egabancho is it still needed?

[2015-03-23 21:28] jalavik commented on #273
@jirikuncar I believe this is safe to close. Most issues have been sorted and/or going to be addressed with the new formatter.

[2015-03-23 21:28] #273 closed

[2015-03-23 21:32] jalavik commented on #297
@jirikuncar Possibly, but not it may not make it depending on how many other issues pop up.

On the subject of the issue, I feel that this is probably something can can be tailored to the users locale automatically, or?

[2015-03-23 21:35] jalavik commented on #1067
@jirikuncar I will check if this is still an issue and how the parser handles it. I guess it is safe to assume that colon expressions without a value can be ignored/treated as part of the value?

[2015-03-23 22:26] kaplun commented on #1009
@jirikuncar the beauty of this branch was to carefully tag the snippets that needed translation (mainly from the metadata of the records). In this way you can have your site natively translated to e.g. Italian, and have the detailed record translated on the fly by Google in Italian.

However I don´t know if that implementation supported not exposing restricted records.

[2015-03-23 22:29] #1035 closed

[2015-03-23 22:30] kaplun commented on #515
Are there still portalboxes in Invenio 2? Wasn't this delegated to some template per collection?

[2015-03-23 22:38] jirikuncar commented on #515
The portalboxes are still there for "user"/"admin" defined content. One can create custom collection template that will render their content also on search results page.

[2015-03-23 22:40] jirikuncar commented on #1009
@kaplun do you have a backup of that branch that can be ported to 2.x?

[2015-03-23 22:42] jirikuncar commented on #297
I think so too. Plus *Babel* can help us here a lot.

--
Anyway, it has a minor priority so in case we don't have time we can postpone it.

[2015-03-23 23:10] jirikuncar commented on #1067
I'm not an expert in Invenio/SPIRES syntax but I would expect following:

[code]

[2015-03-24 07:20] jmartinm opened #2921 "assets: error on bundle rebuild"
Unfortunately the following commit https://github.com/inveniosoftware/invenio/commit/d4464450e81a6192360fdc0d24bfcda3da7ce145 introduced  a fix, but also a problem.

While working with ``less`` in the last days, I saw that when a bundle needed to be rebuild (because of a file was updated) after a page refresh the following error was being thrown:

[code]

And the problem appears here https://githu

[2015-03-24 09:02] bouzlibop commented on #662
I've done some work in regards to BibTeX, which is now working in Zenodo. See [this](https://github.com/zenodo/zenodo/blob/master/zenodo/base/utils/bibtex.py).

Nonetheless I'm not sure if it is sufficient when it comes about things discussed here. Some limitations of this above mentioned BibTeX formatter are eg. not being able to distinguish between phdthesis and masterthesis and then the philoso

[2015-03-24 09:35] jirikuncar commented on #2921
It works with `copy` instead of `deepcopy`. @jmartinm can you confirm?

[2015-03-24 09:47] lnielsen commented on #2913
@lovasko Apache does the job, so being independent is not urgent. However as @jirikuncar mentions it's desirable to be independent of the frontend so that we are not bound to hard to any particular product.

[2015-03-24 09:51] lnielsen commented on #2895
Data collection I think is what you call generate data.

[2015-03-24 09:52] jmartinm commented on #2921
I actually think we could simplify the code. Having ``less.js`` in the browser has no use as far I can see.

This is a simplified version that works for me:

https://github.com/jmartinm/invenio/commit/5b9ef704292eb47652b6cc264580b8109b64243c

With this, in development mode, if I change any ``less`` file affected by the bundle they get recompiled on  page refresh and my changes immediately visible.

[2015-03-24 10:56] pedrogaudencio commented on #2570
Hey @hachreak, sorry for the delay replying, I've been on holidays. Sure I'll close it, thank you for the help! ;)

[2015-03-24 10:56] #2570 closed

[2015-03-24 10:57] jmartinm opened #2923 "assets: enable less source maps"
Following up on https://github.com/inveniosoftware/invenio/issues/2921 I have come to the conclusion that our extension code could be simplified by dropping support for ``LESS_RUN_IN_DEBUG``.

This would avoid, for instance, the following 'hack' that needed to be introduced https://github.com/inveniosoftware/invenio/pull/2922/files#diff-dc717d85d0b109c334416b4b5a305f8cR136

What this variable does

[2015-03-24 11:53] lovasko commented on #2913
@lnielsen could you explain more about the front-end please?

[2015-03-24 12:40] #2921 closed

[2015-03-24 12:46] drjova commented on #2887
WIP #2924

[2015-03-24 13:17] jacquerie commented on #2923
+1 on all three points (is that a +3?). Even the author of `less.js` agrees on client side compilation: https://github.com/less/less.js/issues/1541#issuecomment-42751132.

[2015-03-24 14:04] lnielsen commented on #2923
Personally I never used ``LESS_RUN_IN_DEBUG=True`` so I'm fine with the change if it implies the code.

[2015-03-24 14:12] #1039 closed

[2015-03-24 14:24] jirikuncar commented on #2923
@drjova @egabancho can we proceed with removing support for `LESS_RUN_IN_DEBUG` in 2.1?

[2015-03-24 14:28] drjova commented on #2923
:+1:

[2015-03-24 15:23] switowski commented on #440
@jirikuncar it seems like this function is no longer used anywhere on CDS (@egabancho can you confirm), so we can close this issue and possibly remove the function if no one else is using it.

[2015-03-24 15:26] #2429 closed

[2015-03-24 15:30] egabancho commented on #440
I think this function is not used on CDS (at least in the past few years), we use custom functions for all the approval workflows.

Probably this was Invenio oriented rather than CDS centric.

[2015-03-24 15:32] jirikuncar commented on #440
We can close it as nobody needs it in 1.x.

[2015-03-24 15:32] #440 closed

[2015-03-24 15:34] switowski commented on #308
@jirikuncar the problem still exists on CDS

[2015-03-24 15:57] jirikuncar commented on #265
Can't reproduce.

[2015-03-24 15:57] #265 closed

[2015-03-24 16:03] jirikuncar commented on #281
`(` can't be before binary operator `OR`,`|`

--
- `'(ellis -muon | kaon)'` works well `OrOp(AndOp(ValueQuery(Value('ellis')), NotOp(ValueQuery(Value('muon')))), ValueQuery(Value('kaon')))`
- `'(ellis -muon (|kaon))'` gets interpreted as `AndOp(AndOp(ValueQuery(Value('ellis')), NotOp(ValueQuery(Value('muon')))), ValueQuery(Value('|kaon')))`

[2015-03-24 16:03] #281 closed

[2015-03-24 16:07] jirikuncar commented on #354
Search cache is stored in Redis with a timeout in 2.x. Please re-open if needed for 1.x.

[2015-03-24 16:07] #354 closed

[2015-03-24 16:13] jirikuncar commented on #453
`'(U(1) OR SL(2,Z))'` is corretly parsed as `OrOp(ValueQuery(Value('U(1)')), ValueQuery(Value('SL(2,Z)')))`

[2015-03-24 16:13] #453 closed

[2015-03-24 16:14] jirikuncar commented on #326
@kaplun has it been already fixed?

[2015-03-24 16:15] jirikuncar commented on #355
@kaplun It looks like INSPIRE related. Please close it if nothing has to be done on Invenio site.

[2015-03-24 16:18] jirikuncar commented on #364
Functionality has been moved to [Invenio-Client](https://github.com/inveniosoftware/invenio-client/blob/master/invenio_client/connector.py) package. Please re-open the issue there.

[2015-03-24 16:18] #364 closed

[2015-03-24 21:21] lnielsen commented on #1025
+1 for removing. I don't think it's relevant anymore with werkzeug, ipdb and the development server.

[2015-03-24 21:46] #355 closed

[2015-03-25 09:20] jmartinm opened #2931 "search: SyntaxError with colon search"
The following search:

[code]

which is being used [here](https://github.com/inveniosoftware/invenio/blob/master/invenio/ext/arxiv/__init__.py#L161) breaks the search engine:

https://gist.github.com/anonymous/cf4a997848a64c95ec2b

[2015-03-25 10:18] switowski commented on #308
I have create a Jira ticket for this issue: https://its.cern.ch/jira/browse/CDS-672

[2015-03-25 10:20] switowski commented on #1414
@jirikuncar I can't reproduce it on CDS (every logged in user has access to some submissions), I have created a Jira issue for that: https://its.cern.ch/jira/browse/CDS-673

[2015-03-25 13:19] egabancho opened #2936 "OAIHarvest: stuck when trying to harvest"
For some estrange reason after deploying 3d60603e08d0a4e95e79d70d37bf9107531be30a on CDS, specially the modification done on `modules/oaiharvest/lib/oai_harvest_getter.py`, OAIHarvest gets stuck on `source arXiv is going to be updated`.

There is no error on the logs or any kind of output.

cc @aw-bib

[2015-03-25 14:09] #2690 closed

[2015-03-25 14:09] #2781 closed

[2015-03-25 14:21] jirikuncar commented on #2075
Should the correct milestone be `1.2.x` or `1.x`? In Invenio 2 we should wait to new pythonic JSONAlchemy coming in `~2.2`.

[2015-03-25 15:57] jmartinm opened #2940 "search: wrong collection triggers file download in browser"
How to reproduce
==============

With Invenio demosite and Invenio both on master branch, perform a search like:

[code]

The 'wrong' ``cc`` parameter makes the browser download a binary file.

BTW, how to create a new collection? on my overlay I created a new one (it is inserted correctly in the ``collection`` table) but I am still seeing this behaviour. That's how I discovered this bug.

[2015-03-25 16:13] jirikuncar commented on #2940
I'm changing the milestone to 2.1 then.

[2015-03-25 17:30] #2559 closed

[2015-03-25 21:35] jirikuncar commented on #1586
This has been already solved by @hachreak and @bouzlibop for `2.x`.

@BessemAamira if you have a solution for `1.x` you can submit PR for `legacy` branch. Thank you

[2015-03-25 21:44] jirikuncar commented on #536
This is CDS specific and probably it should go to the overlay.

--
cc @egabancho @kasioumis

[2015-03-25 21:46] jirikuncar commented on #503
`p[1-3]`, `f[1-3]` arguments are being deprecated in 2.x.

[2015-03-25 21:46] #503 closed

[2015-03-25 21:50] jirikuncar commented on #501
I'm closing this issue as it's service/overlay specific.

[2015-03-25 21:50] #501 closed

[2015-03-25 21:52] jirikuncar commented on #490
Superseded by `deposit` module and *PLUpload* supporting file chunks.

[2015-03-25 21:52] #490 closed

[2015-03-25 21:54] jirikuncar commented on #479
@kasioumis @egabancho @switowski is it still valid?

[2015-03-25 21:57] jirikuncar commented on #455
@kaplun has there been any progress with custom tokenizers for `bibindex` supporting mentioned characters?

[2015-03-25 21:59] jirikuncar commented on #663
Sphinx and `rst` has been chosen.

See auto-generated docs here: http://invenio.readthedocs.org

[2015-03-25 21:59] #663 closed

[2015-03-25 22:02] jirikuncar commented on #639
@kaplun @kasioumis is there something what needs to be done in Invenio itself to solve this issue?

[2015-03-25 22:05] jirikuncar commented on #612
@kaplun @egabancho @jalavik it seems that it's going to be superseded by `workflows` and `celery` tasks, am I right?

[2015-03-25 22:07] jirikuncar commented on #564
`bfe`s are being deprecated and new formatter engine is using Jinja2.

--
PS: Unfortunately the patch hasn't been migrated from Trac.

[2015-03-25 22:07] #564 closed

[2015-03-25 22:18] jirikuncar commented on #788
Similar feature is possible new `deposit` module. See example workflow in `zenodo` overlay.

--
PS: @jmartinm is there any progress in `BibEdit` with this issue?

[2015-03-25 22:19] jirikuncar commented on #776
Deprecated in `2.x` and replaced by *Flask-Admin* with full i18n support.

[2015-03-25 22:19] #776 closed

[2015-03-25 22:22] jirikuncar commented on #766
@dset0x can you have a look if the ssl directive is in correct place in new Apache config created in #2645?

[2015-03-25 22:24] jirikuncar commented on #755
@tiborsimko @jalavik shall we make an RFC from this issue?

[2015-03-25 22:28] jirikuncar commented on #728
This has been already done in `2.1`.

[2015-03-25 22:31] jirikuncar commented on #720
Each output format can have it's own content type set in `2.1`.

[2015-03-25 22:31] #720 closed

[2015-03-25 22:34] jirikuncar commented on #704
Invenio 2.0+ can be installed in separate virtual environments.

--
There is also a trick for 1.x versions if you need it.

[2015-03-25 22:34] #704 closed

[2015-03-25 22:56] jirikuncar commented on #697
@glouppe is there any plan to include *institution* pages while working on *author* pages?

[2015-03-25 22:58] jirikuncar commented on #926
I'm not sure if this is really an Invenio job. I will focus on separating storage backends.

[2015-03-25 22:58] #926 closed

[2015-03-25 23:00] jirikuncar commented on #931
IMHO nowadays HTTPS speed is not an issue. Moreover, I would be in favor of serving HTTPS **only**.

[2015-03-25 23:03] jirikuncar commented on #930
In 2.x we are using urls without `CFG_SITE(_SECURE)_URL` generated by `flask.url_for`. Rewriting whole response data can be very costly and should be avoided.

[2015-03-25 23:12] jirikuncar commented on #861
It works with `invenio_query_parser`:
[code]
even with parenthesis:
[code]

[2015-03-25 23:14] jirikuncar commented on #875
What about getting DOIs from @zenodo?

[2015-03-25 23:16] jirikuncar commented on #877
It should probably go to `invenio-query-parser` package.

[2015-03-25 23:24] jirikuncar commented on #1083
@lnielsen this is something we might want to have a look at for allowing users to change their email addresses.

[2015-03-25 23:29] jalavik commented on #931
+1 on HTTPS only

[2015-03-25 23:37] jalavik commented on #612
Indeed workflows and celery will do this nicely.

[2015-03-25 23:42] jalavik commented on #490
I guess this use case was meant for the back end when uploading  huge MARCXML file. On the other hand the user could simply chunk this himself or that we in the new `uploader` stream the input into workflows.

[2015-03-26 06:52] lnielsen commented on #490
@jalavik Yep, agree. User can chunk it themselves, and actually ``invenio.legacy.bibupload.utils:bibupload_record()`` will do the chunking for you.

[2015-03-26 06:53] glouppe commented on #697
While working on authors, not directly.

But this is clearly something we will do eventually within Inspire. Once the author logic will be implemented, having similar mechanisms for institutions should be straightforward.

[2015-03-26 06:53] #612 closed

[2015-03-26 06:54] lnielsen commented on #931
+1 for HTTPS only. It would honestly make life easier.

[2015-03-26 06:59] lnielsen commented on #1083
I'm thinking we can just replace occurrences of:

[code]

with :

[code]

Shouldn't that do the job?

I've already done this for some of variables in #2873

[2015-03-26 07:00] lnielsen commented on #1083
By the way is external authentication replaced by Flask-SSO and oauthclient?

[2015-03-26 07:01] lnielsen commented on #877
is it really needed? Isn't it something that can be customised by an overlay if they so desire?

[2015-03-26 07:03] lnielsen commented on #875
I would close this issue as it is kind of a metaissue like "improve documentation"? If someone has the time and wants to write the paper they can reopen the ticket or create a new one.

[2015-03-26 07:05] lnielsen commented on #930
-1 from me. The links should be correct from the beginning, and not automatically fixed up. Also, let's go for HTTPS only (re. #931 )

[2015-03-26 07:07] lnielsen commented on #926
@jirikuncar Agree.

[2015-03-26 07:08] jirikuncar commented on #930
Shall we use everywhere 'url_for(..., _external=True)'?

[2015-03-26 07:08] lnielsen commented on #697
Should we move the issue to Inspire?

[2015-03-26 07:12] jirikuncar commented on #877
Yes, it will go to invenio_query_parse.contrib.sprires. It's here until @jalavik moves it to new package.

[2015-03-26 07:14] jirikuncar commented on #697
It's fine here. We can create new 'institutions' module similar to 'authors' that can be enabled/disabled independently.

[2015-03-26 07:43] tiborsimko commented on #704
For the record, Invenio 1.x also runs well in separate virtual environments.  One can use [invenio-initialise-virtualenv](https://github.com/tiborsimko/invenio-devscripts/blob/master/invenio-initialise-virtualenv) helper script to kick start things:

[code]

[2015-03-26 07:52] tiborsimko commented on #875
Yes, this is a meta issue that we don't need to have open in the issue tracker.

[2015-03-26 07:52] #875 closed

[2015-03-26 07:57] tiborsimko commented on #931
Seems timely to switch to serving HTTPS only, though we should beware of possible API use cases in various installations.  Changed topic to RFC that we can advertise more widely in our user community (e.g. mailing list).

[2015-03-26 08:00] tiborsimko commented on #877
This was needed for the INSPIRE service, so that original SPIRES query syntax would be fully respected.  It's possible that the priority has decreased with time.  CC @kaplun.   And :+1:  for closing it here and moving the task, if needed, to `invenio-query-parser` project.

[2015-03-26 08:01] tiborsimko commented on #930
Closing as superseeded by RFC #931.

[2015-03-26 08:01] #930 closed

[2015-03-26 08:16] tiborsimko commented on #364
(No need to reopen there, this was tackled otherwise in the meantime.)

[2015-03-26 08:23] tiborsimko commented on #697
We already have this in Invenio by means of the authority records.  Check `/collection/Institutes` page on the Invenio demo site.  The institute page shows preceding institutes, superseeding institutes, and the list of dependent records.  The display can be modified via formatting templates to suit each concrete installation. I'm therefore closing this issue here in Invenio.

[2015-03-26 08:23] #697 closed

[2015-03-26 08:23] kaplun commented on #536
Nope. The issue was precisely not to make it CDS specific, rather Invenio specific. The thing is that LibX toolbars can be cloned, so, by providing an Invenio basic one, an admin can easily clone it and customized it for its specific installation.

[2015-03-26 08:27] kaplun commented on #536
The `invenio_search_implementation.js` is rather `invenio-query-parser` specific so it could be committed there.

[2015-03-26 08:28] tiborsimko commented on #1083
@lnielsen Yes, the original issue is addressable via Flask-SSO and OAuth, so unless some Invenio 1.x installation needs this split, let's close this issue at hand and eventually reopen new one for OAuth.
IIRC @egabancho started to test OAuth for CDS lately.

[2015-03-26 08:30] tiborsimko commented on #536
@kaplun If this is labelled as "someday", then please keep the issue closed.  We know that we have several dormant tasks in the "someday" pool that can be reopened later when resources permit.  So there is no need to keep the issue open, unless someone actively works on it.

[2015-03-26 08:31] #536 closed

[2015-03-26 08:35] jirikuncar commented on #1083
I would change  the title to `RFC External authentication method removal`. We have OAuth and SSO implemented in 2.x so we can remove `invenio/legacy/external_authentication` from all 2.x branches.

[2015-03-26 08:39] #2470 closed

[2015-03-26 08:41] lnielsen commented on #1083
Some of the variables in ``access_control_config.py `` is still needed by Invenio, so I'll fix that using the method mentioned and then perhaps we deprecate the entire module?

[2015-03-26 08:44] dset0x commented on #766
https://wiki.apache.org/httpd/NameBasedSSLVHosts

In short, and I paraphrase:

This is fine for some cases, but left to the administrator to ensure that it is correct.

I believe that if we were to default to moving the SSL directives outside of the vhost, we would create more confusion. What we *can* do is allow the user to create certificate-less SSL blocks and warn them about it while it is bei

[2015-03-26 08:50] lnielsen commented on #766
Let's close the issues, since each instance can overwrite the Apache templates as they see fit.

[2015-03-26 08:51] tiborsimko commented on #755
@jirikuncar We can transform this very issue into an RFC here?  Saves electrons :)

Some quick thoughts from me:

- If "date after" is the only use case, then I like Heath's proposal for "2000+", since it would preserve the behaviour of the good old arrow operator, and people are used to type N+ for citation count queries or author count queries already.
- If there are some use case for non-numeri

[2015-03-26 08:54] dset0x commented on #766
@lnielsen While that is true, we are trying to cover these few somewhat common cases.

[2015-03-26 08:54] jmartinm commented on #788
I actually never saw this issue before and not sure it was ever possible to access BibEdit without the proper ``runbibedit`` authorization for the user. Do you know if it ever worked and was used, for example, in CDS where there is a lot of websubmit? @egabancho @switowski

[2015-03-26 08:59] tiborsimko commented on #766
I guess the original issue may have been meant for boxes having more than one IP address?  Otherwise with name-based vhost technique there are indeed problems with multiple certiicates, unless people switch away from `mod_ssl`...

[2015-03-26 09:02] jmartinm commented on #788
maybe it is wrongly labeled and this was possible in websubmit? (and not in BibEdit)

[2015-03-26 09:11] dset0x commented on #766
Ah, looks like we were placing the certificates outside the block at the time

![back-to-the-future](https://cloud.githubusercontent.com/assets/8993055/6843154/51d2898e-d3a0-11e4-91f1-e9c4a0f7a981.jpg)

$ git log
$ /Apr.*2011 \+
$ git checkout 8950f030cb6406f973858fcdd0aa649913ae233a
$ vim $(ack -l SSLCertificateFile)

[2015-03-26 09:27] tiborsimko commented on #639
Export for Google has been reworked since, so this is most probably not applicable anymore, and can be closed.

[2015-03-26 09:37] tiborsimko commented on #455
I'm not sure whether multiple alternative transliterations for a term are possible with recent INSPIRE improvements...  "für -> fur, fuer" is the main issue at hand here.  In theory, people could write their own tokenisers to achieve this.  In practice, we can muse whether Invenio should do this by default...

[2015-03-26 09:48] tiborsimko commented on #1025
... and for people using Invenio v1.x, there is `winpdb` in `requirements-extras.txt`, so if people are debugging, chances are they have it installed already.  I'm therefore closing this issue.

[2015-03-26 09:48] #1025 closed

[2015-03-26 09:54] tiborsimko commented on #308
... and on Invenio demo site v1.2.0 as well.  The language had been well added to most links, but it seems the tabs were missed.

[2015-03-26 09:55] jirikuncar opened #2945 "RFC Removing remote debugger"
Since `werkzeug` has nice interactive debugger, we can remove `invenio.utils.remote_debugger` from 2.1+.

--
PS: Ticket will be closed if there is no update for 5 days.

[2015-03-26 09:58] tiborsimko commented on #2945
:+1: The remote debugger utility was born in the pre-Flask era and can be safely removed now.

[2015-03-26 10:08] tiborsimko commented on #2923
For better tracking, we should probably close this RFC now as agreed upon, and open a new task to implement the removal with a concrete future milestone.

[2015-03-26 10:20] jirikuncar commented on #2923
@jmartinm you can proceed with removing the support for `LESS_RUN_IN_DEBUG`.

[2015-03-26 10:26] tiborsimko commented on #297
For Invenio 1.x we have `dateutils` that offers `convert_datetext_to_dategui` that offers this functionality for the *output* direction.  So it is just a matter to plug it into "wanted places".

However, the original issue was also about *input* direction, i.e. supporting this in the search syntax. This would mean that people could type things like "datecreated:yy/mm/dd" or "datecreated:dd.mm.yyyy

[2015-03-26 10:28] tiborsimko commented on #1009
The feature was implemented for BlogForever project needs; we can revive it when we shall revive porting BlogForever specific developments to latest Invenio 2.x.

[2015-03-26 10:30] jmartinm commented on #2923
Sure, so shall I close this RFC and create 3 issues with the 3 bullet points proposed at the beginning?

[2015-03-26 10:36] egabancho commented on #788
If we are talking about WebSubmit, for sure the owner of a record can modify it if there is a modification interface.
I agree with @jmartinm that the only way to edit a record via BibEdit it to be listed inside `runbibedit` and I think it should remain like this.

[2015-03-26 10:37] jirikuncar commented on #2923
@jmartinm we can keep this issue open and you just address this issue in new commits.

[2015-03-26 10:39] #788 closed

[2015-03-26 10:41] kaplun commented on #766
Shouldn't we simply assume nowadays Apache support SNI?
https://wiki.apache.org/httpd/NameBasedSSLVHostsWithSNI

E.g. check https://www.ssllabs.com/ssltest/analyze.html?d=labs.inspirehep.net

which is based on Apache from SLC6.

[2015-03-26 10:43] jmartinm commented on #2923
:+1:

[2015-03-26 10:51] dset0x commented on #766
https://wiki.apache.org/httpd/NameBasedSSLVHostsWithSNI

    Use OpenSSL 0.9.8f or later
[...]

We already require OpenSSL 1.0.1e with #2645 so we should be covered indeed.

BTW, SNI is up to each respective sysadmin to decide whether they want to disable or not and we should probably not touch directives related to it.

Let's close this issue.

[2015-03-26 12:30] kaplun commented on #1722
@jirikuncar just rebased and added `.` as suggested by @fjorba.

[2015-03-26 13:47] jmartinm opened #2951 "global: jinja2 friendlier console warnings"
Since the introduction of https://github.com/inveniosoftware/invenio/commit/552d1c4cca765911f5df100abb862e8b39d8862f

the devserver console is full of messages like:

[code]

I understand the unicode issue in the templates is worth fixing, but it:

1. Makes it difficult to work with, as all those messages are mixed up with messages you might be interested it while working on other features.

2. Do

[2015-03-26 14:35] egabancho opened #2954 "submit: failing upgrade recipe"
For those of us coming from an Invenio 1.2.x installation the `sbmCOLLECTION_sbmCOLLECTION` table doesn't have a primary key, which makes `submit_2015_03_03_fix_models.py` fail at

[code]

[code]

Just for completeness this the Invenio 1.2.x table:

[code]

[2015-03-26 14:53] jalavik commented on #2951
Yeah, and in addition to several deprecation warnings, when loading search result pages, the console often crashes and reboots itself so you have to refresh a few times to load the page etc.

Can we redirect this output elsewhere or opt in for it?

[2015-03-26 16:24] lnielsen commented on #2951
I think @jirikuncar is working on fixing the stack trace issue.

``invenio.ext.jinja2hacks`` was initially a dirty temporary measure to be able to decode 8-bit string to unicode using utf8 instead of ascii. I know @jirikuncar have spent several days trying to fix ``jinja2hacks`` so that we could continue as normal, but the fact is that there's no easy solution.

The reason that these warnings are

[2015-03-26 16:35] jalavik commented on #2951
@lnielsen Thanks for the info. @jmartinm and I was discussing with @jirikuncar  and I got the understanding we could solve it also outside of the templates from the source of the variable - avoiding adding `| u` everywhere? Or will that just be about adding `unicode()` or  `str.decode` everywhere?

@jirikuncar also noticed that the flask toolbar produced several of these outputs, so disabling it w

[2015-03-26 17:05] egabancho opened #2957 "RFC WebComment in Invenio 2"
WebComment is the legacy commenting engine which allow users to add comments to records in the form of a discussion.

The current main features are:
* Replay to comment
* WYSIWYG/Markdown editor
* Filtering by text
* Filtering by file and version association
* Attach files to comments
* Associate comments to record files and versions
* Subscription to a comment
* Soft commenting deadline
* Custom

[2015-03-26 17:15] lnielsen commented on #2951
Yes, you're right it can also be fixed with ``s.decode('utf8')`` (which I think is about the same as ``{{ var|u }}``). I think I prefer ``{{ var|u }}`` over ``s.decode('utf8')``, but naturally the very best would be to ensure we deal with a unicode string in the first place (I think that's however a lot harder to fix).

[2015-03-26 20:15] kaplun commented on #2957
:+1: for outsourcing commenting to an external framework, such as the proposed Isso. Comments are not the core business of Invenio and we are going therefore to be better served by some third-party modern framework.

I have given a brief look at Isso and indeed looks promising. We should evaluate pros and cons though. Disqus is :-1: (unless someone wants to really integrate it in is own overlay) b

[2015-03-26 20:31] jirikuncar commented on #2951
@jmartinm you see from where the errors are coming e.g. `flask_debugtoolbar/templates/panels/sqlalchemy.html:31`. I think we can close this issue as we discussed it IRL.

[2015-03-26 20:31] #2951 closed

[2015-03-26 20:52] jirikuncar commented on #2954
@egabancho wow, no primary index in the table! That's bit unexpected. We should probably just check if there is something like `has_primary_key` in *SQLAlchemy(-Utils)* otherwise simple `try: ... except sqlalchemy.ext.OperationalError: ...` should do the job.

[2015-03-26 20:54] jirikuncar commented on #2954
Moving milestone to `2.1` as it was introduced in 10210558be791cd21eadf23bbb7341daf070b33f (cc @hachreak).

[2015-03-26 21:01] #2945 closed

[2015-03-26 21:04] jirikuncar commented on #2931
@jmartinm the colon in search term value might be tricky. Have you tried `035__a:"oai:arXiv.org:1503.06238"` instead?

[2015-03-26 21:29] #1722 closed

[2015-03-26 21:35] jirikuncar commented on #2856
@dset0x @tiborsimko I would go for `INVALID` instead of `INVALIDATES`. If you agree we can close this RFC and move it to documentation. Do you have any specific section in mind?

[2015-03-26 21:53] kaplun commented on #2931
IIRC, In Invenio legacy `foo:` is interpreted as a field if and only if a corresponding field is actually defined. Can't we as well build a whitelist of recognized field, and have the parser to check against it?

[2015-03-26 21:56] jirikuncar commented on #2931
@jmartinm @kaplun please re-open this issue on `invenio-query-parser` with correct test case. It's clearly a parsing problem.

[2015-03-26 21:58] jirikuncar commented on #369
This has been fixed in `2.0.0`.

[2015-03-26 21:58] #369 closed

[2015-03-26 22:25] kaplun commented on #297
:+1:

[2015-03-26 22:26] #691 closed

[2015-03-26 22:28] kaplun commented on #330
Already Implemented in INSPIRE overlay

[2015-03-26 22:28] #330 closed

[2015-03-26 22:32] kaplun commented on #2779
No longer valid as per #2786.

[2015-03-26 22:32] #2779 closed

[2015-03-26 22:37] kaplun commented on #1894
This is actually implemented in INSPIRE fork and can be integrated.

[2015-03-27 08:07] kaplun commented on #2931
Superseeded by inveniosoftware/invenio-query-parser#16

[2015-03-27 08:07] #2931 closed

[2015-03-27 08:47] dset0x commented on #2856
I think `INVALID` is better. It helps to remember them - one can now think "What I'm typing right now '**is** {a,for,} new/security/fix/better/invalid/incompatible/note'"

[2015-03-27 08:58] jirikuncar opened #2958 "search: remove legacy webinterface"
- [x] remove `invenio/legacy/websearch/webinterface.py`
- [x] check all imports
- [x] implement `/unapi` url handler (@tiborsimko is it used somewhere?)

[2015-03-27 09:34] hachreak commented on #1044
In REST API we can choice if it should return:
 1. list of keys only
 2. list of values only
 3. list of key/values

This is an example of knowledge `Faq`:

![screenshot - 03272015 - 10 18 30 am](https://cloud.githubusercontent.com/assets/377047/6865290/95bb0370-d46c-11e4-8f5b-d7566aa6be2d.png)

1. Returns keys:

[code]

2. Returns values: in this case return a empty string.
If necessary, we can a

[2015-03-27 10:00] jalavik commented on #877
Closing and added to query parser.

[2015-03-27 10:00] #877 closed

[2015-03-27 10:00] #1044 closed

[2015-03-27 10:01] jalavik commented on #888
Closed and added to query parser.

[2015-03-27 10:01] #888 closed

[2015-03-27 10:08] jirikuncar commented on #2940
The problem can be solved by #2958.

[2015-03-27 10:09] hachreak commented on #2954
SQLAlchemy-Utils have a function `has_unique_index()`.

Maybe we can use it to check if exists before try to remove it.
Something like:
[code]

@jirikuncar I'll create a PR for master?

[2015-03-27 10:36] jmartinm commented on #1086
No need to fix this as it was a request by catalogers and there is no request for it to be changed.

[2015-03-27 10:36] #1086 closed

[2015-03-27 10:42] kaplun commented on #1257
This is really overlay specific.

It can be implemented as a separate package based on sphinx that can override the "documentation" package in Invenio

[2015-03-27 10:42] #1257 closed

[2015-03-27 10:58] jirikuncar commented on #2954
@hachreak yes please

[2015-03-27 11:02] tiborsimko commented on #800
BTW for some of @Kennethhole's use case needed something similar: if a collection C8 does not have any search fields defined, and if some ancestor C3 has, then it should use its settings instead of template default ones.

[2015-03-27 12:40] tiborsimko commented on #800
@Kennethhole @PXke Would you need this for legacy v1.x code base?

[2015-03-27 12:58] tiborsimko commented on #2856
@dset0x @jirikuncar Hmm, `INVALID fff1122` may look a bit too harsh, as if the whole SHA1 commit is invalidated, not only its log message. That kind of impression. What about inventing something gentler, perhaps `SUPERSEDE fff1122` (or `SUPPLANT fff1122`, or `REPLACE fff1122`)?  I'd vote for "supersede" which has more positive spin than "invalid".

[2015-03-27 13:13] jirikuncar commented on #2856
@dset0x @tiborsimko I would then suggest `* AMENDS fff1122`

[2015-03-27 13:58] PXke commented on #800
@tiborsimko I will let @Kennethhole  answer.

[2015-03-27 14:04] tiborsimko commented on #1894
@kaplun Thanks.  Can you please prepare a PR, considering this is labelled as "critical"? Or downsize its importance?

[2015-03-27 14:27] tiborsimko commented on #2858
Is this needed? The Invenio app uses many more environment variables, such as `GD_ACCESS_TOKEN` in `googledrivefs.py`, or just take `HOME` and `TZ` and `PAGER` ones...

[2015-03-27 14:31] jirikuncar commented on #2858
Yes, as discussed with @lnielsen IRL.

Summary: this variable creates list of keys that can be replaced in `app.config` and hence can have impact on application itself.

Following environment variables have limited impact and its usage should be anyway deprecated/removed.

It's there because we were trying to get integrated to `pyfilesystem` but normally it should be always supplied with user acce

[2015-03-27 14:35] tiborsimko commented on #2865
Could be named `messages-py.pot` for better analogy with `messages-js.pot`.  One could then merge the two together for the common pot.

BTW, while we are at it, let's use `invenio.pot` and `invenio.mo` which is the usual naming practice.

[2015-03-27 14:43] tiborsimko commented on #2858
Then maybe a better name is needed.  If you do `git grep os.environ`, there are quite a few more environment variables that also have impact on an Invenio application. Was the idea to list them all and protect their usage everywhere in the code base, if they are not allowed via this new variable?  (That's bigger than just "prepare Dockerfile"...)

[2015-03-27 14:48] jirikuncar commented on #2858
`os.environ` is fine as long as its value doesn't modify `app.config` (see 85a03a441ebe205eaf1085a98df514728ac96603).

[2015-03-27 14:51] jirikuncar commented on #2858
`os.environ` is fine as long as its value doesn't modify `app.config` (see 85a03a441ebe205eaf1085a98df514728ac96603).

[2015-03-27 15:09] jmartinm commented on #2958
will this be removed as well https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/formatter/engine.py#L519-L545 ??

Its quite horrible, for example, I am trying to create a brief record template and every time there is a Jinja exception instead of seeing the real error this fallback happens and some default Invenio template is being rendered :scream:

Shall I create separate issu

[2015-03-27 15:24] dset0x commented on #2856
@tiborsimko @jirikuncar What about `REWORD` or `REWORDS`, which is git jargon?

[2015-03-27 16:11] tiborsimko commented on #2856
@dset0x WRT `REWORDS`, we sometimes don't want to only reword a message, but change the meaning completely, because the feature might have been changed N times and even dropped before the release is made.  (See the [use case discussed above](https://github.com/inveniosoftware/invenio/issues/2856#issuecomment-77568892).)  In this case, we'd be not only "rewording" previous commits, but rather "amen

[2015-03-27 16:18] dset0x commented on #2856
@tiborsimko Indeed, `REWORDS` carries the wrong meaning.

`SUPERSEDE` is more generic, and may imply that more liberal changes were made than `AMENDS`, which I suspect will often be the case.

[2015-03-27 16:35] tiborsimko commented on #2858
What about `INVENIO_APP_CONFIG_ENVS`?  Reads simply as "Invenio app config environments", which seems to denote well the meaning.

(`INVENIO_ALLOWED_ENVS` reads as "Invenio allowed environments", which seems too much, as if Invenio wouldn't allow any other envs anywhere else in the codebase...)

[2015-03-27 16:36] jacquerie commented on #1769
It appears that this RFC didn't reach consensus, so no decision was made. Let me try to rekindle the discussion with some organization and some proposals.

The discussion started from code style, then touched code quality, the use of frameworks, testing, and documentation. I think these are very different problems, which require different discussions.

1. JavaScript code style: IMHO, not as import

[2015-03-27 16:43] tiborsimko commented on #2881
There's a rudiment for interactive "update" facility, but not `inveniomanage config update CFG_OPTION value` that would be indeed nice to have, but that requires more work...

[2015-03-30 07:43] jgarcial opened #2962 "config: Wrong default OAI Repository metadata formats"
I think the default config ```CFG_OAI_METADATA_FORMATS``` in ```invenio/base/config.py```

[code]

Aren't the keys of the dictionary wrong?

[2015-03-30 09:43] kaplun commented on #2962
Hi @jgarcial, Is there a recommended standard/convention for these names? If I check the OAI-PMH standard I can only find in the examples `oai_dc`, e.g. see:
http://www.openarchives.org/OAI/openarchivesprotocol.html#ListMetadataFormats

Additionally, the `oai_marc` mentioned in the example is different MARC serialization than our exposed `marcxml`: see http://www.openarchives.org/OAI/2.0/guideline

[2015-03-30 10:17] tiborsimko commented on #2853
Is anyone already working on implementing this, considering the target v2.1?

[2015-03-30 10:25] tiborsimko commented on #2854
@PXke Besides an option of relying on 1:1 mapping between MARC and JSON, let me mention another option.  If cataloguers of an Invenio instance are fully living in the MARC world, editing only MARC files, and would like to keep it that way, then they wouldn't have to use this new JSON editor at all.  (It would be an "internal editor" in this case.)  The cataloguers could presumably use (refreshed)

[2015-03-30 10:26] tiborsimko commented on #2854
:+1: for editing each JSON namespace in this way

[2015-03-30 10:29] tiborsimko commented on #2874
Yes.  We should probably remove the RFC label in cases like this, when the matter was agreed upon but takes some time to implement, so that the issue would be better label-separated from the other outstanding RFCs.

[2015-03-30 10:36] Kennethhole commented on #800
Hi sorry for a late answer.
Yes it is quite time consuming to manage every single collection. Also, if you would like to add one additional field, the default list is wiped out, and you have to set up the list from scratch for every single collection.

If inheritance is a time consuming, I think having it in the local config file is sufficient. We haven`t had a case where we want to differentiate

[2015-03-30 10:38] tiborsimko commented on #2886
:+1:  If the module is being "restarted" for Invenio 2, then it would a good idea to enrich this RFC with the list of various use cases we plan to cover.  (Some from Invenio 1 will still be there, some may be perhaps dropped now, some will be new...)  Currently, the RFC seems to underline "technical aspects", while we may perhaps want to take some time out and rethink its use cases, as the general

[2015-03-30 10:48] tiborsimko commented on #2888
Perhaps we could support a simple "controlled vocabulary", but in practice I think this would probably quickly lead to working with full-scale ontologies.  Soon after starting with a controlled vocabulary, people would probabyl ask "How do I define a synonym for my controlled vocabulary term?" or "How do I defined an alternative term for this expression?".  Perhaps we could just facilitate initial

[2015-03-30 11:01] tiborsimko commented on #2957
For sites hosting confidential material, it may not be possible to use cloud-based solutions.

This would be more interesting possibility.  Have you done extensive feature comparison?  Also, what about per-page, per-equation, etc annotations?  We may want to tackle the future of these two facilities together.

[2015-03-30 11:09] tiborsimko commented on #2913
For CERN Open Data Portal we use Nginx in the front end caching layer.  It can replace Varnish with essentially the same performance and easier configuration language.    It also offers haproxy and Apache/mod_proxy_balancer facilities.  Offering an Nginx/Invenio configuration out of the box would be useful as it can potentially replace HAProxy/Varnish/Apache/Invenio stack.

P.S. As others mentione

[2015-03-30 11:25] #2954 closed

[2015-03-30 12:04] jgarcial commented on #2962
@kaplun It's simpler than that. The mapping is wrong.
```'oai_dc'  -> 'XOAIMARC'```
```'marcxml'-> 'XOAIDC'```

[2015-03-30 12:21] hachreak opened #2967 "tests: investigate loud warnings and errors"
I executed tests in local and I received many warning and errors.
It's a summary:

 - [ ] `WARNING:py.warnings: /path/to/file.html RuntimeWarning: Convert string 'active' in template to unicode.`.
 - [ ] `InvenioBibFormatError: Format element SERVER_INFO could not be found.`
 - [ ] `ERROR:invenio.base:Error retrieving the blob for recid 33`
 - [ ] `AttributeError: 'NoneType' object has no attribut

[2015-03-30 12:29] tiborsimko commented on #2895
CC @aw-bib and @shesselbach who have extensive reporting needs in the HGF use case.  These are indeed of "statistics" nature.

[2015-03-30 12:34] tiborsimko commented on #2895
@Dziolas I like the idea of a "reports" module offering the above capabilities.  One more use case would be to link it to the future "audit store" weekly reports. Concerning "heavy computations", how would you define boundaries what is a gathering-data report and what as a generating-data report?  This could largely depend on the system size; what is light for 100M record system could be heavy for

[2015-03-30 13:14] kaplun commented on #2962
:tada: ahah. I haven't noticed that. It's something introduced when porting the moduele to the new master, as the configuration is correct in legacy.

Can you send a PR with the correction on top of maint-2.0?

Cheers!
     Sam

[2015-03-30 14:19] #2858 closed

[2015-03-30 14:20] tiborsimko commented on #2902
BTW, as discussed on the mailing list, this issue was observed during Invenio v1.1 to v1.2 upgrade.  We can write an upgrade recipe to catch this upfront.

[2015-03-30 14:23] kaplun commented on #2854
So: say the cataloger reaches `/record/123/jsonedit`, this would open up the editor which would receive the record representation in JSON and the corresponding JSON Schema matching the model of the record (that depends on JSONAlchemy and how it will evolve). Based on JSON Schema an editor is automatically built that will allow the cataloger to manipulate the defined properties according to the def

[2015-03-30 14:27] tiborsimko commented on #800
@Kennethhole OK, thanks.  One can consider this to be more of a bug than a feature, so I'm putting this for v1.2.x already.

[2015-03-30 14:41] PXke commented on #2874
@tiborsimko @jirikuncar  :+1:

[2015-03-30 14:57] jirikuncar commented on #755
- `updated:<=2015-01-01`
- `numberofauthors:>100`

[2015-03-30 15:03] kaplun commented on #755
:+1:

[2015-03-30 15:04] PXke commented on #2888
It could be a solution, but I still imagine a perfect world were, the basic ontology could be generated automatically, and then involve people to complete or guide it, then let the code improve it continuously in a supervised learning fashion.

Perfect :+1:

[2015-03-30 15:11] tiborsimko commented on #931
Conclusion from Invenio Developer Forum 2015-03-30: let us use only one "CFG_SITE_URL" and installations can decide to use HTTPS only (the default) or HTTP only (e.g. open data), not mixing the two.

[2015-03-30 15:16] tiborsimko commented on #1083
Seems we agree on SSO, and for @aw-bib and anyone else using LDAP with Invenio v1.x, we'd have to port LDAP external authentication method to the new "Flask style" using Flask-LDAP.  I guess this may be done later...

[2015-03-30 15:20] #1690 closed

[2015-03-30 15:20] kaplun commented on #1690
This is really an internal INSPIRE question. Whether dots are to be considered or not.

[2015-03-30 15:29] jirikuncar commented on #931
Then we could remove following hack: https://github.com/inveniosoftware/invenio/blob/master/invenio/base/wrappers.py#L73-L96

[2015-03-30 15:31] jirikuncar commented on #2845
There is an example for Sphinx and Javascript documentation: https://github.com/eternicode/bootstrap-datepicker/blob/master/docs/conf.py

[2015-03-30 15:39] tiborsimko commented on #1770
See also:
- http://oocss.org/

[2015-03-30 15:52] tiborsimko commented on #2856
Invenio Developer Forum 2015-03-30: common agreement to go with AMENDS.

[2015-03-30 15:52] #2856 closed

[2015-03-30 19:07] jirikuncar commented on #495
Works on `master` (2.1.dev). @tiborsimko can you confirm that it has been fixed for 1.x?

[2015-03-30 19:22] kaplun commented on #113
@tiborsimko on current INSPIRE this is evaluated as:
`'(author:"thing, some*" or exactauthor:"thing, s *" or exactauthor:"thing, s" or exactauthor:"thing, so" or exactauthor:"thing, som" or author:"some thing, *") and (title:another and title:thing)`

which seems correct to me. (beside the split between another and thing)

So I'll close this issue.

[2015-03-30 19:22] #113 closed

[2015-03-30 19:29] kaplun commented on #124
Recapping for the future me, what this ticket is all about: it is proposing the introduction of a new operator: `similarto` which, given a RECID, would propose all records that are similar to RECID (I assume within a given threshold?) for a given concept of similarity (e.g. word similarity).

Guess this can happily be solved in elasticsearch.

[2015-03-30 19:40] kaplun commented on #275
This was actually implemented in the INSPIRE overlay https://github.com/inspirehep/inspire/blob/master/bibformat/format_elements/bfe_INSPIRE_bibtex.py#L272-L287

[2015-03-30 19:40] #275 closed

[2015-03-30 19:42] #313 closed

[2015-03-30 19:43] kaplun commented on #326
@tiborsimko would be nice to have access to all these branches mentioned by Valkyrie...

[2015-03-30 19:44] kaplun commented on #326
Ah cool it's still online :)

[2015-03-30 19:52] kaplun commented on #326
for reference I pushed Valkyrie's code to https://github.com/kaplun/invenio/commit/d485262d4b46d75edecf9d2df8439efe767aca47

It's now of course badly conflicting (4 years have passed!!!) worth taking it account for 2.x

[2015-03-30 19:52] kaplun commented on #326
@jacquerie it's one of those derived computations that we should be able to build using the relation module :-)

[2015-03-30 19:57] kaplun commented on #1894
That was critical for INSPIRE, but is minor now since the code was already implementing and is related to processes that are completely INSPIRE specific.

[2015-03-30 20:01] kaplun commented on #1011
@tsgit this is still the case today in INSPIRE. Can you have a look?
https://inspirehep.net/record/1087430/export/hx

[2015-03-30 20:03] kaplun commented on #1011
Moved to inspirehep/inspire#78

[2015-03-30 20:03] #1011 closed

[2015-03-30 20:04] kaplun commented on #1010
Done

[2015-03-30 20:04] #1010 closed

[2015-03-30 20:05] kaplun commented on #889
Related to INSPIRE overlay

[2015-03-30 20:05] #889 closed

[2015-03-30 20:09] kaplun commented on #662
Seems to me that Zenodo, CDS, INSPIRE all went into different directions in the support for BibTeX. Of course this depends very much on each having a different datamodel and focusing of slightly different document types.

At this stage, what shall we do? Is there some help coming from Jinja2 so that we can nicely create mapping from JSONAlchemy to BibTeX (with Jinja2 helping in all the escaping bu

[2015-03-30 20:15] kaplun commented on #509
This should be better address with the consistent invenio-search-syntax

[2015-03-30 20:15] #509 closed

[2015-03-30 20:20] kaplun commented on #496
I am keeping this issue open as it might be interesting to take into account when implementing REST API for posting records to Invenio 2. Indeed an interface that allows to simply check the given input without actually performing a change would be cool.

What web API shall we design? @lnielsen @jirikuncar ?

[2015-03-30 20:22] #347 closed

[2015-03-30 20:28] kaplun commented on #420
I am not sure. There is quite some work from Joe and Valkyrie that simply got abandoned (before I moved to INSPIRE) and is now in a dusty state (too old to be applied cleanely). I am not sure all these functionalities are really worth anymore.

Related to the SPIRES syntax being mixed up with Invenio one, I personally don't see the benefit. Additionally if the aim is to append some Invenio specifi

[2015-03-30 20:29] #420 closed

[2015-03-30 20:31] jirikuncar commented on #496
It looks like custom deposit type with REST API hooks, that can be implemented in overlay.

[2015-03-30 20:32] kaplun commented on #2083
@Osso branch is not complete... too bad.

[2015-03-30 20:32] #2083 closed

[2015-03-30 20:36] kaplun commented on #496
Nope that is not for Deposit but to wrap low-level `uploader`. Don't we foresee an simpler web API for that? (as we today have in the form of batchuploader). That is going to be useful to upload *n* records.

[2015-03-30 20:42] jirikuncar commented on #496
You can have very simple deposit workflow that creates only SIPs and runs uploader. Uploader itself doesn't have access right checks. For deposit module access rights see #2906.

[2015-03-30 21:48] kaplun commented on #496
I will try reformulating: today catalogers have batchupload: from a given set of records in MARCXML (e.g. obtain from a search query) they download the XML, save it into a file, edit the file with emacs, and reupload the file via batchupload (that could amount to thousands of records modified in one go).

Batchuploader is a simple web layer on top of bibupload with additional authorization rights.

[2015-03-30 22:12] jirikuncar commented on #522
I can confirm that collection index now contains *all* system collections not only values from `980` (see 0d45658).

[2015-03-30 22:12] #522 closed

[2015-03-31 07:04] jirikuncar commented on #1083
@kaplun @tiborsimko can we proceed with *fast* deprecation policy (removed in 2.1) as we already have replacement for OAuth and SSO?

[2015-03-31 07:34] MSusik commented on #2845
Important to note here is that they don't document their code _per se_. Our usecase is different, as we want to document functions inside the code. Sphix's disadvantage is that there is no way to document JS special constructions, such as events.

Still, if we can't integrate any of standards mentioned by @bouzlibop with RTD, I would suggest sticking to Sphinx.

However, I see one tool that might

[2015-03-31 07:41] kaplun commented on #1083
:+1:

[2015-03-31 08:10] kaplun commented on #2957
Isso seems currently pretty basic. Doesn't seem to support authentication. On the other hand allows to attach commenting everywhere (identifying the anchors with a URI). Then one can programmatically query it to discover new comments in case of indexing.

However the fact that has no integrated authentication seems a very weak point.

[2015-03-31 08:23] kaplun opened #2972 "RFC removal of robotlogin"
Robot login is a proprietary authentication protocol (similar to OAUTH), initially developed for the *OpenAIRE Orphan Repository* to exploit the *OpenAIRE Portal* for authentication, and later adopted by the *INSPIRE* service to exploit *arXiv.org* for authentication.

Today the OpenAIRE Orphan Repository has been replaced by Zenodo, and INSPIRE is little by little upgraded to INSPIRE Labs which s

[2015-03-31 09:20] jacquerie commented on #1769
To follow up on yesterday's question, no, JSCS has no "autoformatting" functionality, but it's been actively worked on, so it should be here soon™: https://github.com/jscs-dev/node-jscs/issues/516.

[2015-03-31 09:31] jacquerie commented on #1770
Whoops, yesterday I got confused. The actual name of that CSS naming style is BEM: https://en.bem.info/method/definitions/.

[2015-03-31 11:01] aw-bib commented on #662
We could check into join2 implementation of this (long on my list), probably some generic ideas can be used.

[2015-04-01 12:46] mvesper opened #2976 "RFC: new circulation module"
The circulation module is going to be rewritten from scratch in Invenio 2, making it more flexible and covering more library use cases. The purpose of this RFC is to discuss current development stages.

# Current stage: Data structure
It's about what to store in a database.

Two ideas:
[code]

[code]

* I know calling any class '*Manager' is a bad idea, but well ^^
* Both outlines should be able t

[2015-04-01 13:12] hachreak commented on #2862
I opened the row where the [error is generated](https://github.com/mitsuhiko/markupsafe/blob/master/markupsafe/__init__.py#L74)

[code]

If you open the definition of [text_type](https://github.com/mitsuhiko/markupsafe/blob/master/markupsafe/_compat.py#L15): it makes an assumption depending of python version (2 or 3).
Maybe now this assumption is not more true...? :P

[code]

Error:
[code]

[2015-04-01 17:50] jirikuncar commented on #2976
## Simple (first iteration)

### Objects

- records
- items
- users

### Relations

- record has many items
- user can borrow many items

### States

- items - on shelf, borrowed, requested, ...

## Second iteration

### Objects

- records
- items
- users
- requests

### Relations

- user has many requests
- request has (item | many items)
- record has many items

### States

- items - on shelf, b

[2015-04-01 22:50] hzoo commented on #1769
JSCS just added the `--autofix` option as of [1.12](https://github.com/jscs-dev/node-jscs/releases/tag/v1.12.0) (on most of the whitespace rules).

You guys can start with using a preset (I see airbnb was mentioned in the OP) and then nulling out any rules you don't think or adding more that you want. Also feel free to create issues/PRs for new rules/options that could be added in!

[2015-04-02 11:05] jacquerie commented on #1769
So, let's get back to our discussion. I'll take the following code in Invenio (from https://github.com/inveniosoftware/invenio/blob/ad39db02238330f419bb73d40d708df059d05cf8/invenio/base/static/js/invenio.js#L43-L59) and rewrite it using 3 different presets: AirBnB, Crockford, jQuery.

[code]

### 1. AirBnB

[code]

### 2. Crockford

[code]

### 3. jQuery

[code]

Personally, I'd go with number 1.

[2015-04-02 11:10] jirikuncar commented on #1769
I would like 2. Crockford with 2 space indentation but I'm also fine with 1. AirBnB with possibility to join `var` definitions.

[code]

[2015-04-02 11:17] jmartinm commented on #1769
1 seems good to me. Agree with Jiri that I would allow join var definitions (as long as they are properly aligned with each other)

[2015-04-02 11:36] #698 closed

[2015-04-02 11:38] lnielsen commented on #2972
+1

[2015-04-02 12:03] #2844 closed

[2015-04-02 12:15] jirikuncar commented on #2972
Please check #2974.

[2015-04-03 08:07] lnielsen commented on #496
@kaplun The use case you describe is something along the lines of "non-trivial batch editing of a set of large set of records by a cataloguer". I think it's definitely a use case we must support, but I'm not to sure how to best support it. E.g. I think it could be valuable to download a set of records, run it through OpenRefine to clean the metadata and re-upload it.

Now, is a records REST API wi

[2015-04-03 08:11] lnielsen commented on #2913
@lovasko That Invenio is independent of Nginx, Apache, Lighthttpd, Gunicorn, uwsgi, …. etc

[2015-04-04 13:48] jalavik opened #2980 "BibClassify: performance issues and false results"
We noticed that BibClassify often got "stuck", e.g. taking an unreasonable long time, on our labs instance. In addition some keywords extracted were plain wrong. Local testing did not reveal the same behavior. After some debugging it turned out that:

* `is_pdf()` check do not correctly work with PDFs having colons in the filename when extracting the fulltext - causing bad data to be passed onward

[2015-04-04 14:25] jalavik opened #2981 "indexer: exception when passing unicode to washer"
In `2.1dev` there is an issue when searching for example with the crossref extension which passes Unicode string around. This happens:

[code]

[2015-04-07 08:35] aw-bib commented on #1463
@sbujam author _ordering_ should go to `$b`  in the 100/700 fields as you can not be sure that ordering of the tags as such is preserved anyway. cf. http://www.loc.gov/marc/bibliographic/bd100.html Ordering has no semantics in Marc and many exernal tools will not necessarily preserve it. In fact a bunch of them will happily reoder based on tag/indicators... So changing orering of authors for libra

[2015-04-07 09:16] aw-bib commented on #2895
I may add that one of the main points of our statistics class is _not_ to produce only numbers, but also allow for a link to the publications counted. Something like online publication lists. User feedback tells us that this is indeed important. ("Are all _my_ publications included in the bean counting?")

Besides we offer functionality to produce the final publications lists via BibTeX -> BibLaTe

[2015-04-07 09:20] egabancho commented on #2957
We, @kasioumis and I, did a quick comparison an we found a few weaknesses on Isso.

As @kaplun pointed out the user authentication is the most visible one.

We also think storing CDS comments on SQLittle is not the best solution, they claim that comments are not big data and they put this example:

In a normal week we usually get around 500 comments on CDS.

[2015-04-07 11:08] hachreak commented on #2862
I discovered how reproduce the error:
 1. install a new fresh environment with invenio devscripts or remove `/home/vagrant/.virtualenvs/invenio2/src/invenio/.eggs/` directory.
 2. run `python setup.py test`

Note: the second time you run tests, the error magically disappear!

I was inspired by this issue: https://bugs.launchpad.net/pbr/+bug/1384919
And I found that if you previously install `unitt

[2015-04-07 11:53] #2862 closed

[2015-04-07 12:01] jirikuncar commented on #2750
Can it be connected with #2981? (cc @jalavik)

[2015-04-07 12:05] jmartinm commented on #1463
That was a nice request and thanks for the comment @aw-bib . As BibEdit is not receiving at the moment feature updates we could take it into consideration when the moment to implement a new editor based on JSON comes. It has not been requested more than once afaik, so should not be ``p_major``. We can close it as mark as ``some day`` ?

[2015-04-07 14:16] aw-bib commented on #2976
Some further iteration:

* Items commonly have an accession number as primary key. This can but has not to be the same as the barcode of the item.
* Other item related values can be found in [LoC holdings tag 852: _Location_](http://www.loc.gov/marc/holdings/hd852.html) as well as [LoC holdings tag 876/878: _Item Information-General Information_](http://www.loc.gov/marc/holdings/hd876878.html). It

[2015-04-07 14:19] aw-bib commented on #1419
Usually, you get/should get a library card in this case which contains some unique ID (usually a barcode). Probably, this abstraction from ccid -> user id helps out here?

[2015-04-07 15:25] lnielsen commented on #662
Just my few cents: As mentioned by others the BibTeX export is highly dependent on data model and each particular record (e.g if a journal article is missing some information it might not classify as ``@article`` but ``@misc`` instead).

What is common I think is that all need serialisation of an abstract BibTeX data model. So it would be helpful if you in Invenio provided tools to easily build an

[2015-04-07 15:33] lnielsen commented on #2564
Somewhat related to this RFC: Zenodo now has secret link generation using tokens generated by Itsdangerous. See more on https://github.com/zenodo/zenodo/blob/master/zenodo/modules/accessrequests/tokens.py and https://github.com/zenodo/zenodo/commit/bfd224f944de55a3b8590ec928221593b65233f1

[2015-04-07 18:25] jirikuncar commented on #1419
Can't we just create a local account for such user?

[2015-04-08 05:12] aw-bib commented on #1419
In most libraries this is connectes with issuing the library card. Please note thtat those "memberships" are usually time limited and need active prolongation by the user. Usually also connected with the request to return books.

[2015-04-08 06:44] aw-bib commented on #662
@lnielsen: I'm not sure that you should classify a journal article due to missing fields as `@misc`. I'd definitely treat it as `@article` with missing fields.

[2015-04-08 08:36] kaplun commented on #2976
Agree on the configurability, up to a certain limit, since some states are expected to exists in order for workflows to correctly work (e.g. from `on-shelf` to `on-loan` etc.)

A single item can be in a single position (shelf/department/library), and typically it's a stable property for the item. So either the book is on loan, or when it's `on shelf` it's in its declared position. (which can be of

[2015-04-08 08:39] kaplun commented on #662
@aw-bib what Lars means it is that how we map to BibTeX is highly dependent on each Invenio instance.
So the best we can do, indeed, is to have each Invenio instance to map metadata to an abstract pythonic BibTeX representation, and then delegating to some specialized BibTeX library to actual serialize the data into a BibTeX output (taking care of all brackets, accents, etc.).

[2015-04-08 08:42] kaplun commented on #1419
@jirikuncar this is a very specific CERN hack issue. Hopefully in the new implementation this can be indeed solved we native local users (in legacy bibcirculation we have a dedicated user table(!)). As @aw-bib some semplification to register a library card could be added (although this is surely overlay specific, so worth for demosite).

[2015-04-08 09:12] hachreak commented on #2029
note: `SmartDict` moved into [jsonalchemy package](https://github.com/inveniosoftware/jsonalchemy/blob/3be6c674cdf5a98302573b2fb121473e526cadf5/jsonalchemy/wrappers.py#L33)

[2015-04-08 09:13] lnielsen commented on #662
@kaplun Yep, that's correct.

@aw-bib: I just meant to point out a generic non-trivial issue with BibTeX generation using ``@article`` as example. E.g. the BibTeX entry type ``@article`` have a list of required fields (``author``, ``title``, ``journal``, ``year``, ``volume``) and optional fields (``number``, ``pages``, ``month``, ``note``, ``key``). See http://en.wikipedia.org/wiki/BibTeX under "E

[2015-04-08 09:57] tiborsimko commented on #2976
Some additional musings:

- In theory, an item may be associated with more than one record.  Think book proceedings where each chapter lives as an independent bibilographic record.  In practice, does this happen, or would there always be a "parent record" for book?  Check with CERN library use case and other CC-ed libraries.

- Item borrowing times may differ for various items depending on their s

[2015-04-08 11:09] aw-bib commented on #2976
@kaplun: for configurability, I agree that there's a defined set. Probably, it needs elaboration, but this might depend on the model further down the road. One can treat permanent loans like a collection of a library,  maybe this is a better approach.

For the defined shelf: My musing was in the direction of item = one bibliographic item (=record), which holds several of your items. I think now it

[2015-04-08 11:21] aw-bib commented on #662
@lnielsen: Understood bibtex. And I agree: it spits out a warning. But formatting a journal article without volume as `@misc` would get rid you of the warning and give you a broken bibliography. So, if the record in question is an `@article` it should be `@article` regardless if the record contains all mandatory fields. Cataloguing should suggest/encourage/ensure/enforce to get all fields during i

[2015-04-08 11:28] lnielsen commented on #2976
Have you compared the proposed data model from other library systems, e.g. https://github.com/liblime/LibLime-Koha/tree/4_18/t/data/db_schemas

[2015-04-08 11:28] lnielsen commented on #2976
or e.g. http://docs.evergreen-ils.org/2.8/schema/

[2015-04-08 11:51] lnielsen commented on #662
@aw-bib: Again, ``@article`` might be a bad example in this context. Take some of the other entry types and you have the same issue. Nonetheless I've still had several end-users (researchers) which uses the generated BibTeX to format their bibliography complain exactly about this issue.

You should have as much metadata as possible and check and fix problems in it, agreed in principle. However, it

[2015-04-08 12:33] tiborsimko commented on #2876
Good then! :smile:

Individually, let's take resolution to commit and live by the above principle already, i.e. always improving code coverage with every local branch from now on.  TDD for the win!

Collectively, I'd be all for organising a common hackathon to improve code coverage. Who's in? I could probably contribute some tasty poppy seed cakes and fine green tea.  We can discuss this at one of

[2015-04-08 13:17] lnielsen commented on #999
This is an idea, and as far as I'm aware no one are planning to work on this so I'll close it as an idea for some day.

[2015-04-08 13:17] #999 closed

[2015-04-08 13:32] #2962 closed

[2015-04-08 14:15] aw-bib commented on #662
@lnielsen I see your point, but I think you fix it at the wrong place. IMHO it's just not working to derive document types from the existing data correctly.

I look at it the other way around. You get a user submission. (This is the same here. No cataloguers no developers. Joe Doe is submitting.) Now, if I as a user select "journal article" as document type, I, as a user, would expect that the rec

[2015-04-08 14:24] mvesper commented on #2976
As discussed with @jirikuncar:
Maybe we can agree on a name for this module and start a new repository so we can discuss the different aspects of the design in separate RFCs and host some design documents there.
We could then use this RFC to summarize the process.

[2015-04-08 14:58] tiborsimko commented on #2976
FWIW I posted nicer URL above :stuck_out_tongue_winking_eye:

- http://schema.koha-community.org/relationships.html
- http://schema.koha-community.org/index.html

[2015-04-08 15:02] lnielsen commented on #662
I can only say that my users disagrees with you. We continuously had support requests on this issue until we fixed it, and reverse, we haven't had any support requests that complained about using ``@misc`` instead of ``@article`` after we fixed it. I naturally can't say if we'll get any requests in the future.

I think we can agree to disagree on the issue then :-)

[2015-04-08 15:03] tiborsimko commented on #2976
I think `invenio-circulation` would be a good name.  This is how the facility is usually called,  see for example [ILS@Wikipedia](https://en.wikipedia.org/wiki/Integrated_library_system):

- acquisitions (ordering, receiving, and invoicing materials)
- cataloging (classifying and indexing materials)
- circulation (lending materials to patrons and receiving them back)
- serials (tracking magazine a

[2015-04-08 15:24] tiborsimko commented on #2895
Without knowing about the background of such a use case, if you have complex queries depending on the values of several fields/subfields, perhaps you can write a new dedicated tokeniser that would produce a new index to help with these queries?  Kind of like `journal` index, or composed `author:affiliation` one?

[2015-04-08 15:33] aw-bib commented on #662
yepp, I fear we agree that we disagree.

Concerning your requests, I think I wouldn't file one if you format journal article as misc simply cause "this is so far of, this export just doesn't work." :(

[2015-04-08 16:46] tiborsimko commented on #662
Perhaps those users that use permissive tool chain see a warning and don't complain, while those users that use restrictive tool chain see an error and complain :smile:

I'm mentioning this because you can find several sources on the web saying that `volume` is optional, not mandatory, for `@article`.  This contradicts the [wikipedia entry](http://en.wikipedia.org/wiki/BibTeX) cited by @lnielsen.

[2015-04-08 17:07] aw-bib commented on #662
@tiborsimko you may be right about permissiveness of the toolchain. But I think this is sort of second order, as it is only a technical issue.

For the "submitted-to" scenario people actually enter e.g. `-` in case we enforce the field (e.g. http://juser.fz-juelich.de/record/188781) I admit, that I don't think this is perfect and I'd rather have a better solution but it's simple and works surprisi

[2015-04-09 07:28] lnielsen commented on #662
I've mentioned above that ``@article`` is a bad example because I think it side tracks the conversation. What we are talking about is the existence of **required** vs **optional** fields in BibTeX and that **missing** required fields in out is producing errors.

And why wouldn't my other users say the same about the reverse? "The service can't generate proper BibTeX output which doesn't generate e

[2015-04-09 08:15] jirikuncar commented on #2605
see also #2986 by @crepererum

[2015-04-09 08:26] aw-bib commented on #662
See your point about the errors @lnielsen, if a missing volume would throw an error and break compilation. Usually, it's just a warning so it's not that bad. Why wouldn't I file issues? I'd have to check all doctypes in export, add missing fields, cross check, most likely in this case I'll be faster to do it myself than export first and fix it up. (IOW: you'd loose me very fast on this. To fast to

[2015-04-09 08:29] aw-bib commented on #2895
@tiborsimko I understood that this is only available for invenio >(>?) 1.1, but I also understood that the new indexer/tokenizer can do it in some way when we discussed this issue some time ago.

[2015-04-09 08:38] jirikuncar commented on #2689
closed via #2691

[2015-04-09 08:38] #2689 closed

[2015-04-09 08:41] jirikuncar commented on #2827
@hachreak please re-open in *Invenio Demosite* if you are still having this issue.

[2015-04-09 08:41] #2827 closed

[2015-04-09 09:04] jirikuncar commented on #1614
Fixed in f3ca8cb2.

[2015-04-09 09:04] #1614 closed

[2015-04-09 09:50] jalavik commented on #2750
@jirikuncar It could be, but when looking around it could also be related to mysql table encoding issue: http://stackoverflow.com/questions/2108824/mysql-incorrect-string-value-error-when-save-unicode-string-in-django and http://stackoverflow.com/a/20349552

[2015-04-09 09:53] lnielsen opened #2990 "oairepository: GetRecord does not find record via identifier"
See zenodo/zenodo#172

Problem is that when a record is part of a restricted collection (which allows guest access) it will be filtered out of the final list of recids.

Fix incoming by @bouzlibop

[2015-04-09 10:07] jirikuncar commented on #2621
Is it still relevant or we can close it?

--
cc @bouzlibop

[2015-04-09 10:08] jirikuncar commented on #2760
@switowski @ludmilamarian @egabancho is it in plans for CDS?

[2015-04-09 11:52] aw-bib commented on #2990
I think I had fixed the very same at least in 1.x

[2015-04-09 13:04] #2884 closed

[2015-04-09 13:18] tiborsimko commented on #1448
This was closed in the meantime by 8b0feb06b744a19fb605a59e650c7bada731b15a.

[2015-04-09 13:18] #1448 closed

[2015-04-09 13:20] tiborsimko commented on #757
@egabancho @kasioumis @ludmilamarian Is this still the case in CDS formats?

[2015-04-09 15:41] PXke commented on #2976
Some other points :

* We need signals !

* We need to be able to create message template easily, for different situation, for example a librarian with no prior knowledge in python should be able to create a message that will be sent on different action.

* It needs to be possible to chose when to change the message either by plugging it on some signals or on some workflow steps.

* It needs to be

[2015-04-09 16:01] Kennethhole commented on #2976
Regarding message templates: as Invenio support multiple libraries, the signature should reflect the library which lend out the item.

[2015-04-09 16:19] #2958 closed

[2015-04-09 22:04] lnielsen opened #2996 "logging: update documentation about deprecation"
Logging extension mentions now outdated way of deprecating features:
https://github.com/inveniosoftware/invenio/blob/master/invenio/ext/logging/__init__.py#L149-L161

[2015-04-09 22:19] lnielsen commented on #1369
I'll close issue as an idea for someday.

[2015-04-09 22:19] #1369 closed

[2015-04-09 22:23] #766 closed

[2015-04-10 06:14] aw-bib commented on #2976
@Kennethhole I'd add sublocation (collection in LoC speak) to the list to manage things like:

Dear _Kenneth_,
You have item _823.914_: _"The book of strange new things"_ by  _Michel Faber_ from  the _Reference collection_ of _DESY Library, Hamburg_ (Barcode _01234_) on loan. We have a request for this book and would kindly ask...

_Reference collection_ would be such a sublocation. Similar depart

[2015-04-10 07:54] martinkoehler commented on #2976
A short comment to other library systems
IHMO: Besides KOHA, ALPEH has a lots of use cases as well
see http://lib.haifa.ac.il/extprojects/scill/images/pdf/Aleph%2021%20Circ%20guide.pdf

@kaplun With respect to the on-helf:
When an item has been requested it is usually put on a request shelf (same can be true if it is returned and still waits for further processing, then its on a return shelf. It m

[2015-04-10 09:35] #365 closed

[2015-04-10 09:37] lnielsen commented on #515
This is now much easier by use of Jinja2 templating which can load portal boxes as they like.

[2015-04-10 09:37] #515 closed

[2015-04-10 09:38] lnielsen commented on #587
Should be done as part of the rewrite of oairepository - related to #2464

[2015-04-10 09:43] jirikuncar commented on #587
Shall be done when we rewrite OAIHarvester using https://pypi.python.org/pypi/pyoai.

[2015-04-10 09:43] #639 closed

[2015-04-10 09:50] jirikuncar commented on #861
Please re-open if needed in `invenio_query_parser` package.

[2015-04-10 09:50] #861 closed

[2015-04-10 09:58] jirikuncar commented on #1057
New property in `Collection.is_hidden(self)` that compares `current_user` permitted restricted collections and restricted collection cache.

[2015-04-10 13:03] #2981 closed

[2015-04-10 14:54] #2972 closed

[2015-04-10 14:54] #1083 closed

[2015-04-10 14:58] jirikuncar commented on #2940
Closed via #2975.

[2015-04-10 14:58] #2940 closed

[2015-04-13 08:39] bouzlibop commented on #2845
Agreed - I think it would be painful to be obliged to maintain docs and code in separate files (this is the case when using only `Sphinx` with [its current JavaScript support](http://sphinx-doc.org/domains.html#the-javascript-domain)).

I found this ext - https://github.com/lunant/sphinxcontrib-autojs - which could probably work for us (it is similar to sphinx `autodoc` - getting docs from source

[2015-04-13 09:05] bouzlibop commented on #1769
I give my vote to 1. AriBnB and as mentioned above - with the possibility to have var definitions joined.

BTW, in regards to proposal 5:

What use cases do you see @jacquerie for js task runner in `Invenio` in this moment ?

[2015-04-13 10:18] crepererum opened #3003 "celery: deprecation warnings issue"
## Abstract
We use pickle as the serialization method when communicating with celery. This method will be disabled in future standard configurations because it has security issues. We should decide how to move on.

## Problem description

Celery starts to emit the following warning:
[code]

## Possible solutions
We should solve this by implementing one of the following solutions.

### a) pickle
Fo

[2015-04-13 10:51] lnielsen commented on #3003
Default should already be ``msgpack`` (see e.g. https://github.com/inveniosoftware/invenio/blob/master/invenio/celery/config.py#L56). If this is not the case it's a bug.

[2015-04-13 10:59] jalavik commented on #3003
Yeah, we changed it to msgpack a while back for INSPIRE Labs (e.g. for our workflows and submissions) and it works well.

Instead of sending complex serialized objects across the wire, we usually send simple structures and rather rebuild the complex objects on the receiving end.

[2015-04-13 11:01] jacquerie commented on #1769
As a wrapper for the tooling we introduce in this and several other RFCs, for programmer convenience. For example, `grunt jscs` might check the code style in all Invenio, using the right paths and excluding files which we don't need to check, without having to remember a long `jscs` command line.

[2015-04-13 11:13] lnielsen commented on #1769
It's highly preferable (in my opinion a must) that any linting is integrated with inveniosoftware/kwalitee so that there's only one tool for checking Invenio source code. 1) It's easier for developers (just one tool to run on your commits) 2) Kwalitee is integrated with GitHub so PR's can be checked automatically.

Grunt could potentially be integrated with Kwalitee, so just wanted to emphasise th

[2015-04-13 11:34] crepererum commented on #3003
OK, then I think we go for the following solution:

### b) something else (refined)
Setting `CELERY_ACCEPT_CONTENT` to `msgpack`. This will prevent celery from accepting pickle messages and closes the issue. I will prepare a PR for the configs (mostly docker I think, but I'll recheck) and for the documentation. The latter part will also include a security warning that describes the attack surface.

[2015-04-13 11:50] bouzlibop commented on #1769
I would propose to extend `inveniomanage` and `kwalitee` to provide necessary aliases/pipelining/quality checks and avoid adding new tools (`grunt`).

[2015-04-13 12:19] hzoo commented on #1769
You could also use npm to hold scripts if not grunt/gulp. So in package.json (example from jscs itself)

[code]

[2015-04-13 12:28] jacquerie commented on #1769
:+1: Ok, I think the consensus is against having a task runner, so I'll drop that proposal.

[2015-04-13 13:09] lnielsen opened #3008 "RFC communities: externalise module"
## Problem

Communities is a module so far only in use on Zenodo, and thus not really a core Invenio module. As discussed recently off list, having many modules inside Invenio makes maintainability much harder.

## Proposal

Remove communities module from Invenio and make it into a separate package in @inveniosoftware. The module will not be integrated back into Zenodo, so it's still useable by ot

[2015-04-13 13:09] lnielsen commented on #3008
cc @bouzlibop

[2015-04-13 13:23] lnielsen commented on #3003
``CELERY_ACCEPT_CONTENT`` should also be set in `invenio/celery/config.py``

[2015-04-13 16:10] jirikuncar commented on #3008
Shall we start in new repo: `inveniosoftware/invenio-communities` or `inveniosoftware/invenio-communities-module`?

[2015-04-13 19:01] jalavik commented on #1769
@jacquerie We could add it as a suggestion to the invenio kwalitee tool as @lnielsen suggested. Sounds like a nice compromise.

[2015-04-13 19:17] jalavik commented on #3008
Regarding the naming, I'd suggest keeping only `inveniosoftware/invenio-communities` as the `module` part should be superfluous.

[2015-04-14 06:33] lnielsen commented on #3008
Yes, let's follow the pattern: ``invenio-<module name>`` for externalised modules, so +1 for ``invenio-communities``. I'll create the repo once the RFC is accepted.

[2015-04-14 06:38] lnielsen commented on #2221
Jasmine has been implemented and adopted in Invenio so I'm closing this RFC.

[2015-04-14 06:38] #2221 closed

[2015-04-14 06:41] lnielsen opened #3014 "jasmine: cli and travis integration"
Problem Jasime tests are not executed as part of CI cycle, and thus can be broken at any time. Also, it should be easier for developers to execute the Jasmine tests in multiple browsers using something like Karma.

Task forked from #2221
Related to #1769

[2015-04-14 07:11] #2874 closed

[2015-04-14 07:11] #2891 closed

[2015-04-14 07:20] #3003 closed

[2015-04-14 08:02] jirikuncar commented on #3008
Let's go for https://github.com/inveniosoftware/invenio-communities then.

[2015-04-14 08:24] crepererum opened #3015 "RFC security policy"
After fixing #3003 and the more or less uncontrolled disclosure of security information, I sat down to write the following RFC. It is not urgent (especially because it is a slightly long text) and might only be a start of a discussion. Feel free to add your comments or criticize it. At a certain point of consensus, I can create a PR out of the material.

# Security Policy (draft)

Invenio reached

[2015-04-14 08:43] lnielsen commented on #3015
Related to #1799 and recent discussion on documentation of community processes.

Django has an excellent security policy that can be used as inspiration:
https://docs.djangoproject.com/en/1.7/internals/security/

I think the most important to document in a security policy is:
- How to report security issues.
- How we deal with a reported security issue (i.e. what is our workflow).

Currently we ha

[2015-04-15 07:33] jirikuncar opened #3019 "Release v2.0.2"
- [ ] commit RELEASE-NOTES generator (`kwalitee` vs. `/scripts`?)
- [ ] document release process

--
cc @lnielsen @jirikuncar

[2015-04-15 07:42] #2990 closed

[2015-04-15 07:58] #2885 closed

[2015-04-15 12:12] aw-bib commented on #1511
@jirikuncar does https://github.com/inveniosoftware/invenio/commit/6aec1df09dbd971350ac28daf5d83abc29672c4a also fix this issue?

[2015-04-15 13:14] jirikuncar commented on #1511
Yes

[2015-04-15 15:36] hachreak opened #3022 "RFC exclude legacy code from kwalitee checks"
### Problem:
everytime you create a PR that involve some file from legacy code you receive a lot of warnings that we normally ignore because is legacy code.

### Proposal:
We can use my [PR#65](https://github.com/inveniosoftware/kwalitee/pull/65) to automatically exclude legacy code.

### How:
1. accept my PR#65
2. Introduce in .kwalitee.yml this:
[code]

Any comments/ideas?

[2015-04-15 20:04] jirikuncar commented on #297
### Conclusion

Use only standard ISO date format in the search syntax.

[2015-04-15 20:04] #297 closed

[2015-04-15 20:05] #282 closed

[2015-04-15 20:11] jirikuncar commented on #418
FIxed with new search unit (see https://github.com/inveniosoftware/invenio/commit/4b95199889cbf814a2ef134cb149946f44a58d1e#diff-be41293cb5b20239b11f6b00a3405eec).

[2015-04-15 20:11] #418 closed

[2015-04-15 20:49] jirikuncar commented on #538
@tiborsimko is the "black magic" [1] with stripping '.' characters desirable? If yes shall we port it to new search engine?

--
[1] http://invenio-software.org/repo/personal/invenio-valkyrie/commit/?h=538-full_stop_at_end_of_search_causes_failure&id=d947a55e1fd193b58cd78df8e281a08db996abb6

[2015-04-15 20:58] jirikuncar commented on #566
`similarto:123 foo` shoud work. It needs to be verified on "real" world example.

[2015-04-15 21:04] jirikuncar commented on #702
A custom tokenizer can be introduced in overlay.

[2015-04-15 21:04] #702 closed

[2015-04-15 21:08] jirikuncar commented on #728
@jalavik @kaplun how is it suppose to work?

[2015-04-15 21:13] jirikuncar commented on #1853
@kaplun Can you point where should we look for it? Thanks

[2015-04-15 21:17] jirikuncar commented on #2621
ping @hachreak @bouzlibop

[2015-04-16 07:44] hachreak opened #3023 "collections: portalbox text overflow"
Hi guys,
I installed the demo site and in home page, in right bar, the text doesn't respect the width of the box.
This css seems to fix the issue:

[code]

### Before

![9b1a811a-336d-11e4-9917-44ecf13984fc](https://cloud.githubusercontent.com/assets/377047/7176247/ed5825f8-e41c-11e4-8685-3c93a6ebaa4d.jpg)

### After

![8ca52072-336d-11e4-9b53-f77d1ba56135](https://cloud.githubusercontent.com/asse

[2015-04-16 07:56] crepererum commented on #3015
The Django policy looks good to me. It (more or less) reflects the proposed version in a good written and "proved to work" form. We might want to use it as a baseline.

[2015-04-16 08:32] lnielsen commented on #3022
+1 for fixing the problem, i.e. that kwalitee warns about errors which is ignored during integration. Ideally  kwalitee should be like Travis - if there's a green light, it won't be integrated.

[2015-04-16 08:34] lnielsen commented on #1511
We haven't tested if it actually fixes the problem. Also I don't think it's useful as it is now, since you'll need the OAI harvester to log into Invenio and maintain the session (i.e. like a browser would do).

[2015-04-16 09:13] PXke opened #3024 "formatter: BFO init always trigger exception"
BFO init always trigger exception,  which lead to useless log and sentry warning.

[2015-04-16 09:37] jacquerie commented on #3023
+1, tested working and browser support seems to be there: http://caniuse.com/#feat=wordwrap

[2015-04-16 11:15] #2902 closed

[2015-04-16 11:18] #3024 closed

[2015-04-16 12:23] PXke opened #3026 "records: reference count is wrong"
Reference count is wrong

[2015-04-16 12:23] PXke opened #3027 "global: CFG_CERN_SITE still in code"
In utils.py of record module

[2015-04-16 13:03] hachreak commented on #2029
with @jirikuncar we were talking about create a separate package for common data structures.

[2015-04-16 13:04] hachreak commented on #2351
Waiting for SQLAlchemy 1.0!
The release should be soon... :D

[2015-04-16 13:28] hachreak commented on #2621
for me it's ok the `remote.autocomplete.field.js`.

[2015-04-16 16:38] emanueldima opened #3029 "oauthclient: Protect against exceptions when handling oauth2 responses"
While testing a new oauth2 server I got an exception from the oauthclient module. The server I'm testing  fails to return the authorization token and instead returns a 500 HTTP error with XML content but without setting the content-type. The flask oauthlib assumes it's json and tries to read it, thus triggering an exception. I think it doesn't make sense to change the flask library, but Invenio sh

[2015-04-17 06:28] lnielsen commented on #3029
Hi,

Do you have a stack trace I can take a quick look? I agree oauthclient should protect against bad handlers in the line you have mentioned. I'd however like to understand where in oauthlib the problem is.

[2015-04-17 06:31] lnielsen commented on #3023
Can you make a PR?

[2015-04-17 06:33] lnielsen commented on #2029
Separate package for common data structures: +1

[2015-04-17 07:11] aw-bib commented on #2592
This issue is closed but not backported to the 1.1 maint. Is this intended?

[2015-04-17 07:46] emanueldima commented on #3029
Yes, here it is:

[code]

[2015-04-17 07:47] jirikuncar commented on #2029
### Package name?

- `lazycollections` (my preference)
- `lazy_collections`

[2015-04-17 09:39] audub opened #3031 "Multi-record editor: Apply only to specific instances does not work"
The feature to add a subfield only to specific instances seems broken. If you do a query like this:

![unnamed-2](https://cloud.githubusercontent.com/assets/2854307/7199571/28215248-e4f6-11e4-86a8-bb453965c1b9.gif)

The result is an empty subfield:

![unnamed-3](https://cloud.githubusercontent.com/assets/2854307/7199584/37d1f436-e4f6-11e4-9f74-6bed5165630e.gif)

As a workaround we can query for: A

[2015-04-17 09:46] tiborsimko commented on #2622
Note that the work on alerts and baskets (to tags) in the CDS team is planned to start this summer.G (CC @switowski)

We have also agreed upon progressive removal of legacy features in 2.1 (search URLs), 2.2 (more), etc.

Hence this RFC can be closed.  (We'll create separate tickets for individual tasks.)

[2015-04-17 09:46] #2622 closed

[2015-04-17 12:30] jirikuncar commented on #3026
@tiborsimko I don't have enough knowledge about reference counting. Can you please have a look? Thanks

[2015-04-17 15:48] switowski commented on #2622
As discussed IRL with @tiborsimko, since the summer student responsible for working on alerts/baskets won't come (I shouldn't have showed him the legacy code base, before he signed the papers :wink:), so those two projects are still available for anybody.

[2015-04-17 16:19] tiborsimko commented on #3019
Release closed by #3035.  The release notes generator will be issues separately.

[2015-04-17 16:19] #3019 closed

[2015-04-20 09:21] hachreak opened #3037 "sqlalchemy: PostgreSQL - type Text and Integer compatibility"
PostgreSQL Text type doesn't accept length parameter: http://www.postgresql.org/docs/9.1/static/datatype-character.html

[code]

I tried to ask to zzzeek if exists a easy solution to this problem: https://bitbucket.org/zzzeek/sqlalchemy/issue/3370/text-and-length

In alternative, with @jirikuncar, we agree to resolve in the same way as for [Integer](https://github.com/inveniosoftware/invenio/blob/

[2015-04-20 14:23] #3023 closed

[2015-04-21 08:36] hachreak commented on #3037
I found that also Integer give us problems if we use latest version of SQLAlchemy 1.0.0.
zzzeek told me about a solution (maybe applicable also to solve integer problem).

So, summarizing all problems:

 - [ ] Integer problem: `Integer takes no parameters`
 - [ ] Text don't take length ([see for the solution](https://bitbucket.org/zzzeek/sqlalchemy/issue/3370/text-and-length))

[2015-04-21 08:47] hachreak opened #3039 "installation: fix SQLAlchemy-Utils version"
The master branch have a problem with a version conflict:

If you do:
 - `pip install -e . --upgrade`
 - `python setup.py test`

It returns:

[code]

[2015-04-21 10:34] blixhavn opened #3042 "scripts: manager database dump not implemented"
https://github.com/inveniosoftware/invenio/blob/master/invenio/base/scripts/database.py#L220

This function should at least contain a FIXME, or cast a not_yet_implemented exception.

[2015-04-22 17:18] jirikuncar commented on #225
Works with https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/search/searchext/engines/native.py#L235-L241 if stemming language is set for global index in this specific case.

[2015-04-22 17:18] #225 closed

[2015-04-22 17:43] jirikuncar commented on #566
Implemented in https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/search/searchext/units/similarto.py#L43, however it doesn't work with demosite at it defines only `demo_jif` and not `jif` as required. It probably needs quite extensive refactoring of *bibrank*.

[2015-04-22 17:43] #566 closed

[2015-04-22 17:48] jirikuncar commented on #269
It works well for Invenio queries.
[code]

Please re-open in Invenio-Query-Parser repo if you can reproduce the problem.

[2015-04-22 17:48] #269 closed

[2015-04-22 17:54] jirikuncar commented on #538
Can be achieved by custom search unit or query enhancer that can do special term value manipulation (available in `2.1`).

[2015-04-22 17:54] #538 closed

[2015-04-22 17:57] jirikuncar commented on #642
One can implement custom `author` search unit  similar to one implemented in dc74feff if needed.

[2015-04-22 17:57] #642 closed

[2015-04-22 18:13] #2621 closed

[2015-04-22 18:18] jirikuncar commented on #1067
Follow in inveniosoftware/invenio-query-parser#19

[2015-04-22 18:18] #1067 closed

[2015-04-22 18:20] jirikuncar commented on #874
Can be handled in custom `author` search unit on per installation basis.

[2015-04-22 18:20] #874 closed

[2015-04-22 18:22] jirikuncar commented on #1051
`find doi <identifier>` should get translated by *Invenio Query Parser* into `doi:<identifier>` that Invenio can handle.

[2015-04-22 18:22] #1051 closed

[2015-04-22 18:25] jirikuncar commented on #789
Fixed in 2.1 since dc74feff.

[2015-04-22 18:25] #789 closed

[2015-04-22 18:25] jirikuncar commented on #729
Please re-open in Invenio Query Parser if still needed.

[2015-04-22 18:25] #729 closed

[2015-04-22 18:29] jirikuncar commented on #728
It can be implemented by custom search unit functions.

[2015-04-22 18:29] #728 closed

[2015-04-22 18:32] jirikuncar commented on #797
Please re-open in *Invenio Query Parser* if it is still relevant.

[2015-04-22 18:32] #797 closed

[2015-04-22 18:36] jirikuncar commented on #718
Traceback is not applicable to 2.1. I'm changing milestone to 1.x.

[2015-04-22 18:39] jirikuncar commented on #937
@ludmilamarian @egabancho @switowski is it still relevant?

[2015-04-22 18:41] jirikuncar commented on #699
@kaplun it looks like specific BibIndex problem. Has it been fixed in 1.x?

[2015-04-22 18:48] jirikuncar commented on #2302
Facets should reuse all query arguments intead of `qid` so that the redis cache can be rebuild when needed in search engine.

--
related #2987

[2015-04-22 21:10] jirikuncar commented on #3029
(a) register generic error handler for OAuth Client urls using `@blueprint.errorhandler(Exception)` (after https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/oauthclient/views/client.py#L38)
(b) for `JSONDecodeError` we should probably abort with 400

[2015-04-23 07:29] egabancho commented on #937
cc @kasioumis

[2015-04-23 08:15] #3022 closed

[2015-04-23 09:04] kaplun commented on #699
I assume nope.

[2015-04-23 09:04] kaplun commented on #699
It's sad to see so much work that has never be integrated. I guess it's too much of a pain as of today to integrate this. I will have a look.

[2015-04-23 09:13] kaplun commented on #699
I guess it's pointless today to try to integrate the work. However the branch comes with nice unit/regression tests. Maybe these could be ported to invenio_query_parser...

[2015-04-23 09:15] kaplun commented on #699
See: https://github.com/kaplun/invenio/tree/702-desy_keywords_particles

[2015-04-23 11:12] kaplun commented on #718
Moved to inveniosoftware/invenio-query-parser#20

[2015-04-23 11:12] #718 closed

[2015-04-23 11:23] kaplun commented on #1051
This will better be implemented by dedicated DOI field in the data model.

[2015-04-23 11:31] jirikuncar commented on #3042
### Proposal

Investigate usage of an existing tool e.g. https://github.com/cuducos/alchemydumps.

[2015-04-23 14:09] hachreak opened #3049 "installation: flask-admin project moved"
Hi,
I discovered now that the project move from https://github.com/mrjoes/flask-admin to https://github.com/flask-admin/flask-admin

I'll create a PR to fix it in requirements.

[2015-04-23 15:23] #2996 closed

[2015-04-23 15:23] #3049 closed

[2015-04-24 07:05] #2620 closed

[2015-04-24 09:48] jalavik commented on #700
If needed, should be reopened on `invenio-query-parser`.

[2015-04-24 09:48] #700 closed

[2015-04-24 09:49] kaplun commented on #520
We now have country search in INSPIRE, basically. In 2.x this has to be implemented properly in INSPIRE overlay

[2015-04-24 09:49] #520 closed

[2015-04-24 09:53] jirikuncar commented on #739
Current state:
[code]

[2015-04-24 09:55] jalavik commented on #739
Current state looks good. Search is going to change drastically soon, so will close this for now.

[2015-04-24 09:55] #739 closed

[2015-04-24 10:02] jalavik commented on #774
Reopened on `invenio-query-parser`: https://github.com/inveniosoftware/invenio-query-parser/issues/21

[2015-04-24 10:02] #774 closed

[2015-04-24 10:05] jalavik commented on #863
Closing as duplicate of #858

[2015-04-24 10:05] #863 closed

[2015-04-24 10:08] kaplun commented on #858
Moved to inspirehep/inspire#85

[2015-04-24 10:08] #858 closed

[2015-04-24 10:08] jalavik commented on #1062
Reopened as inveniosoftware/invenio-query-parser#23

[2015-04-24 10:08] #1062 closed

[2015-04-24 10:24] jirikuncar commented on #2772
@hachreak can you have a look and make all keys/values `unicode`?

[2015-04-24 10:37] jirikuncar commented on #1536
Implement method in `Collection` model `is_restricted(self, user_info=None)` where `user_info = user_info or current_user`.

[2015-04-24 12:29] giannistsan opened #3051 "collections: record restricted after insert"
How to reproduce
=============

1. Insert new record with `bibupload -i`
2. Run `bibindex -u admin`
3. At that moment the new record is correctly indexed in the `collections` index

[code]

But the record is still **restricted**.

Running

[code]

does not fix it.

Only restarting the dev server makes the record visible.

[2015-04-25 09:39] jirikuncar commented on #3051
### Proposal

Fix following data cachers to take into account last update of collection index:
- [ ] https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/collections/cache.py#L46
- [ ] https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/collections/cache.py#L85

and clear following memoized function:
- [ ] https://github.com/inveniosoftware/invenio/blob/master/

[2015-04-27 08:44] jalavik opened #3052 "Issues with 0.0.0.0 and Chrome"
The default site URL used in the developer setup is `0.0.0.0`. Recently, Chrome is not working so well with this URL prefix (http://stackoverflow.com/questions/28112933/how-to-stop-chrome-from-searching-when-manually-typing-in-local-dev-addresses).

Even the [wikipedia entry](http://en.wikipedia.org/wiki/0.0.0.0) for this URL states:

It's recommended to use `127.0.0.1` or `localhost` instead. Sha

[2015-04-27 09:37] fjorba opened #3054 "inveniogc: convert all sql left joins to intbitset operations"
After fixing some extremely slow sql queries (#428, thanks, @kaplun) , and backporting this inveniogc to my systems (trivially), inveniogc still hangs my test server. I had to kill it after 36 hours of burning disk and CPU.  After digging the system with mytop, it is evident that left join kills MySQL very badly, and inveniogc cannot complete. Please convert all them to intbitset operations.

The

[2015-04-27 10:53] kaplun commented on #3054
Do you have this patch in your installation?

Commit 7fc855b312bfd1c5df6d5a5972ddf01e010da63c
Author: Tibor Simko <tibor.simko@cern.ch>
Date:   Wed Jul 4 14:48:56 2012 +0200

    installation: new index on session.session_expiry

    * Adds index on session.session_expiry.  Helps in speeding up
      the garbage collection process based on session expiry times.

[2015-04-27 11:25] fjorba commented on #3054
It seems so:
[code]

It is in the same machine where I have run inveniogc.

[2015-04-27 15:34] aw-bib commented on #2805
Just found by @cfrick-fzj

It also seesm that a query like

    id:"10.1175/BAMS-D-11-00123.1" or id:"10.1016/S1389-1286(00)00162-6"

goes entrily a miss in 1.1 (tested on 1.1.5 at http://juser.fz-juelich.de, should give two hits, ie both DOIs are there.)

    Search stage 1: basic search units are: [['+', '10.1175/BAMS-D-11-00123.1 or id:10.1016/S1389-1286(00)00162-6', 'id', 'a'], ['|', '10.1016/

[2015-04-28 06:59] jirikuncar commented on #2805
This has been solved in `invenio-query-parser` (*Invenio v2.1.dev+*):

[code]

[2015-04-28 07:00] crepererum commented on #3052
We should favour `localhost` over `127.0.0.1`, because it does not force IPv4. This simplifies testing and seems to be more future-proof (someday someone might have the idea to deactivate IPv4 handling for browser and other tools by default, because IPv4 addresses [can be fully mapped to IPv6 addresses](https://tools.ietf.org/html/rfc4291#page-10)).

[2015-04-28 07:05] aw-bib commented on #2805
Is there a backport of this fix to maint(-1.1)? This would indeed be quite important at least to us.

[2015-04-28 07:17] jirikuncar commented on #2805
@aw-bib it's not easily backportable. Maybe one can use `invenio-query-parser` to generate only basic search unit.

[2015-04-28 08:49] #2351 closed

[2015-04-28 08:49] #3039 closed

[2015-04-28 09:10] danmichaelo commented on #3039
I also got this error with version 2.0.2

[2015-04-28 10:01] jirikuncar commented on #3039
@danmichaelo can you downgrade `wtforms-alchemy`? Please create separate issue for `maint-2.0` where we can discuss it. Thanks

[2015-04-28 10:23] danmichaelo commented on #3039
Thanks, @jirikuncar , seems like it was fixed in 83a9ba90 by requiring `wtforms-alchemy<0.13.1` , so the `main-2.0` branch is fine (I just tested). Just the 2.0.2 release is not. Is a new issue still needed then?

[2015-04-28 11:02] chokribr commented on #2614
please look at this try in order to limit the number of login attempt in the legacy branch https://github.com/chokribr/invenio/commit/78f7e2c0eeeb103fe2123eb399e66881e7fb87db

[2015-04-28 11:26] tiborsimko opened #3064 "WebSession: HttpOnly cookie attribute"
**Issue**

NVT: Missing httpOnly Cookie Attribute
OID: 1.3.6.1.4.1.25623.1.0.105925
Threat: Medium (CVSS: 5.0)
Port: 80/tcp

Summary:
The application is missing the 'httpOnly' cookie attribute

Vulnerability Detection Result:
The cookies:
Set-Cookie: INVENIOSESSIONstub=NO; path=/
Set-Cookie: INVENIOSESSION=4432f39a12d25fd882509fec4bdd92d5; path=/ are mis

[2015-04-28 12:08] hachreak opened #3066 "SQLAlchemy: Re-enable VARBINARY for PostgreSQL"
It was accidentally disabled and introduced a name binding problem after import re-ordering with the commit https://github.com/inveniosoftware/invenio/commit/2d4a028809a8ea07808cc451e3bc67daef8baa32#diff-5ebe78e9ace771ebfe7bb4c6b3053cdb

[code]

[2015-04-28 12:30] jirikuncar commented on #3039
@danmichaelo if it's already fixed in `maint-2.0` then it's not necessary. We will release 2.0.3 in upcoming days.

[2015-04-28 15:35] #3066 closed

[2015-04-28 22:05] jirikuncar opened #3070 "account: make upgrade recipe accounts_2015_03_06_passlib safer"
- [ ] use `db.String().with_variant(mysql.VARCHAR(255), 'mysql')` in https://github.com/inveniosoftware/invenio/blob/956f9c476273d506313a15fe49e62adcdaa2f70a/invenio/modules/accounts/upgrades/accounts_2015_03_06_passlib.py#L85
- [ ] ~~Shall we only rename the column to `old_password` in https://github.com/inveniosoftware/invenio/blob/956f9c476273d506313a15fe49e62adcdaa2f70a/invenio/modules/account

[2015-04-29 07:08] lnielsen commented on #3070
Sorry, only had a very quick look, but what is the error or problem discovered?

E.g. ``password`` is hashed and stored into ``new_password``. Leaving ``old_password`` doesn't seem like a good idea to me (might be because I just don't know the underlying reason). I think it's better password be 255 chars since we don't have control of the hashing algorithm used by an Invenio instance.

[2015-04-29 07:15] jirikuncar commented on #3070
If the upgrade fails there is no quick rollback possible. (see email from @pbroz on mailing list)

[2015-04-29 10:01] #3008 closed

[2015-04-29 11:05] jirikuncar commented on #1241
Shall we change the collection graph to collection tree where each collection has only a single parent?

- [ ] single parent for collection
- [ ] decide on tree structure encoding

[2015-04-29 11:44] jacquerie commented on #3052
The incorrect, but commonly expected, behavior for `0.0.0.0` is being readded to Chrome: https://chromium.googlesource.com/chromium/src/+/65e7a0403eb51c8490ee13e5da3ed8e544c34926. On the other hand, I support the idea of using `localhost` instead.

@crepererum I see a few other mentions of `0.0.0.0` in the codebase. What about these?
[code]

[2015-04-29 12:40] crepererum commented on #3052
@jacquerie `CFG_SITE_URL*` is the URL promoted by Invenio. You should usually set this one to a hostname. We tried to clarify this in the linked PR by adding a new config option for the binding address and port. These are not necessarily the same as the URL, because you might want to shield Invenio using a reverse proxy (e.g. Apache, HAProxy, NGINX, ...).

The docker things are an override for the

[2015-04-29 13:08] mvesper commented on #2976
Even though there is still a lot of information to process, I split this RFC into 3 RFCs in another repo inveniosoftware/invenio-circulation#2, inveniosoftware/invenio-circulation#3, inveniosoftware/invenio-circulation#4.

This will hopefully lead to a more structured discussion, while this RFC is used for some kind of summary :)

[2015-04-29 13:35] #3052 closed

[2015-04-29 13:52] jalavik commented on #3052
@jacquerie Good to see that Chrome is adding the behavior back. Was driving me nuts.

I would still like to see the `INSTALL.rst` updated to suggest `localhost` as many devs would setup their initial environment using this - unless there was an issue I missed regarding `0.0.0.0` vs. `localhost`

[2015-04-29 14:55] dset0x commented on #2967
This is expected. The [test](https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/workflows/testsuite/test_workflows_others.py#L78) checks if the engine allows the ZeroDivisionError to bubble up to the user. It could potentially be silenced, but it is not an actual problem with the test.

[2015-04-29 15:01] jirikuncar commented on #2967
@dset0x that's fine. But the tests should not write to stderr unless they fail. If you expect something in stderr then catch it.

[2015-04-29 19:34] #3051 closed

[2015-04-30 10:00] hachreak opened #3079 "global: fully functional PostgreSQL DB backend"
The list of issues and PR that we need to solve before we can think to add PostgreSQL:

- [x] global: PostgreSQL Text type compatibility fix https://github.com/inveniosoftware/invenio/pull/3045
- [x] sqlalchemy: PostgreSQL - type Text and Integer compatibility https://github.com/inveniosoftware/invenio/issues/3037
- [x] general: fix models for PostgreSQL compatibility https://github.com/inveniosof

[2015-04-30 12:12] jirikuncar opened #3080 "documents: integration with Flask-IIIF"
- [ ] extend Flask-IIIF to read bytestream
- [ ] legacy fallback for `recid:{recid}` and/or `recid:{recid}-{filename}` and/or `{document.uuid}`

--
cc @blixhavn @egabancho @drjova

[2015-04-30 14:26] drjova commented on #2887
I think we could close this issue

cc @jirikuncar, @lnielsen

[2015-04-30 16:42] #2887 closed

[2015-05-04 07:36] blixhavn commented on #3080
Maybe we can get a 403 or something if the requested thumbnail is on a restricted document we don't have access to?

[2015-05-04 14:13] #3037 closed

[2015-05-05 12:24] lnielsen commented on #3029
Would go for (b)

[2015-05-05 16:24] jalavik opened #3089 "legacy: run_sql problems with quotes"
After 79741888d8e71b22e704a30038f9857d90a38590 there are several problems with running programs such as bibsched:

[code]
PS: Perhaps pylint -E could have catched this initial error?

I fixed the import, but for bibsched troubles were not over:

[code]

I tried fixing these, but its simply too much. Probably due to ansi mode quotes? I suggest in the meantime to revert 79741888d8e71b22e704a30038f98

[2015-05-05 17:45] hachreak commented on #3089
Sorry, I replaced import in any files but I forgot to leave necessary in dbquery... T_T
I'll fix it immediately! :)

[2015-05-05 18:54] jirikuncar commented on #3029
What about returning 502?

See http://tools.ietf.org/html/rfc7231#section-6.6.3:

OAuthClient is acting as a gateway to `authorize_url` that returns wrong response.

WDYT @emanueldima @lnielsen

[2015-05-05 19:50] hachreak commented on #3089
for the `ansi_quote`: I think it's necessary to be compatible with PostgreSQL. T_T
Tomorrow I'll work on replace `"` with `'` in raw query on legacy code to solve the 2° problem...

[2015-05-05 19:52] emanueldima commented on #3029
I agree with 502, makes sense to me. Will the error have a html payload, with a nice error message to the user?

[2015-05-05 19:53] jirikuncar commented on #3029
Invenio doesn't have nice 502 error page by default. Maybe it's time to create one ...

[2015-05-06 06:45] lnielsen commented on #3029
I would use 400 (bad request) or alternatively 415 (unsupported media type) instead.

5xx errors are server errors, where as 4xx errors are client errors. In this case, it's a client side error since ``Content-Type`` is not set in the request, and thus the request body is assumed to be ``application/json``. The client should have set ``Content-Type`` to ``application/xml`` in which case the reques

[2015-05-06 07:24] lnielsen commented on #3029
Actually, just talked to @jirikuncar who pointed out the error is when the server tries to exchange the one time code for an access token.

According to the traceback here:
https://github.com/lepture/flask-oauthlib/blob/v0.6.0/flask_oauthlib/client.py#L610

Actually, I think this is a configuration mistake that can be solved by setting ``content_type`` in the unit's remote app. See https://github.

[2015-05-06 07:28] lnielsen commented on #3029
I.e. here https://github.com/EUDAT-B2SHARE/b2share/blob/master/invenio/modules/oauthclient/contrib/unity.py#L62 I think you should add:

[code]

[2015-05-06 07:40] emanueldima commented on #3029
The Unity server does not set the content type when returning an error with xml payload, and that's bad. But all the normal communication is json.

[2015-05-06 08:15] #3029 closed

[2015-05-06 09:13] hachreak opened #3094 "RFC bibXXX census"
Can we take a census of the status of all bibXXX commands?
Can you help me to collect informations? :)

I'd like to have an overview of the current state (which one are currently used, which are deprecated, atc..).
Wen can use this issue to mark progress.

For now, I executed the command without check all cases and I initially collect this information about them:

- [ ] [N] bibauthorid `ImportErro

[2015-05-06 09:17] kaplun commented on #2791
@tiborsimko, where is/what is the current status of the audit module you pointed out?

[2015-05-06 09:49] kaplun opened #3095 "WebSearch: 'e' method in search_unit()"
Currently when one uses `search_unit(p=... f=..., m='e')` the current code (in legacy):

[code]

makes search_unit() to use `search_unit_in_bibwords()` (i.e. the WORD index), instead of `search_unit_in_idxphrases()` as intended.

Is this intended or a bug?

[2015-05-06 09:50] kaplun commented on #3095
@tiborsimko do you know why?

[2015-05-06 09:51] kaplun commented on #3095
This currently is causing misbehavior in INSPIRE for the citation linking.

[2015-05-06 09:57] jalavik commented on #3095
The `subject` part was an addition made for INSPIRE back in the day, but I guess you refer to the `m='e'` part.

[2015-05-06 10:59] jalavik commented on #3089
BTW, visiting the `/admin/` page gives the following error:

[code]

[2015-05-06 11:23] jirikuncar commented on #3089
@jalavik can you be more specific? Do you have a full traceback?

[2015-05-06 12:20] jalavik commented on #3089
@jirikuncar Sure, all the admin sites are broken, including login.

* Go to http://0.0.0.0:4000/admin/ or try to login:
[code]

[2015-05-06 12:29] hachreak opened #3098 "global: remove all run_sql from modules"
Actually we have this modules that contains one or more `run_sql` (and consequently raw sql queries).

- [ ] access
- [ ] bulletin
- [ ] comments
- [ ] formatter
- [ ] indexer
- [ ] messages
- [ ] records
- [ ] search
- [ ] sequencegenerator

One of the next goal should be convert them completely.

[2015-05-06 13:47] hachreak opened #3099 "PostgreSQL: access module assignes -1 to a foreign key"
On `database create` with PostgreSQL I have a problem to resolve:

[code]

Access module try to put -1 on column `id_accARGUMENT` of the table `accROLE_accACTION_accARGUMENT`.
But it's a column that contains a Foreign Key!
So, PostgreSQL refuses to execute the query... T_T

I have 2 possibility to fix the problem:

1. Remove the Foreign Key from column `id_accARGUMENT` (easy way)
2. Find and subst

[2015-05-06 14:08] jacquerie commented on #3089
I have a theory: https://github.com/inveniosoftware/invenio/blob/master/invenio/legacy/miscutil/sql/tabcreate.sql#L3713-L3721 creates a `accROLE_accACTION_accARGUMENT` with no `id` field, which is instead declared in its model: https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/access/models.py#L183.

Deleting those lines in `tabcreate.sql` fixes the problem, but I'm not sure i

[2015-05-06 14:09] jirikuncar commented on #3089
That file is never used ...

[2015-05-06 14:12] hachreak commented on #3089
@jalavik please, can you recreate the database with latest version of invenio master? :)
Maybe we already fix the problem.

[2015-05-06 14:23] jacquerie commented on #3089
Uh, after updating to latest master it works. The fact is, this was the table structure before:
[code]
and this is what I have now:
[code]

[2015-05-06 14:26] jirikuncar commented on #3089
I'm going to remove legacy sql scripts in order to avoid confusion.  (see #3102)

[2015-05-06 14:30] jalavik commented on #3089
@hachreak @jirikuncar So recreating the database may make it work, but it is not really the ideal solution. What about other Invenio instances upgrading with their precious data? So we would need to create a new upgrade script, I guess, to add the id column.

[2015-05-06 14:36] jirikuncar commented on #3089
@hachreak it was introduced in 79741888. Can you create an upgrade recipe?

[2015-05-07 07:54] #2302 closed

[2015-05-07 07:56] hachreak opened #3106 "global: invenio.config deprecation"
@jirikuncar told me that it's there only for legacy code and should be deprecated.
But if you execute `git grep "invenio.config"`, you can see that also many "normal" modules use it.

Can we deprecate it and substitute all `invenio.config` with `invenio.base.config`?

[2015-05-07 07:59] jirikuncar commented on #3106
We can deprecate it but we should not replace it with `invenio.base.config` but with `invenio.base.globals:cfg` or `current_app.config`. Please note that we should do it only in `invenio.modules` as `invenio.legacy` requires UTF-8 values.

[2015-05-07 10:28] sbujam opened #3107 "WebAccess: minor ommission in a doc example (regarding groups and fireroles) may produce an exception"
It seems that if one follows the example in the WebAccess docs, and tries to enter:
```deny group badguys```
in a firerole, an exception is thrown.

By reading the code, I found out that the solution is VERY simple: I just have to put single or double quotes in the groupname to make it work! So,
```deny group 'badguys'```

is OK and produces no exceptions.

The requirement to have expressions incl

[2015-05-08 08:34] jirikuncar opened #3110 "RFC bibdocfile: removed in 2.3"
### Proposal

As documents module is getting stable we propose to deprecate bibdocfile module and remove it in 2.3.

- [ ] fulltext extraction to special field in document
- [ ] add migration script (matching fields from bibdocfile to new document model)
- [ ] missing cli vs. admin interface

[2015-05-08 09:12] jirikuncar opened #3111 "RFC accounts: REST API for settings"
After musings with @egabancho we propose following (REST) API for accessing user settings:

[code]

[2015-05-08 09:21] egabancho commented on #3111
cc @drjova

[2015-05-08 09:27] jmartinm opened #3112 "knowledge: add filter for knowledge mappings"
A common use case when using knowledge bases is to focus on a given KB and add/remove/edit some entries.

At the moment, the Flask Admin interface looks like:

![screenshot 2015-05-08 11 23 33](https://cloud.githubusercontent.com/assets/580727/7533811/e981950e-f574-11e4-8e6d-d495a203a015.png)

Which makes it quite difficult to navigate a given KB.

Is it possible to add a filter under `Add Filter`

[2015-05-08 09:33] lnielsen commented on #3111
What is the use case for accessing the settings, and how can user edit the settings themselves?

And have you considered:
[code]

[2015-05-08 09:34] lnielsen commented on #3110
+1

[2015-05-08 09:36] egabancho commented on #3110
+1

[2015-05-08 09:40] jirikuncar commented on #3111
It was just a quick musing and it was the other option. I like it, hence :+1:

[2015-05-08 09:51] egabancho commented on #3111
The use case for CDS would be mainly to retrieve/update the home page boxes configuration.

[2015-05-08 09:51] jirikuncar commented on #3112
@jmartinm (or @hachreak) can you move it to `invenio-knowledge` package?

[2015-05-08 13:00] lnielsen commented on #3111
I'm know I'm probably opening a can of worms here, but perhaps it's worthwhile taking the settings out of the ``user`` table and into a separate one?

[2015-05-08 13:04] jirikuncar commented on #3111
That would be nice start for new general "User Settings" service. Can we elaborate more on possible use-cases of `PUT`ting/`GET`ting data in safe way from JavaScript using (REST) API? (cc @egabancho)

[2015-05-08 13:15] hachreak commented on #2853
see also `git grep "CERN.*hack"`

[2015-05-08 15:54] jirikuncar commented on #2772
@egabancho maybe we should hotfix it here for 2.1. WDYT?

[2015-05-10 18:49] lovasko opened #3115 "Docker: building, non-existent files"
This line https://github.com/inveniosoftware/invenio/blob/master/Dockerfile#L83 seems to be expecting a `git clone` of the invenio repository in the `/` directory inside the container. Is there some special way to build the Dockerfile apart from `docker build .`? If so, is it intentional that the basic `docker build .` does not work?

[2015-05-11 09:06] lnielsen commented on #3111
The user settings I see only as a backend thing. I.e. no generic UI on the top since it won't be customisable enough (note, this doesn't prevent a module for adding a /views/settings.py that get/update values in the user settings backend - it's just that we shouldn't have a generic UI into it).

[2015-05-11 09:27] lnielsen commented on #3115
cc @crepererum

[2015-05-11 09:40] lovasko commented on #3115
I was thinking that this is maybe expecting some kind of volume mapping that is not mentioned (maybe is, sorry) or instead of the `COPY` we might use the `ADD` instruction.

[2015-05-11 11:56] crepererum commented on #3115
Nope, it copies the listed files into the `/code` directory of the container (the path gets created because it does not exist at this point). It does not checkout the project in any root folder.

Should their be one?

Can explain why it is not working?

For `COPY` vs `ADD` see
 - https://docs.docker.com/articles/dockerfile_best-practices/#add-or-copy
 - http://www.centurylinklabs.com/dockerfile-ad

[2015-05-11 12:03] lnielsen commented on #2739
http://invenio.readthedocs.org/en/latest/modules/oauthclient.html

[2015-05-11 12:36] kaplun commented on #3110
Newbie question: how restrictions are supported by the new document model? In particular in terms of streaming documents?

[2015-05-11 13:13] hachreak commented on #3112
Hi @jmartinm,
I knew that Invenio had some imcompatibility with Flask Admin (e.g. see https://github.com/inveniosoftware/invenio/issues/2690 )
If you open "Knowledge Base" and "Knowledge Mapping" pages and click on "Add Filter", the browser give you some errors? Can you see any filter?

[2015-05-12 08:05] lnielsen commented on #3110
Restrictions works more or less like in bibdocfile. See
- https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/access/jsonext/fields/acl_base.cfg
- https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/records/views.py#L211
- https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/access/bases.py#L56

With respect to streaming I'm not sure though.

[2015-05-12 09:13] #2276 closed

[2015-05-12 09:59] hachreak opened #3120 "RFC Dependency graph of Invenio modules"
Talking with @jirikuncar we thought that can help have a global vision of inter-dependencies of modules.
Especially now that We started to move out them.
So, I created [this script](https://github.com/hachreak/console-utils/blob/master/invenio-utils/invenio_internal_dependencies.sh) and I generated this .png image:

![dependencies](https://cloud.githubusercontent.com/assets/377047/7584485/36cb2d12

[2015-05-12 14:01] kaplun commented on #2886
Note: http://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-mlt-query.html

[2015-05-12 14:53] jmartinm commented on #3112
@hachreak this is what I see. There is no error in the console.

Clicking the filters does not do anything :(

![localhost 5000 admin kb 1](https://cloud.githubusercontent.com/assets/580727/7590166/4ffa7d32-f8c7-11e4-9449-3830c58c09ab.png)
![localhost 5000 admin kbrval 2](https://cloud.githubusercontent.com/assets/580727/7590170/51c8a260-f8c7-11e4-9816-82d51f5efe04.png)

[2015-05-12 15:05] jgarcial opened #3124 "deposit: feedback on file upload validation errors"
When you click submit but the files uploaded don't pass the validation, you go back to the form page but you don't see the error warnings.
This is confusing for the users, because they don't know what is wrong. You need to click on 'Save' to see the warning messages.

[2015-05-13 06:56] lnielsen commented on #3124
If you have errors in the form, press save, then reload the browser, is the errors displayed then?

[2015-05-13 07:31] jgarcial commented on #3124
Yes, that works. But users won't expect this behavior.

[2015-05-13 08:12] lnielsen commented on #3124
Yes, I agree. Was just trying to figure out where the problem might be.

[2015-05-13 09:22] hachreak opened #3126 "roadmap: remove CDS/INSPIRE/etc service-centric code parts"
**Problem**
Part of Invenio code is completely Cern/Inspire/...-centric or it's a hack.

**Summary**
I make here a summary of all issues/PR connected and all things that maybe can be removed or moved from Invenio core to a specific module/overlay.

- [ ] RFC Dropping INSPIRE-centric legacy code https://github.com/inveniosoftware/invenio/issues/2853
- [ ] global: CFG_CERN_SITE still in code https:/

[2015-05-13 13:59] jmartinm opened #3127 "formatter: RegistryError Namespace format_elements already taken"
Using the latest `master` code, when accessing pages where formatter needs to be used (search results, holding pen entries) the following error appears on **the first request to the server**:

[code]

Refreshing the page makes it go away. Any hint of what might be the problem?

[2015-05-15 08:36] kaplun commented on #1241
:+1: as this would simplify authorization policy. For a given collection it would be always clear (given the chain of parents) whether it is public or not.

[2015-05-15 08:58] tiborsimko commented on #2772
:+1: for a hotfix until standalone jsonalchemy is usable.  The output of `get_record()` had better be consistent...

[2015-05-15 09:04] lnielsen commented on #3070
Mailing list message:

Hello,

we have installed the current git master Invenio version over an older
one from pu (09/28/2014) but now no user is able to log in. The system
says "Invalid credentials".

We have managed to reset password for individual users through
inveniomanage shell but would like to warn other people of this
possibly serious problem.

We suspect accounts_2015_03_06_passlib upgra

[2015-05-15 09:51] tiborsimko commented on #3099
Considering there is no immediate plans to refactor access, @hachreak please look at fixing SQL queries (even at the price of removing foreign key!) so that the work on PostgreSQL can move forward.

[2015-05-15 09:57] lnielsen commented on #3070
Perhaps related to empty passwords

[2015-05-15 10:02] lnielsen commented on #3015
Part of documentation update.

[2015-05-15 12:41] nharraud opened #3134 "global: -f/--force option for inveniomanage config"
`inveniomanage config set/create ...` commands fail if the key already exists.

As we use these commands during installation it would be useful to have an option which prevents them from failing (print warning and return 0). We would then be able to differentiate real failures from repetitions of the same config key set/create.

My current use case is the B2SHARE installation script. I have to add

[2015-05-15 15:23] tiborsimko commented on #1568
Fixed in eb53cc6308a1cef5cb37051361038238a9441cb0.

[2015-05-15 15:23] #1568 closed

[2015-05-15 15:33] tiborsimko commented on #1554
@ludmilamarian Which milestone you would like to go for here? 1.x?  2.x?  Or close the issue as "someday" if there is no active work going on right now?

[2015-05-15 15:35] tiborsimko commented on #1553
@ludmilamarian @kasioumis Can you please update this issue to reflect current status?

[2015-05-15 15:36] tiborsimko commented on #1577
@ludmilamarian @kasioumis @egabancho Is this still applicable?

[2015-05-15 15:38] tiborsimko commented on #1556
Considering that we went for tags, I'm closing this issue as "someday".  CC @kasioumis

(It may still be good to have an auto-tag facility to say "read", etc.)

[2015-05-15 15:38] #1556 closed

[2015-05-15 15:42] tiborsimko commented on #1545
As mentioned by @tsgit, I was of the opinion that we don't want to wait for the search response in order to see which HTTP headers to send.  (Would be penalising the regular users too much.) I'm therefore closing this issue.  It can be reopened for 2.x if wanted.  CC @kaplun in case this was touched in INSPIRE overlay.

[2015-05-15 15:42] #1545 closed

[2015-05-15 15:43] ludmilamarian commented on #1554
It should be 2.x. As we are moving along with CDS on master, the work started for this feature should be revised and completed during this year. Can we have 2.x milestones, without knowing for sure the x?

[2015-05-15 15:47] ludmilamarian commented on #1577
I would say we can take this into consideration for BibCirculation on master, and let it as it is for legacy, but maybe @egabancho or @kasioumis know more about it.

[2015-05-15 15:49] tiborsimko commented on #3031
@audub Which Invenio version is this for?  Do you want to add subfield $a when $a is already present with some given value?  This would lead to a multiple subfields in the same field... Didn't you rather want to act on "other subfield", which is how the multi-record editor UI usually presents this feature?

[2015-05-15 15:51] egabancho commented on #1577
ping @mvesper ;-)

[2015-05-15 15:53] tiborsimko commented on #1554
If we have concrete planning and timing, then we could create a later milestone, e.g. 2.4 or 2.5 or even 2.9.  If we don't have concrete timing, then we can close it with "someday" and revive it when the time comes.  (There are few more issues in "someday" like this.)

[2015-05-15 15:57] tiborsimko commented on #1542
In the meantime, all users of CDS have been attributed a nickname, filled automatically from CERN SSO, so I'm closing this issue. CC @kasioumis

(Moreover, in Invenio 1.x installations, newly registered users are by default forced to set up a nickname, so this problem should not be visible there.)

[2015-05-15 15:57] #1542 closed

[2015-05-15 15:58] #1494 closed

[2015-05-15 15:59] tiborsimko commented on #1512
@egabancho Where do we stand on this?

[2015-05-15 16:01] tiborsimko commented on #1471
@jalavik Is this still applicable?  See also https://github.com/inveniosoftware/invenio/issues/1701

[2015-05-15 16:05] #1463 closed

[2015-05-15 16:09] tiborsimko commented on #1434
@ludmilamarian @kasioumis @egabancho Do you know if this is still of interest?  In theory, one can add to the query a term like "collection:THESIS".  (Using 980 values, not collection names.) This works well in Invenio v2.1 with collection names, actually.

[2015-05-15 16:18] tiborsimko commented on #1490
This was fixed in the meantime; no traceback is emitted in this situation.

[2015-05-15 16:18] #1490 closed

[2015-05-15 16:19] tiborsimko commented on #1485
Closing this issue; the indexing process was optimised by @gszpura in the meantime.

[2015-05-15 16:19] #1485 closed

[2015-05-15 16:22] tiborsimko commented on #1413
Closing this issue that will be better addressed in the new circulation module that is under development.  CC @mvesper @ludmilamarian @kasioumis @egabancho

[2015-05-15 16:22] #1413 closed

[2015-05-15 16:23] #1385 closed

[2015-05-15 16:23] tiborsimko commented on #1368
Closing his old issue.  Zenodo has its own overlay.

[2015-05-15 16:23] #1368 closed

[2015-05-15 16:24] #1365 closed

[2015-05-15 16:24] #1364 closed

[2015-05-15 16:25] #1362 closed

[2015-05-15 16:25] #1361 closed

[2015-05-15 16:25] #1359 closed

[2015-05-15 16:27] tiborsimko commented on #1357
Closing an old overlay specific issue.

[2015-05-15 16:27] #1357 closed

[2015-05-18 07:37] egabancho commented on #1512
Probably we can close it, once we have JSONAlchemy ready, one should be able to define this using the schema.

WDYT?

[2015-05-19 07:15] jmartinm opened #3138 "general: legacy config variables deprecation message improvement"
Since the update to latest ``master`` the following errors appear many times in the development console.

[code]

Problem here is that no reference to the actual problem is made, only a pointer to a line in the ``werkzeug`` library. This message should be improved if the aim is for the developer to make some fixes before Invenio 2.2 is released.

[2015-05-19 07:37] hachreak commented on #3138
I found the line: https://github.com/inveniosoftware/invenio/blob/master/invenio/base/config.py#L87
And this is the commit: https://github.com/inveniosoftware/invenio/commit/ab641f6239b5a2edf79901e2da2a152e2ef37470
You can ask to @dset0x to help you to improve it :)

p.s. on invenio configuration loading, there is also another issue opened that can be connected: https://github.com/inveniosoftware/

[2015-05-19 07:52] jmartinm commented on #3138
Thanks @hachreak , @dset0x can you have a look?

[2015-05-19 07:53] dset0x commented on #3138
@jmartinm This patch should supply you with a stacktrace. It's probably a bit verbose to put in production however. https://gist.github.com/dset0x/da61b5ccf024049f90e2

[2015-05-19 07:55] kaplun opened #3139 "WebSearch: "OR NOT" bug"
A users report on INSPIRE:
[...]
I'm having some problems related to the Google-like search functionality which I guess are related to parenthesis handling.

As an example take the two following searches:
`author:"a valcarce" -author:"catelan, m"`
`author:"e. hernandez" (salamanca | valladolid)`

​​As far as I know, both are well formed. The first one returns 161 results and the second one 94.

No

[2015-05-19 08:26] tiborsimko commented on #3139
This stems from the fact that nested expressions weren't first-class citizens in the original query parser, so to speak.  While expressions like "foo AND NOT bar" can be reduced to linear L2R processing by transforming them to "foo -bar", expressions like "foo OR NOT bar" require an "invisible" parentheses like "foo OR (*everything* NOT bar)".

This should not be a problem in Invenio 2.1 code base

[2015-05-19 09:15] dset0x commented on #3138
As you can see in `deprecation.py:deprecated`, we make an effort to print the correct line. This works for direct invocations, but flask and werkzeug are more complex than that. Here's a sample traceback:

[code]

As you can see the problem (kind of) originates in `site-packages/flask_debugtoolbar/templates/panels/config_vars.html`, which loops through a many key-value pairs for debugging purposes

[2015-05-19 14:25] jmartinm commented on #3138
Thanks for the update @dset0x

I am not sure what the best solution would be, but number 3 would get the job done as far as I can see.

[2015-05-19 14:35] dset0x commented on #3138
@jmartinm I implemented it in the linked PR. Please give it a try when you have some time!

[2015-05-20 07:08] crepererum commented on #3120
[line 80](https://github.com/hachreak/console-utils/blob/master/invenio-dependencies.sh#L80): `s|~/tmp/dependencies.dot|$TMPFILE|`

Why exactly do you ignore imports like `import invenio.modules.foo as bar`? You say that they're `external`, but I do not really understand what you mean by that.

[2015-05-20 07:47] hachreak commented on #3120
Thanks.. I forgot to replace the file name.. :)

For the question: normally if we need to import something we use `from something import something` and we leave `import something` only for external packages.
Try to look. You'll find that there are only few places that not use this rule (and probably legacy code).
But, yes, if you want be more general, you can add a new filter to look for that case

[2015-05-20 08:23] hachreak opened #3145 "oauth2server: oauth2CLIENT not cleaned if user is deleted"
I found that there is not any cascade action after a user is deleted.
So, e.g. if you run testsuite on tags module, at the end we have 14 rows in `oauth2CLIENT` table.

[2015-05-20 08:34] crepererum commented on #3120
Improved version that uses [snakefood](http://furius.ca/snakefood/) and edge deduplication:

https://gist.github.com/crepererum/a054355a7c49ebbba85d

![invenio-deps](https://cloud.githubusercontent.com/assets/1529400/7721890/c58399f2-fedb-11e4-8951-c272acd0b363.png)

[2015-05-20 09:01] crepererum commented on #3120
Removing transitive components using `tred` (part of graphviz):

![test2](https://cloud.githubusercontent.com/assets/1529400/7722270/f02383d6-fede-11e4-982a-d2f9108684f2.png)

This shows that we have a dependency cycle. We should think about how to remove this, because these kind of structure make upgrading and dependency management complicated. Furthermore it may be an indicator for the existence

[2015-05-20 09:12] hachreak commented on #3120
:+1:

[2015-05-20 11:06] kaplun commented on #3120
What's the the arrow meaning: does "x -> y", means "x (indirectly) import y"?

[2015-05-20 11:20] hachreak commented on #3120
x require y to works

[2015-05-20 11:29] crepererum commented on #3120
For the full graph: `x -> y` <=> "`x` imports `y` in some way (e.g. `import y`, `from y import foo`, `import y as bar`, ...). Dynamic imports are ignored though.

For the reduced graph: `x -> y` => "`x` imports `y` in some way" (notice the implication instead of an equivalence).

In both graphs, non-python relations (templates, static files, whatever is written to the DB or the broker) are ignored

[2015-05-20 12:36] jochenklein opened #3146 "installation: failed to create database on OS X"
Following the [installation guide](https://github.com/inveniosoftware/invenio/blob/master/INSTALL.rst) to install Invenio on OS X, @nharraud and I got following error when creating the database `$ inveniomanage database create` on `master` branch:

[code]

We fixed that issue by editing the `invenio.cfg` file: `(invenio)$ vim var/invenio.base-instance/invenio.cfg`:
* replacing `master` with `root`

[2015-05-20 12:48] jalavik commented on #3146
I had the same problem recently. I found a solution with the grants setup using `@'%'` instead of `@localhost`. So if you simply add another grant that use `@localhost` in place of `%`, it works.

[2015-05-20 13:42] jalavik commented on #3146
Added 2.1 milestone as it can be a potential problem for people when installing on OS X. We can try adding to the database init script an additional grant that uses `@localhost` in addition to `@'%`.

[2015-05-20 13:54] tiborsimko commented on #3095
**1.** Regarding "subject", we have talked about it independently with @jalavik and @Kennethhole.  This was added via INSPIRE search branch, but IMO it should be removed.  If a special treatment for "subject" is needed, then it is better achieved via dedicated tokeniser, like for author field.  Actually, @Kennethhole has a client that uses an index called "subject" with another default tokeniser..

[2015-05-20 14:03] hachreak opened #3147 "workflow: bwlOBJECT records not deleted after deleting bwlWORKFLOW record"
If you run testsuite on deposit you can see that 2 records remains on `bwlWORKFLOW` table.

Using PostgreSQL, I'm receiving this error:

[code]

[2015-05-20 14:30] jalavik commented on #3147
Interesting. Could it be something missing regarding cascading deletes here: https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/workflows/models.py#L337-L339 ?

[2015-05-20 14:35] hachreak commented on #3147
I'm trying to investigate that :)
Transforming that line in:

[code]

[2015-05-20 15:18] #3064 closed

[2015-05-20 15:20] tiborsimko commented on #1576
No idea.  I guess @jeromecaffaro simply took what some instances sometimes receive IRL...

[2015-05-20 15:25] tiborsimko commented on #11
BTW this issue can be almost closed, except for:

- http://github.com/johndyer/mediaelement/zipball/master

that is asking for master version.

(And https://github.com/douglascrockford/JSON-js but this does not have any tagged releases still.)

[2015-05-20 16:01] hachreak commented on #3147
The changes seems to resolve the issue.
And I found the problem with the 2 records..... in (test)[https://github.com/inveniosoftware/invenio/blob/master/invenio/modules/deposit/testsuite/test_deposit_models.py#L52] the records are created, executed the tests, but not removed... :)

[2015-05-20 16:19] jmartinm commented on #3127
Closing it for the moment as it seemed to be generated by adding some legacy bft files in the overlay.

[2015-05-20 16:19] #3127 closed

[2015-05-22 07:59] lnielsen commented on #3145
Actually I'm not sure if oauth2client table should be cleaned if a user is deleted.
Currently as it is now you can have data in the extra data variable, which you might not want to loose. I see two solutions, one is that the data is moved somewhere else, or alternatively we add support for marking a user as deleted without removing him/her from the database, so that we can still keep a record of w